@model risk.control.system.Models.AnnualIncome
@{
    ViewData["Title"] = @Applicationsettings.EDIT;
}
<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title"><i class="fas fa-money"></i> @Applicationsettings.EDIT </h3>
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <form id="edit-form" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <span class="input-group-label"> Income Name:</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-money"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input id="Name" type="text" asp-for="Name" class="form-control remarks title-name" required placeholder="Income Name" maxlength="50">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <span class="input-group-label"> Income Code:</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Code"><i class="fas fa-code"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input type="text" asp-for="Code" class="form-control remarks title-name" required placeholder="Income Code" maxlength="20">
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group text-right">
                    <a id="back" asp-action="Profile" class="btn btn-secondary"><i class="fa fa-window-close"></i> @Applicationsettings.CANCEL</a> &nbsp;
                    <button id="edit" type="submit" class="btn btn-warning"> <i class="fas fa-money"></i> @Applicationsettings.EDIT </button>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company-admin/income.js">
       
    </script>
    <script src="~/js/common/form-validation.js"></script>
}
