<!-- Cookie Consent Popup -->
@if (Context.Request.Cookies["analyticsCookies"] == null && Context.Request.Cookies["marketingCookies"] == null)
{
    <div id="cookiePopup" class="popup">
        <div class="popup-content">
            <h3>Accept Cookie Consent</h3>
            <p id="cookie-content">
                This application uses some cookies and records your IP address for the purposes of accessibility, security, and managing your access to the telecommunication network.
                You can disable data collection and cookies by changing your browser settings, but it may affect how this application functions. <a href="#" id="privacy">Learn More</a>
            </p>
            
            <div class="popup-buttons">
                <button id="acceptCookies" class="btn-accept">Accept All Cookies</button>
                <button id="manageCookies" class="btn-manage">Manage </button>
                <button id="revokeConsent" class="btn-revoke">Close</button>
            </div>
        </div>
    </div>

    <!-- Cookie Management Popup -->
    <div id="cookieManagePopup" class="popup">
        <div class="popup-content">
            <h3>Manage Cookie Preferences</h3>
            <form id="manageCookieForm">
                <div>
                    <input type="checkbox" id="essentialCookies" disabled checked>
                    <label for="essentialCookies">Essential Cookies (Required)</label>
                </div>
                <div>
                    <input type="checkbox" id="analyticsCookies" name="analyticsCookies">
                    <label for="analyticsCookies">Analytics Cookies</label>
                </div>
                <div>
                    <input type="checkbox" id="marketingCookies" name="marketingCookies">
                    <label for="marketingCookies">Marketing Cookies</label>
                </div>
                <div class="popup-buttons">
                    <button type="button" id="savePreferences" class="btn-accept">Save Preferences</button>
                    <button type="button" id="cancelManage" class="btn-revoke">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div id="customAlert" class="alert-popup">
        <div class="alert-content">
            <span id="alertMessage">Cookies accepted! Get the best experience on our website.</span>
        </div>
    </div>
}