<span id="cookieRevoke">
<span id="cookieRevokeSpan">
    <span>All Cookies consent accepted.</span>
    <button id="cancelConsent">
            Manage
    </button>
</span>
</span>

<!-- Cookie Consent Popup -->
        <div id="cookiePopup" class="popup">
            <div class="popup-content">
                <p id="cookie-content">
        We use cookies to personalize content, analyze traffic, and improve user experience. By clicking "Accept," you consent to the use of all cookies. You can manage your preferences or revoke consent at any time.
        <a href=# id="privacy">Learn More</a>
        </p>
                <div class="popup-buttons">
                    <button id="acceptCookies" class="btn-accept">Accept</button>
                    <button id="revokeConsent" class="btn-revoke">Cancel</button>
                </div>
            </div>
        </div>

<div id="customAlert" class="alert-popup">
    <div class="alert-content">
        <span id="alertMessage">Cookies accepted, Get the best experience on our website !!!</span>
    </div>
</div>

<div id="errorAlert" class="alert-popup">
    <div class="alert-content">
        <span id="alertMessage"></span>
    </div>
</div>


