<!-- Cookie Consent Popup -->
@if (Context.Request.Cookies["analyticsCookies"] == null && Context.Request.Cookies["perfomanceCookies"] == null)
{
    <div id="cookiePopup" class="popup">
        <div class="popup-content">
            <h3>Accept Cookie Consent</h3>
            <p id="cookie-content">
                This application uses some cookies and records your IP address for the purposes of accessibility, security, and managing your access to the telecommunication network.
                You can disable data collection and cookies by changing your browser settings, but it may affect how this application functions. <a href="~/page/privacy.html" id="privacy"> More</a>
            </p>

            <div class="popup-buttons">
                <button id="acceptCookies" class="btn-accept">Accept All Cookies</button>
                <button id="manageCookies" class="btn-manage">Manage </button>
                <button id="revokeConsent" class="btn-revoke">Close</button>
            </div>
        </div>
    </div>

    <!-- Cookie Management Popup -->
    <div id="cookieManagePopup" class="popup">
        <div class="popup-content">
            <h3>Manage Cookie Preferences</h3>
            <form id="manageCookieForm text-sm">
                <div class="cookie-info">
                    <input type="checkbox" id="essentialCookies" disabled checked>
                    <label for="essentialCookies">Essential Cookies (Required)</label>
                    <p class="cookie-description">
                        These cookies are necessary for the website to function properly and cannot be disabled. They include things like authentication, session management, and security features, ensuring you can navigate the site securely. Without these cookies, certain functions of the website, such as logging in or completing a transaction, would not be possible.
                    </p>
                </div>
                <div class="cookie-info">
                    <input type="checkbox" id="analyticsCookies" name="analyticsCookies">
                    <label for="analyticsCookies">Analytics Cookies</label>
                    <p class="cookie-description">
                        These cookies help us gather data on how users interact with the website. We use this information to improve the user experience, optimize the content, and layout of the site. They help us understand which pages are visited most often, how users navigate the site, and where they might encounter issues. This data is collected in an anonymous, aggregated form, and helps us make informed decisions to improve overall site performance.
                    </p>
                </div>
                <div class="cookie-info">
                    <input type="checkbox" id="performanceCookies" name="performanceCookies">
                    <label for="performanceCookies">Performance Cookies</label>
                    <p class="cookie-description">
                        Performance cookies collect information about how users interact with the site, such as page loading times and the functionality of specific elements. By enabling these cookies, you help us enhance the overall performance of the website, ensuring a smoother experience for all users.
                    </p>
                </div>
                <div class="popup-buttons">
                    <button type="button" id="savePreferences" class="btn-accept">Save Preferences</button>
                    <button type="button" id="cancelManage" class="btn-revoke">Cancel</button>
                </div>
            </form>
        </div>
    </div>



    <div id="customAlert" class="alert-popup">
        <div class="alert-content">
            <span id="alertMessage">Cookies accepted! Get the best experience on our website.</span>
        </div>
    </div>
}