<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Map Info </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-title">Agent Address (S): <strong id="mapModalAgentAddress"></strong> </div>
                <div class="modal-title"><span id="mapModalPersonAddressLabel"> Person Address (E) </span>: <strong id="mapModalPersonAddress"></strong> </div>
                <div class="modal-title">Distance: <strong id="mapModalDistance"></strong> </div>
                <div class="modal-title">Duration: <strong id="mapModalDuration"></strong> </div>
            </div>
            <div class="modal-body">
                <img id="modalMapImage" class="modal-map-image img-fluid rounded" alt="preview" />
            </div>
        </div>
    </div>
</div>
