<div id="passwordModal" class="hidden-section">
    <div class="popup-content">
        <div class="card card-light h-100">
            <div class="card-header">
                <h3 class="card-title">
                    <img class="icheckify-logo" src="~/headers/information.gif" alt="Information" class="img-fluid" /> Password advice
                </h3>
            </div>
            <div class="card-body">
                <!-- Add Image Below the Welcome Message -->
                <div class="text-left">
                    <span class="text-muted">We are glad you're here! Please reset your password to continue. Make sure your new password is strong and unique.</span>
                </div>
                <!-- Basic Description -->
                <div class="welcome-message text-sm text-muted">
                    @{
                        var characters = "!@#$%^&*";
                    }
                    <ul class="mt-3">
                        <li><div class="check-icon">✓  <strong>At least 8 characters long</strong> - Ensure your password is long enough to provide good security.</div> </li>
                        <li><div class="check-icon">✓ <strong>Includes a mix of letters and numbers</strong> - Combine characters from different categories makes it harder to guess.</div> </li>
                        <li><div class="check-icon">✓ <strong>Contains at least one special character</strong> - Include symbols like <div id="valid-characters"> @characters </div> adds an extra layer of security.</div> </li>
                        <li><div class="cross-icon">X  <strong>Avoids common words or easily guessable patterns</strong> - Do not use obvious choices e.g. <div id="invalid-characters">password123</div>.</div></li>
                    </ul>
                </div>

            </div>
            <div class="card-footer">
                <div class="popup-buttons">
                    <button id="closeterms" class="btn-revoke">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>