<!-- Modal for Interactive Map -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Location Map</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> X </button>
			</div>
			<div class="modal-body">
				<div id="mapLoadingSpinner" class="text-center my-3">
					<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
				</div>
				<div id="liveMap">
					<img id="agent-map-url" class="img-fluid"/>
					<div id="agent-msg">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="imageModalLabel">Preview Image</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> X </button>
			</div>
			<div class="modal-body text-center">
				<img id="modalImage" src="" class="img-fluid" alt="Preview" />
			</div>
		</div>
	</div>
</div>
