<!-- FaceId Update Modal -->
<div class="modal fade" id="faceIdUpdateModal" tabindex="-1" aria-labelledby="faceIdUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="faceIdUpdateModalLabel">Update FaceId</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="faceIdUpdateForm">
                <div class="modal-body">
                    <input type="hidden" name="FaceId" />
                    <input type="hidden" name="LocationId" />
                    <div class="mb-3">
                        <label for="NewFaceIdName" class="form-label">FaceId Name</label>
                        <input type="text" class="form-control" id="NewFaceIdName" name="NewFaceIdName" />
                    </div>
                    <div class="mb-3">
                        <label for="NewReportType" class="form-label">Report Type</label>
                        <select class="form-control" id="NewReportType" name="NewReportType">
                            <option value="AGENT_FACE">Agent Face</option>
                            <option value="OTHER_TYPE">Other Type</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update FaceId</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal for DocumentId Update -->
<div class="modal fade" id="documentIdUpdateModal" tabindex="-1" aria-labelledby="documentIdUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentIdUpdateModalLabel">Update Document ID</h5>
                <button type="button" class="btn-close" data-dismisss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="documentIdUpdateForm">
                    <!-- Hidden Fields for Ids -->
                    <input type="hidden" name="DocumentId">
                    <input type="hidden" name="LocationId">
                    <!-- New Document Name -->
                    <div class="mb-3">
                        <label for="newDocumentIdName" class="form-label">Document ID Name</label>
                        <input type="text" class="form-control" id="newDocumentIdName" name="NewDocumentIdName" required>
                    </div>

                    <!-- New Document Type -->
                    <div class="mb-3">
                        <label for="newDocumentType" class="form-label">Document Type</label>
                        <select class="form-select" id="newDocumentType" name="NewDocumentType" required>
                            <option value="0">Select Document Type</option>
                            <option value="REPORT_TYPE_1">Report Type 1</option>
                            <option value="REPORT_TYPE_2">Report Type 2</option>
                            <option value="REPORT_TYPE_3">Report Type 3</option>
                        </select>
                    </div>

                    <!-- Save Button -->
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Question Add -->
<div class="modal fade" id="addQuestionModal" tabindex="-1" aria-labelledby="questionAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionAddModalLabel">Add Question</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> X </button>
            </div>
            <div class="modal-body">
                <form id="questionAddForm">
                    <input type="hidden" name="LocationId">

                    <div class="mb-3">
                        <label for="QuestionText" class="form-label">Question Text</label>
                        <input type="text" class="form-control remarks" id="QuestionText" name="QuestionText" required>
                    </div>

                    <div class="mb-3">
                        <label for="QuestionType" class="form-label">Question Type</label>
                        <select class="form-select" id="QuestionType" name="QuestionType" required>
                            <option value="">-- Select Question Type --</option>
                            <option value="text">Text</option>
                            <option value="dropdown">Dropdown</option>
                            <option value="date">Date</option>
                            <option value="radiobutton">Radio Button</option>
                            <option value="checkbox">Checkbox</option>
                        </select>
                    </div>

                    <div class="mb-3 hidden" id="optionsContainer">
                        <label class="form-label fw-bold">Options (comma-separated)</label>
                        <input type="text" name="options" id="optionsInput" class="form-control" placeholder="e.g. Yes,No,Maybe" />
                    </div>

                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input remarks" id="isRequired" name="isRequired" />
                        <label class="form-label fw-bold" for="isRequired">Required ?</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal for Question Update -->
<div class="modal fade" id="questionUpdateModal" tabindex="-1" aria-labelledby="questionUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionUpdateModalLabel">Update Question</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> X </button>
            </div>
            <div class="modal-body">
                <form id="questionUpdateForm">
                    <!-- Hidden Fields for Question ID and Location ID -->
                    <input type="hidden" name="QuestionId">
                    <input type="hidden" name="LocationId">

                    <!-- Question Text -->
                    <div class="mb-3">
                        <label for="QuestionText" class="form-label">Question Text</label>
                        <input type="text" class="form-control" id="QuestionText" name="QuestionText" required>
                    </div>
                    <div class="mb-3">
                        <label for="QuestionType" class="form-label">Question Type</label>
                        <select disabled class="form-select" id="QuestionType" name="QuestionType" required>
                            <option value="">-- Select Question Type --</option>
                            <option value="text">Text</option>
                            <option value="dropdown">Dropdown</option>
                            <option value="date">Date</option>
                            <option value="radiobutton">Radio Button</option>
                            <option value="checkbox">Checkbox</option>
                        </select>
                    </div>

                    <!-- Question Type -->
                    <div class="mb-3" id="optionsContainer">
                        <label for="Options" class="form-label">Options</label>
                        <select disabled multiple class="form-select" id="Options" name="Options">
                            <!-- values will be populated dynamically -->
                        </select>
                    </div>

                    <div class="mb-3" id="dateContainer">
                        <label for="AnswerDate" class="form-label">Select Date</label>
                        <input disabled type="date" class="form-control" id="AnswerDate" name="AnswerDate" />
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input remarks" id="isRequired" />
                        <label class="form-label  fw-bold" for="isRequired">Required ?</label>
                    </div>
                    <!-- Save Button -->
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
