<div id="termsModal" class="hidden-section">
    <div class="popup-content">
        <h3>Terms & Conditions</h3>
        <span>
            <div id="cookie-content">
                <h6>1. Introduction</h6>
                <div>These are the Terms and Conditions for the use of our platform...</div>

                <h6>2. Use of Services</h6>
                <div>By using our platform, you agree to these terms...</div>

                <h6>3. Privacy</h6>
                <div>Your privacy is important to us...</div>

                <h6>4. Account Security</h6>
                <div>You are responsible for maintaining the security of your account...</div>

                <a href="~/page/terms.html" id="privacy">Learn More</a>
            </div>
            <div class="popup-buttons">
                <button id="closeterms" class="btn-revoke">Close</button>
            </div>
        </span>
    </div>
</div>
