<div id="termsModal" class="hidden-section">
    <div class="popup-content">
        <h3>Terms & Conditions</h3>
        <div class="cookie-description">
            <span>These Terms and Conditions govern your use of our platform, services, and products. 
                By accessing or using our platform, you agree to comply with these terms, which are legally binding. 
                If you do not agree, you should discontinue use immediately.</span>
            <ol id="cookie-content">
                <li>
                    Use of Services:
                    <span>By using our platform, you agree to abide by all applicable laws and regulations. 
                        You must not misuse the platform, including but not limited to engaging in illegal activities, distributing harmful content, or attempting to interfere with the proper functioning of the platform. 
                        We reserve the right to terminate or restrict your access if you violate these terms.</span>
                </li>

                <li>
                    Privacy:
                    <span>Your privacy is important to us. We are committed to protecting the personal information you provide. 
                        By using our platform, you consent to the collection, use, and sharing of your data as described in our Privacy Policy. 
                        Please review the <a href="~/page/terms.html" id="privacy"> <i class="far fa-hand-point-right" aria-hidden="true"></i> Privacy Policy</a> for further details about how we handle your personal information.
                    </span>
                </li>

                <li>
                    Account Security:
                    <span>You are responsible for maintaining the security of your account, including keeping your login credentials confidential. 
                        You agree to notify us immediately of any unauthorized use of your account or any other security breach. 
                        We are not liable for any loss or damage resulting from your failure to protect your account. 
                        <a href="~/page/terms.html" id="privacy"> <i class="far fa-hand-point-right" aria-hidden="true"></i> Read More...</a>
                    </span>
                </li>
            </ol>
          
            <div class="popup-buttons">
                <button id="closeterms" class="btn-revoke">Close</button>
            </div>
        </div>
    </div>
</div>
