@model risk.control.system.Models.VendorApplicationUser

@{
    ViewData["Title"] = @Applicationsettings.EDIT;
    Layout = "/Views/Shared/AdminLTE/_FormLayout.cshtml";
}

<section class="content pt-2">
    <div class="container-fluid ">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-user-plus"></i> Edit  Profile
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group hide-id">
                                        <label asp-for="Vendor" class="control-label"></label>
                                        <input asp-for="VendorId" class="form-control" value="@Model.Vendor.VendorId" />
                                        <span asp-validation-for="VendorId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProfileImage" class="control-label"></label>
                                        @if (Model?.ProfilePictureUrl is not null)
                                        {
                                            <img id="ProfileImage" class="profile-image" src="@Model?.ProfilePictureUrl">
                                        }
                                        else
                                        {
                                            <img id="ProfileImage" class="profile-image" src="@Applicationsettings.NO_IMAGE">
                                        }

                                        <input asp-for="ProfileImage" class="form-control" type="file" onchange="document.getElementById('ProfileImage').src = window.URL.createObjectURL(this.files[0])" />
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="email">Email Address</span>
                                            </div>
                                            <input readonly asp-for="Email" class="form-control readonly-input" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="FirstName">First Name</span>
                                            </div>
                                            <input type="text" asp-for="FirstName" class="form-control" required placeholder="Enter First Name">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="LastName">Last Name</span>
                                            </div>
                                            <input type="text" asp-for="LastName" class="form-control" required placeholder="Enter Last Name">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div><div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="PhoneNumber">Phone Number</span>
                                            </div>
                                            <input type="number" asp-for="PhoneNumber" class="form-control" required maxlength="10" placeholder="Enter Phone Number (10 digit)" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group" style="height:2.5rem;">
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="CountryId">Country</span>
                                            </div>
                                            <select asp-for="CountryId" class="form-control" id="CountryId" asp-items="ViewBag.CountryId" onchange="loadState(this)">
                                                <option value="">--- SELECT ---</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="StateId">State</span>
                                            </div>
                                            <select id="StateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this)">
                                                <option value="">--- SELECT ---</option>
                                            </select>

                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="DistrictId">District</span>
                                            </div>
                                            <select id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)">
                                                <option>--- SELECT ---</option>
                                            </select>

                                            <span asp-validation-for="DistrictId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="PinCodeId">Pincode</span>
                                            </div>
                                            <select id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId">
                                                <option value="">--- SELECT ---</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Addressline">Address line</span>
                                            </div>
                                            <input type="text" asp-for="Addressline" class="form-control" placeholder="Enter Address line" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Comments">Remarks</span>
                                            </div>
                                            <input type="text" asp-for="Comments" class="form-control" placeholder="Enter Remarks" />
                                        </div>
                                    </div>
                                    <div class="form-group text-right">
                                       
                                        <button type="submit" class="btn btn-warning">
                                            <i class="fas fa-user-plus"></i> Edit Profile
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
