@{
    ViewData["Title"] = "File Upload";
}

<section class="content">
    <div class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white">
            <h3 class="card-title"><i class="nav-icon fa fa-upload"></i> Upload log</h3>
        </div>
        <div class="card shadow-lg border-1 rounded-lg">
            <button id="refreshTable" class="btn btn-default"> <i class="fas fa-sync"></i> Refresh</button>
        </div>
        
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <table id="file-table" class="table table-bordered table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>File Type</th>
                        <th>Uploaded On</th>
                        <th>Uploaded By</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be populated dynamically via AJAX -->
                </tbody>
            </table>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/creator/upload.js"></script>
}
