@model CreateClaims
@{
    ViewData["Title"] = "File Upload";
    var uploadId = Context.Request.Query["uploadId"];
}

<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <input type="hidden" id="uploadId" value="@uploadId" />
        @if(Model.IsManager)
        {
            <partial name="Creator/_UploadManagerTitle" model="Model" />
        }
        else
        {
            <partial name="Creator/_UploadTitle" model="Model" />
        }
        <button id="refreshTable" class="btn btn-default"> <i id="refreshIcon" class="fas fa-sync"></i> Refresh</button>


        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            @if (!Model.IsManager)

            {
                <partial name="Creator/_Upload" model="Model" />

            }
            <table id="customerTableAuto" class="table table-bordered table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>#</th>
                        <th>Name</th>
                        <th>File Type</th>
                        <th>Uploaded On</th>
                        <th>Uploaded By</th>
                        <th>Detail</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be populated dynamically via AJAX -->
                </tbody>
            </table>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/creator/upload.js"></script>
}
