@model CreateClaims
@{
    ViewData["Title"] = "File Upload";
    var uploadId = Context.Request.Query["uploadId"];
}
<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <input type="hidden" id="uploadId" value="@uploadId" />
        
        @if (Model.IsManager)
        {
            <partial name="Creator/_UploadManagerTitle" model="Model" />
        }
        else
        {
            <partial name="Creator/_UploadTitle" model="Model" />
        }
        <div class="card shadow-lg border-1 rounded-lg">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <button id="refreshTable" class="btn btn-default"> <i id="refreshIcon" class="fas fa-sync"></i> Refresh</button>
        </div>
        <div class="card-body">
            @if (!Model.IsManager)
            {
                <partial name="Investigation/_Upload" model="Model" />
            }
            <table id="customerTableAuto" class="table table-bordered table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th>#</th>
                        <th title="Serial Number" data-toggle="tooltip">#</th>
                        <th title="Status" data-toggle="tooltip">Status</th>
                        <th title="Filename" data-toggle="tooltip">Name</th>
                        <th title="File Type" data-toggle="tooltip">File Type</th>
                        <th title="Action done by" data-toggle="tooltip"><span><i class="fa fa-user-circle-o"></i></span></th>
                        <th title="Action Date and time" data-toggle="tooltip"><span><i class="fa fa-calendar-check-o"></i></span></th>
                        <th title="Time taken" data-toggle="tooltip"><span><i class="fa fa-clock-o"></i></span></th>
                        <th title="Action type" data-toggle="tooltip"><span><i class="fa fa-exclamation-circle"></i></span></th>
                        <th title="Result details" data-toggle="tooltip"><span><i class="fa fa-commenting-o"></i></span></th>
                        <th data-toggle="tooltip" title="Status | Download | Delete">
                            <img class="action-image" src="~/headers/action.gif" alt="action"/>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be populated dynamically via AJAX -->
                </tbody>
            </table>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/creator/upload-case.js"></script>
}
