@model VendorInvoiceIndexViewModel

@{
    ViewData["Title"] = "Vendor Invoices";
}
<section class="content">
    <div id="article" class="shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title">
                <i class="fas fa-newspaper"></i> Invoice
            </h3>
        </div>
        <div class="card-body">
            <div class="filter-refresh-container shadow-lg border-1 rounded-lg">
                <div class="filter-group">
                    <label for="VendorFilterDropdown" class="filter-label">
                        <i class="bi bi-funnel"></i> Filter by Agency:
                    </label>
                    <select id="VendorFilterDropdown" asp-for="SelectedVendorId" asp-items="Model.VendorList" class="form-select invoice-select">
                        <option value="">-- All Agencies --</option>
                    </select>
                </div>
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
            </div>
            <form id="antiForgeryForm">
                @Html.AntiForgeryToken()
            </form>
            <table id="invoiceTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>Invoice Number</th>
                            <th>Invoice Date</th>
                            <th>Due Date</th>
                            <th>Agency</th>
                            <th>Insurer</th>
                            <th>Grand Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>

    </div>
</section>
@section Scripts {
    <script src="~/js/portal-admin/invoice.js"></script>
}