services:
  risk.control.system:
    image: ${DOCKER_REGISTRY-}riskcontrolsystem
    build:
      context: .
      dockerfile: risk.control.system/Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - postgres
  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: StrongPassword123
      POSTGRES_DB: AppDb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: Admin@123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:


