@model InvestigationCreateModel
@{
	ViewData["Title"] = "Create";
}
<section class="content">
	<div id="article" class="card shadow-lg border-1 rounded-lg">
		<div class="card-header bg-secondary text-white text-center">
			<input type="hidden" id="total-count" value="@Model.AvailableCount" />
			<input type="hidden" id="max-count" value="@Model.TotalCount" />
			<h3 class="card-title">
				<i class="fas fa-pen-alt"></i> Add New
				<span class="hover-text">
					<i class="fas fa-info-circle"></i>
					<span class="tooltip-text" id="information">
						<span>
							<li>
								<i class='far fa-hand-point-right'></i>
								<a class="btn btn-success btn-xs">
									<i class="far fa-file-powerpoint"></i> Add Case
								</a>
							</li>
							<li>
								<i class='far fa-hand-point-right'></i>
								<button disabled class="btn btn-outline-secondary btn-xs"><i class="fa fa-user-plus"></i> Customer</button>
							</li>
							<li>
								<i class='far fa-hand-point-right'></i>
								<button disabled class="btn btn-outline-secondary btn-xs"><i class="fas fa-user-tie"></i> Beneficiary</button>
							</li>
							@if (Model.AutoAllocation)
							{
								<li>
									<i class='far fa-hand-point-down'></i>
									<button disabled class="btn btn-warning  btn-xs">
										<span class="badge badge-warning"> <i class="fas fa-random"></i></span><b> Assign </b><i class="small-suffix">auto</i>
									</button>
								</li>
								<li>
									<i class='far fa-hand-point-down'></i>
									<button disabled class="btn btn-info  btn-xs">
										<span class="badge badge-info"> <i class="fas fa-external-link-alt"></i></span><b> Assign </b><sub>manual</sub>
									</button>
								</li>
							}
						</span>
					</span>
				</span>
			</h3>
		</div>
		<partial name="Investigation/_BlankCase" model="Model" />
		<div class="card-footer d-flex justify-content-center align-items-center">
			<div class="row">
				<div class="col-md-12">
					<div class="d-flex justify-content-center align-items-center">
						<span class="detail-wizard"> <i class="far fa-hand-point-up"></i>  Complete  details to <b> Assign </b> <i class="far fa-hand-point-down"></i></span>
					</div>
				</div>
				<div class="col-md-12">
					<div class="d-flex justify-content-center align-items-center">
						<a id="back" asp-action="New" class="btn btn-outline-secondary btn-sm">
							<span class="badge badge-light"> <i class="fas fa-arrow-left"></i> </span> Back
						</a>
						<button disabled class="btn btn-warning btn-sm disabled">
							<span class="badge badge-warning"> <i class="fas fa-random"></i></span><b> Assign </b><i class="small-suffix">auto</i>
						</button>
						<button disabled class="btn btn-info btn-sm disabled">
							<span class="badge badge-info"> <i class="fas fa-external-link-alt"></i></span><b> Assign </b><sub>manual</sub>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/company/policy-detail.js"></script>
}