@model GlobalSettings

<section class="content">
    <form id="create-form" asp-action="Profile">
        <div class="card bg-light card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-wrench"></i> @Applicationsettings.GLOBAL_SETTINGS  </h3>
            </div>

            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="id" asp-for="GlobalSettingsId" />
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-light">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="input-group-label"> Mobile App Url:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="MobileApiBaseUrl"><i class="fas fa-code-branch"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="MobileAppUrl" class="form-control remarks" placeholder="mobile app url" />
                                        <span asp-validation-for="MobileAppUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> SMS Uri:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="SmsUri"><i class="fas fa-code-branch"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="SmsUri" class="form-control remarks" placeholder="sms url" />
                                        <span asp-validation-for="SmsUri" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> SMS User:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="SmsUser"><i class="fas fa-code-branch"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="SmsUser" class="form-control remarks" placeholder="sms user" />
                                        <span asp-validation-for="SmsUser" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> SMS Key:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="SmsData"><i class="fas fa-code-branch"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="SmsData" class="form-control remarks" placeholder="sms key" />
                                        <span asp-validation-for="SmsData" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> Address Api Uri:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="AddressUri"><i class="fas fa-code-branch"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="AddressUri" class="form-control remarks" placeholder="address api usi" />
                                        <span asp-validation-for="AddressUri" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> Address Api  Key:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="AddressUriData"><i class="fa fa-key"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="AddressUriData" class="form-control remarks" placeholder="address api key" />
                                        <span asp-validation-for="AddressUriData" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> Ftp API Host:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="FtpUri"><i class="fa fa-key"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="FtpUri" class="form-control remarks" placeholder="ftp host" />
                                        <span asp-validation-for="FtpUri" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> Ftp API User:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="FtpUser"><i class="fa fa-key"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="FtpUser" class="form-control remarks" placeholder="ftp user" />
                                        <span asp-validation-for="FtpUser" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> Ftp API Key:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="FtpUser"><i class="fa fa-key"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="FtpData" class="form-control remarks" placeholder="ftp key" />
                                        <span asp-validation-for="FtpData" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> Weather Uri API:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="WeatherUri"><i class="fas fa-code-branch"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="WeatherUri" class="form-control remarks" placeholder="weather url" />
                                        <span asp-validation-for="WeatherUri" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> AI API:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="AiApiUrl"><i class="fas fa-code-branch"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input type="text" asp-for="AiApiUrl" class="form-control remarks" placeholder="passport verify url" />
                                        <span asp-validation-for="AiApiUrl" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-light">
                            <div class="col-md-12">
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="input-group-label"> Enable Claim Module:</span>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="EnableClaim"><i class="fas fa-crosshairs"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                </div>

                                                <span class="checkbox">
                                                    <input asp-for="EnableClaim" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <span class="input-group-label"> Enable Underwriting:</span>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="EnableUnderwriting"><i class="fas fa-crosshairs"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                </div>

                                                <span class="checkbox">
                                                    <input asp-for="EnableUnderwriting" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="input-group-label"> Enable SMS:</span>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="SendSMS"><i class="fas fa-crosshairs"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                </div>

                                                <span class="checkbox">
                                                    <input asp-for="SendSMS" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="input-group-label"> Enable Profile Update:</span>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="CanChangePassword"><i class="fas fa-crosshairs"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                </div>

                                                <span class="checkbox">
                                                    <input asp-for="CanChangePassword" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="input-group-label"> Show Detail Footer:</span>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="ShowDetailFooter"><i class="fas fa-crosshairs"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                </div>

                                                <span class="checkbox">
                                                    <input asp-for="ShowDetailFooter" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="input-group-label"> Verify Pan:</span>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="pan-verify"><i class="fas fa-crosshairs"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                </div>

                                                <span class="checkbox">
                                                    <input asp-for="VerifyPan" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <span class="input-group-label"> Enable Media:</span>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="media-verify"><i class="fas fa-crosshairs"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                </div>

                                                <span class="checkbox">
                                                    <input asp-for="EnableMedia" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="input-group-label"> Verify Passport:</span>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="passport-verify"><i class="fas fa-crosshairs"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                </div>

                                                <span class="checkbox">
                                                    <input asp-for="VerifyPassport" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="input-group-label"> Enable Passport:</span>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="enable-passport"><i class="fas fa-crosshairs"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                </div>

                                                <span class="checkbox">
                                                    <input asp-for="EnablePassport" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="input-group-label"> Display Timer clock:</span>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="ShowTimer"><i class="fas fa-crosshairs"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                </div>

                                                <span class="checkbox">
                                                    <input asp-for="ShowTimer" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row float-right">
                    <div class="col-md-12">
                        <a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">
                            <i class="fa fa-window-close"></i>
                            @Applicationsettings.BACK
                        </a>
                        <button id="edit" type="submit" class="btn btn-warning">
                            <i class="fas fa-wrench"></i>  @Applicationsettings.EDIT @Applicationsettings.GLOBAL_SETTINGS
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/global.js">

    </script>
}
