@model GlobalSettings

<section class="content">
    <form id="create-form" asp-action="Profile">
        <div class="card bg-light card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-wrench"></i> @Applicationsettings.GLOBAL_SETTINGS  </h3>
            </div>

            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="id" asp-for="GlobalSettingsId" />
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card bg-light">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="input-group-label"> Enable Mailbox:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="EnableMailbox"><i class="far fa-comment-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>

                                        <span class="checkbox">
                                            <input asp-for="EnableMailbox" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-label"> Show Detail Footer:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="ShowDetailFooter"><i class="far fa-comment-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>

                                        <span class="checkbox">
                                            <input asp-for="ShowDetailFooter" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-light">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="input-group-label"> Enable Profile Update:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="CanChangePassword"><i class="far fa-comment-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>

                                        <span class="checkbox">
                                            <input asp-for="CanChangePassword" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="input-group-label"> Show Timer:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="ShowTimer"><i class="far fa-comment-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>

                                        <span class="checkbox">
                                            <input asp-for="ShowTimer" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-light">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="input-group-label"> Enable Claim:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="EnableClaim"><i class="far fa-comment-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>

                                        <span class="checkbox">
                                            <input asp-for="EnableClaim" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="input-group-label"> Enable UnderWriting:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="EnableUnderwriting"><i class="far fa-comment-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>

                                        <span class="checkbox">
                                            <input asp-for="EnableUnderwriting" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row float-right">
                    <div class="col-md-12">
                        <a id="back" asp-controller="Dashboard" class="btn btn-secondary">
                            <i class="fa fa-window-close"></i>
                            @Applicationsettings.BACK
                        </a>
                        <button id="edit" type="submit" class="btn btn-warning">
                            <i class="fas fa-wrench"></i>  @Applicationsettings.EDIT @Applicationsettings.GLOBAL_SETTINGS
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/global.js">

    </script>
}
