@model risk.control.system.Models.CaseVerification
<input type="hidden" asp-for="CaseVerificationId" />
<input type="hidden" asp-for="InvestigationCaseSubStatusId" />
<input type="hidden" asp-for="PolicyDetail.LineOfBusinessId" value="@Model.PolicyDetail.LineOfBusinessId" />
<div id="article" class="card shadow-lg border-1 rounded-lg">
    <div class="card-header bg-secondary text-white text-center">
        <h3 class="card-title">
            <i class="far fa-file-powerpoint"></i> Update Case
            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="information">
                    <li>
                        <i class='far fa-hand-point-right'></i> Update Case details
                    </li>
                    
                    <li>
                        <i class='fa fa-hand-peace-o'></i> <b> Assign</b> to Agency
                    </li>
                </span>
            </span>
        </h3>
    </div>
    <div class="card-body pt-0">
        <div class="submit-progress hidden">
            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
        </div>
        <div class="row">
            <div class="col-sm-4">

                <div class="form-group">
                    <label class="input-group-label"> Case #:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="ContractNumber"><i class="far fa-file-powerpoint"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input id="ContractNumber" required asp-for="PolicyDetail.ContractNumber" class="form-control remarks" type="text" placeholder="Policy #" maxlength="20" autocomplete="off" />
                        <span asp-validation-for="PolicyDetail.ContractNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label"> Assured Amount (@ViewBag.Currency):</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="SumAssuredValue"><i class="fa fa-money"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input id="SumAssuredValue" required asp-for="PolicyDetail.SumAssuredValue" class="form-control remarks" type="text" placeholder="Sum Assured (@ViewBag.Currency)" min="1000" maxlength="10" autocomplete="off" />
                        <span asp-validation-for="PolicyDetail.SumAssuredValue" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-group-label"> Issue Date:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="PolicyDetail.ContractIssueDate"><i class="far fa-calendar-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input required asp-for="PolicyDetail.ContractIssueDate" id="ContractIssueDate" class="form-control remarks" type="date" />
                        <span asp-validation-for="PolicyDetail.ContractIssueDate" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="input-group-label"> Verfication Type:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="InvestigationServiceTypeId"><i class="nav-icon fas fa-tools"></i> <i class="fa fa-asterisk asterik-style"></i> </span>
                        </div>
                        <select required asp-for="PolicyDetail.InvestigationServiceTypeId" class="form-control remarks" asp-items="ViewBag.InvestigationServiceTypeId">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="PolicyDetail.InvestigationServiceTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label"> Incident Date:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="DateOfIncident"><i class="far fa-calendar-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input required asp-for="PolicyDetail.DateOfIncident" id="DateOfIncident" class="form-control remarks" type="date" />
                        <span asp-validation-for="PolicyDetail.DateOfIncident" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label"> Cause Of Incident:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="CauseOfLoss"><i class="nav-icon far fa-flag"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input required asp-for="PolicyDetail.CauseOfLoss" class="form-control remarks" type="text" placeholder="Cause Of Incident" maxlength="70" autocomplete="off" />
                        <span asp-validation-for="PolicyDetail.CauseOfLoss" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-group-label"> Reason To Verify:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="CaseEnablerId"><i class="nav-icon fas fa-puzzle-piece"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <select required asp-for="PolicyDetail.CaseEnablerId" class="form-control remarks" asp-items="ViewBag.CaseEnablerId">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="PolicyDetail.CaseEnablerId" class="text-danger"></span>
                    </div>
                </div>

                
            </div>
            <partial name="Creator/_EditCust" for="CustomerDetail" />

        </div>
    </div>
    <div class="card-footer">
        <div class="text-right">
            <a id="cancel" asp-action="New" class="btn btn-secondary">
                <i class="fa fa-window-close"></i>
                @Applicationsettings.CANCEL
            </a>

            <button disabled id="create" type="submit" class="btn btn-success">
                <i class="far fa-file-powerpoint"></i> Update Case
            </button>

        </div>
    </div>
</div>