@model CreateClaims

<div class="card-header bg-secondary">
    <h3 class="card-title">
        <span class="download-file">
            <a class="ziplink" href="@Url.Content($"~/headers/single-{Model.FileSampleIdentifier}.zip")">
                <i class="nav-icon fa fa-download"></i>  sample file
            </a>
        </span>
        <span class="hover-text">
            <i class="fas fa-info-circle"></i>
            <span class="tooltip-text">

                <li>
                    <i class='far fa-hand-point-left'></i> <b> Download </b>  Sample File(s)
                </li>
                <li>
                    <i class='far fa-hand-point-right'></i> <b> Upload</b> Max file size 1 MB
                </li>
            </span>
        </span>
    </h3>
</div>