@model CreateClaims

<div class="container mt-3">
    <!-- Refresh Button (Outside Form) -->

    <div class="row">
        <div class="col-md-12">
            <form id="upload-claims" asp-controller="CreatorPost" asp-action="New" method="post" enctype="multipart/form-data">
                <div class="card shadow-lg border-1 rounded-lg p-3">

                    <h5 class="mb-3">Case(s) Upload</h5>

                    <input type="hidden" asp-for="CREATEDBY" value="@CREATEDBY.AUTO" />

                    <div class="input-group">
                        <span class="input-group-text fw-bold">Upload File:</span>

                        <input accept=".zip" type="file" class="form-control remarks" name="postedFile" id="postedFile"
                               data-toggle="tooltip" title="Select a ZIP file to upload"
                        @(Model.BulkUpload && Model.UserCanCreate ? "" : "disabled") />

                        <button id="UploadFileButton" type="submit" class="btn btn-info"
                        @(Model.BulkUpload && Model.UserCanCreate ? "" : "disabled")>
                            <i class="nav-icon fa fa-upload"></i> Upload
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
