@model risk.control.system.Models.PinCode

@{
	ViewData["Title"] = @Applicationsettings.CREATE;
}
<section class="content">
	<div id="article" class="card shadow-lg border-1 rounded-lg">
		<div class="card-header bg-secondary text-white text-center">
			<h3 class="card-title"><i class="fas fa-map-pin"></i>  Add New</h3>
		</div>
		<div class="card-body">
			<form id="create-form" asp-action="Create" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" asp-for="CountryId" />
				<div class="submit-progress hidden">
					<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
				</div>
				<div class="form-group">
					<span class="input-group-label" for="CountryId"> Country:</span>
					<div class="input-group mb-3 autocomplete-wrapper">
						<div class="input-group-prepend">
							<span class="input-group-text" for="CountryId"><i class="fas fa-map-marked-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
						</div>
						@if (Model.IsUpdated)
						{

							<input readonly type="text"
								   id="CountryText"
								   class="form-control remarks"
								   data-placeholder="country"
								   value="@Model.Country.Name"
								   asp-for="CountryId" />
						}
						else
						{

							<input type="text"
								   id="CountryText"
								   class="form-control remarks auto-dropdown"
								   data-placeholder="country" placeholder="Type country"
								   asp-for="CountryId"
								   required />
						}
						<span asp-validation-for="CountryId" class="text-danger"></span>
						<input asp-for="SelectedCountryId" type="hidden" id="SelectedCountryId" name="SelectedCountryId" value="@Model?.CountryId" />
						<div id="country-loading" class="loading-spinner">
							<i class="fas fa-spinner fa-spin"></i>
						</div>
					</div>
				</div>
				<div class="form-group">
					<span class="input-group-label" for="StateId"> State:</span>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" for="StateId"><i class="fas fa-map-marker-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
						</div>
						<select asp-for="StateId"
								id="StateId"
								class="form-control remarks"
								required>
							<option value="">-- Select State --</option>
						</select>
						<input type="hidden" id="SelectedStateId" value="@Model?.StateId" />
						<span asp-validation-for="StateId" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<span class="input-group-label" for="DistrictId">District:</span>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" for="DistrictId">
								<i class="fas fa-city"></i>
								<i class="fa fa-asterisk asterik-style"></i>
							</span>
						</div>
						<select asp-for="DistrictId" id="DistrictId" class="form-control remarks" required>
							<option value="">-- Select District --</option>
						</select>
						<input asp-for="SelectedDistrictId" type="hidden" id="SelectedDistrictId" name="SelectedStateId" />
						<span asp-validation-for="DistrictId" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<span class="input-group-label"> Pincode:</span>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-map-pin"></i> <i class="fa fa-asterisk asterik-style"></i></span>
						</div>
						<input id="Name" type="text" asp-for="Name" class="form-control remarks title-name" required placeholder="Pincode Name" minlength="2" maxlength="50">
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
					</div>

					<div class="form-group">
						<span class="input-group-label"> Code:</span>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-code"></i> <i class="fa fa-asterisk asterik-style"></i></span>
							</div>
							<input id="Code" type="text" asp-for="Code" class="form-control remarks title-name" required placeholder="Pincode Code  (100001)" minlength="4" maxlength="6">
								<span asp-validation-for="Code" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group text-right">
							<a id="back" asp-action="Profile" class="btn btn-secondary ignore-validation">
								<i class="fa fa-window-close"></i>
								Cancel
							</a>
							<button id="create" type="submit" class="btn btn-success">
								<i class="fas fa-map-pin"></i> Add New
							</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		@section Scripts {
			@{
				await Html.RenderPartialAsync("_ValidationScriptsPartial");
			}
			<script src="~/js/common/form-valid.js"></script>
			<script src="~/js/company-admin/pincode.js"></script>
		}