@model risk.control.system.Models.BeneficiaryDetail
@{
    ViewData["Title"] = @Applicationsettings.CREATE;
}

<section class="content">
    <form id="create-form" asp-action="Create" enctype="multipart/form-data">
        <partial name="Investigation/_CreateBeneficiary" model="@Model" />
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/beneficiary.js"></script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/company-admin/phone-bank-validate.js"></script>
    <script src="~/js/common/image-upload.js"></script>
    <script src="~/js/common/form-validation.js"></script>

}