@model ChangePasswordViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="row justify-content-center">
        <div class="submit-progress-password hidden">
            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
        </div>
        <div class="col-md-8">
            <div class="card card-light h-100">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-unlock"></i> Update Password <sup id="update-password-description" class="fa fa-info-circle password-info-icon"></sup>
                    </h3>
                </div>

                <form id="edit-form" asp-action="ChangePassword" method="post">
                    <input id="CurrentPassword" type="hidden" asp-for="CurrentPassword" />

                    <input id="Email" type="hidden" asp-for="Email" value="@Model.Email" />
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <div class="">
                                    <img id="profilePicture" src="@Applicationsettings.NO_USER" class="elevation-2 sidebar-profile img-circle" data-toggle="tooltip" />
                                    <div id="displayedEmail" class="text-sm text-muted"> --- </div>
                                </div>
                            </div>
                            <div class="col-md-6 text-left password-content">
                                <div class="text-muted" id="password-advise">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">

                                <!-- New Password -->
                                <div class="form-group">
                                    <label for="NewPassword" class="input-group-label">New Password:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-key"></i><i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input id="NewPassword" type="password" asp-for="NewPassword" class="form-control remarks title-name" required placeholder="New Password" maxlength="20" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        <div class="input-group-append">
                                            <span class="input-group-text toggle-password-visibility" data-target="NewPassword">
                                                <i id="eyeIconNew" class="fa fa-eye-slash"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Confirm Password -->
                                <div class="form-group">
                                    <label for="ConfirmPassword" class="input-group-label">Confirm Password:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-key"></i><i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input id="ConfirmPassword" type="password" asp-for="ConfirmPassword" class="form-control remarks title-name" required placeholder="Confirm Password" maxlength="20" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        <div class="input-group-append">
                                            <span class="input-group-text toggle-password-visibility" data-target="ConfirmPassword">
                                                <i id="eyeIconConfirm" class="fa fa-eye-slash"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">

                        <a href="/Account/Logout" class="btn btn-secondary"> <i class="fa fa-window-close"></i> Cancel</a>
                        <button id="updatebutton" type="submit" class="btn btn-warning"> <i class="fa fa-unlock"></i> Update Password</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/common/profile.js"></script>
    <script src="~/js/common/form-validation.js"></script>
}