@model ChangePasswordViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<section class="content">
    
    <div class="row">
        
        <!-- Right side: Form (Password Update) -->
        <div class="col-md-2">
            
        </div>
        <div class="col-md-8">
            
            <div class="card card-warning h-100">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-user"></i> Welcome, <span class="">@Model.Email</span>!
                    </h3>
                </div>
                <form id="edit-form" asp-action="ChangePassword" method="post">

                    <input id="Email" type="hidden" asp-for="Email" value="@Model.Email" />
                    <input id="CurrentPassword" type="hidden" asp-for="CurrentPassword" value="@Model.CurrentPassword" />
                    <div class="card-body">
                        <div class="text-center">
                            
                            <img class="icheckify-logo" src="~/headers/information.gif" alt="Welcome Image" class="img-fluid" />
                        </div>
                        <div class="welcome-message text-sm">
                            @{
                                var characters = "!@#$%^&*";
                            }
                            <div class="text-muted">We are glad you're here! Please reset your password to continue. This will help you secure your account and gain full access to all the features. Make sure your new password is strong and unique.</div>
                            <ul class="mt-3">
                                <li><span class="check-icon">✓</span> <strong>At least 8 characters long</strong> - Ensure your password is long enough to provide good security.</li>
                                <li><span class="check-icon">✓</span> <strong>Includes a mix of letters and numbers</strong> - Combine characters from different categories makes it harder to guess.</li>
                                <li><span class="check-icon">✓</span> <strong>Contains at least one special character</strong> - Include symbols like <span id="valid-characters"> @characters </span> adds an extra layer of security.</li>
                                <li><span class="cross-icon">X</span> <strong>Avoids common words or easily guessable patterns</strong> - Do not use obvious choices e.g. <span id="invalid-characters">password123</span>.</li>
                            </ul>
                        </div>
                        <!-- New Password -->
                        <div class="form-group">
                            <label for="NewPassword" class="input-group-label">New Password:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-key"></i><i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input id="NewPassword" type="password" asp-for="NewPassword" class="form-control remarks title-name" required placeholder="New Password" maxlength="20" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                <div class="input-group-append">
                                    <span class="input-group-text toggle-password-visibility" data-target="NewPassword">
                                        <i id="eyeIconNew" class="fa fa-eye-slash"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group">
                            <label for="ConfirmPassword" class="input-group-label">Confirm Password:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-key"></i><i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input id="ConfirmPassword" type="password" asp-for="ConfirmPassword" class="form-control remarks title-name" required placeholder="Confirm Password" maxlength="20" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <div class="input-group-append">
                                    <span class="input-group-text toggle-password-visibility" data-target="ConfirmPassword">
                                        <i id="eyeIconConfirm" class="fa fa-eye-slash"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-center">
                        <a href="/Account/Login" class="btn btn-secondary"> <i class="fa fa-window-close"></i> Cancel</a>
                        <button id="updatebutton" type="submit" class="btn btn-warning"> <i class="fa fa-unlock"></i> Update Password</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</section>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/common/profile.js"></script>
    <script src="~/js/common/form-validation.js"></script>
}