@model ChangePasswordViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<section class="content">
        <div class="row justify-content-center">
            <div class="submit-progress-password hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <div class="col-md-6">
                <div class="card shadow-lg border-1 rounded-lg mt-5">
                    <div class="card-header bg-light">
                        <h3 class="card-title">
                            <i class="fa fa-unlock"></i> Update Password <sup id="" class="fas fa-info-circle mr-2 password-info-icon  update-password-description"></sup>
                        </h3>
                    </div>

                    <form id="edit-form" asp-action="ChangePassword" method="post">
                        <input id="CurrentPassword" type="hidden" asp-for="CurrentPassword" />
                        <input id="Email" type="hidden" asp-for="Email" value="@Model.Email" />
                        <div class="card-body">

                            <div class="text-center mb-3">
                                <img id="profilePicture" src="@Applicationsettings.NO_USER" class="rounded-circle elevation-2 sidebar-profile img-circle" />
                                <p id="displayedEmail" class="text-muted mt-2"> @Model.Email </p>
                            </div>
                            <div class="alert alert-info d-flex align-items-center justify-content-start mt-3">
                                <i class="fas fa-info-circle mr-2 update-password-description"></i>
                                <div id="password-advise">
                                    
                                </div>
                            </div>
                            <!-- New Password -->
                            <div class="form-group">
                                <label for="NewPassword" class="input-group-label">New Password:</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-key"></i><i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <input id="NewPassword" type="password" asp-for="NewPassword" class="form-control remarks title-name" required placeholder="New Password" maxlength="20" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    <div class="input-group-append">
                                        <span class="input-group-text toggle-password-visibility" data-target="NewPassword">
                                            <i id="eyeIconNew" class="fa fa-eye-slash"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Confirm Password -->
                            <div class="form-group">
                                <label for="ConfirmPassword" class="input-group-label">Confirm Password:</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-key"></i><i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <input id="ConfirmPassword" type="password" asp-for="ConfirmPassword" class="form-control remarks title-name" required placeholder="Confirm Password" maxlength="20" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <div class="input-group-append">
                                        <span class="input-group-text toggle-password-visibility" data-target="ConfirmPassword">
                                            <i id="eyeIconConfirm" class="fa fa-eye-slash"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="/Account/Logout" class="btn btn-secondary"> <i class="fa fa-window-close"></i> Cancel</a>
                            <button id="updatebutton" type="submit" class="btn btn-warning"> <i class="fa fa-unlock"></i> Update </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/common/profile.js"></script>
    <script src="~/js/common/form-validation.js"></script>
}