@model ForgotPassword
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<section class="content">
        <div class="row">
            <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card card-light h-100">

                    <div class="card-header">
                        <h3 class="card-title"><i class="fa fa-lock"></i>  Password processed</h3>
                    </div>
                <div class="card-body text-center">
                        <div class="submit-progress hidden">
                            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                        </div>
                    <!-- Add Image Below the Welcome Message -->
                    <div class="text-center">
                        <img class="icheckify-logo img-fluid" src="~/headers/information.gif" alt="Password processed" />
                    </div>
                    <div class="text-muted"><span>Password sent to mobile: </span> <img class="flag-icon" src="@Model.Flag" alt="Country flag" />@Model.Message.</div>
                    </div>
                    <div class="card-footer text-center">
                        @if(Model.Reset)
                        {
                            <a asp-controller="Account" asp-action="Login" class="btn btn-success">
                                <i class="fa fa-key"></i>
                                Login Now !
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" class="btn btn-danger">
                                <i class="fa fa-key"></i>
                                Try Again
                            </a>
                        }

                    </div>
                </div>
            </div>
        <div class="col-md-2">
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
