@model ClaimsInvestigationVendorsModel

<div class="col-12 d-flex align-items-stretch flex-column">
    <div class="card bg-light border-success">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-user-edit"></i> Supervisor : <span class="badge badge-light"> @Model?.Location.ClaimReport?.SupervisorEmail</span>
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <span>
                            <i class="fas fa-user-shield"></i><b> @Model?.Location.ClaimReport?.SupervisorEmail</b> remark
                        </span>

                    </span>
                </span>
            </h3>
            <div class="card-tools">
                <span data-toggle="tooltip" title=" Supervisor :  @Model?.Location.ClaimReport?.SupervisorEmail" class="badge badge-light">
                    <i class="nav-icon fas fa-clock"></i> @Model.Location.ClaimReport?.SupervisorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")</span>
            </div>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="text-muted text-sm">

                        <span>Supervisor comments: </span>
                    </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small">
                            <span class="fa-li">
                                <i class="far fa-comment"></i>
                            </span>
                            @Model.Location.ClaimReport?.SupervisorRemarks <i class="far fa-comment"></i>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>