@model ClaimsInvestigationVendorsModel

<div class="row coming-soon-watermark">
                <div class="col-md-4 coming-soon-view">
                    <img class="watermark" src="~/img/coming-soon.jpg" />
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span><i class="fas fa-file-audio"></i></span>
                        <button disabled id="audio-play" class="btn btn-secondary btn-sm"> <i class="fas fa-play"></i> Audio </button>
                        <audio asp-for="AgencyReport.ReportQuestionaire.Audio" class="form-control remarks" placeholder="Record audio." />
                        <div id="audio-output"> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span><i class="fas fa-file-video"></i></span>
                        <button disabled id="video-play" class="btn btn-secondary btn-sm"> <i class="fas fa-play-circle"></i> Video </button>
            <audio asp-for="AgencyReport.ReportQuestionaire.Video" class="form-control remarks" placeholder="Record video." />
                        <div id="video-output"> </div>
                    </div>
                </div>
            </div>