@model IEnumerable<risk.control.system.Models.ClaimsInvestigation>

@{
    ViewData["Title"] = "Index";
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-external-link-alt"></i> Allocate </h3>
                        <h3 id="view-type" class="card-title">
                            <a href="#" id="map-type" class="input-group-label"> <i class="far fa-map"></i> Map</a>
                            <a href="#" id="list-type" class="input-group-label"> <i class="fas fa-server"></i> List</a>
                        </h3>
                    </div>
                    <div class="card-body">
                        <form id="radioButtons" asp-action="EmpanelledVendors" method="get" enctype="multipart/form-data">
                            <div class="col-md-12">

                                <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                        <thead>
                                            <tr>
                                            <th></th>
                                            <th>Id</th>
                                            <th>Policy #</th>
                                            <th>Document</th>
                                            <th>Customer</th>
                                            <th>Customer Name</th>
                                            <th>Beneficiary</th>
                                            <th>Beneficiary Name</th>
                                            <th>Claim Type</th>
                                            <th><img class="action-image" src="~/document/pincode.gif" title="Pincode" alt="Pincode" /></th>
                                            <th><img class="action-image" src="~/document/status.gif" title="Status" alt="Status" /></th>
                                            <th><img class="action-image" src="~/document/created.gif" title="Created date" alt="Created Date" /></th>
                                            <th>
                                                <img class="action-image" src="~/document/timer.gif" title="Days since Assigned" />
                                            </th>
                                            <th><img class="action-image" src="~/document/action.gif" title="Action" /></th>
                                            </tr>
                                        </thead>
                                        
                                    </table>
                                    <div class="row">
                                            <div class="col-md-12">
                                                    <button disabled id="allocatedcase" type="submit" class="btn btn-danger">
                                            <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                                                        @Applicationsettings.SELECT_CASE_TO_ALLOCATE_TO_VENDOR
                                                    </button>
                                            </div>
                                        </div>
                            </div>
                        </form>
                        <div id="maps" class="col-md-12">
                            <div id="map"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts    {
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="~/js/all.js"></script>
    <script src="~/js/map-list.js"></script>
    <script src="~/js/company-assigner.js"></script>
}