@model bool
@{
    ViewData["Title"] = "Assign(auto)";
}
<section class="content">
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-random"></i> Assign(auto)
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <span>
                            <i class='far fa-hand-point-right'></i> 
                            Select checkbox(s) button <input type='checkbox' /> to select the <b>CLAIM(s)</b> to <i class='fa fa-hand-peace-o'></i><b> ASSIGN (auto)</b> to Agency
                        </span>

                    </span>
                </span>

            </h3>
            @* <h3 id="view-type" class="card-title">
            <a href="#" id="map-type" class="input-group-label"> <i class="far fa-map"></i> Map</a>
            <a href="#" id="list-type" class="input-group-label"> <i class="fas fa-server"></i> List</a>
            </h3> *@
        </div>
        <article>
            <div class="bb-blog-inner">
                <div class="card card-light collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="badge badge-light"><i class="fa fa-upload"></i></span> Upload File:
                            <i id="upload-information" class="fas fa-info-circle"></i>

                            <span class="download-file badge badge-light">
                                <a class="ziplink" href="~/headers/single.zip">
                                    <i class="nav-icon fa fa-download"></i>  1 claim
                                </a>
                            </span>
                            <span class="download-file badge badge-light">
                                <a class="ziplink" href="~/headers/double.zip">
                                    <i class="nav-icon fa fa-download"></i> 2 claims
                                </a>
                            </span>
                        </h3>
                        <div class="card-tools">
                            <span data-toggle="tooltip" title="Click on + to Upload File"> <i class='far fa-hand-point-right'></i> </span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="upload-claims" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="input-group-label"> Upload Type:</span>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-file-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                            </div>
                                            @if(Model)
                                            {
                                                <select name="uploadtype" id="uploadtype" required class="form-control remarks" asp-items="Html.GetEnumSelectList<UploadType>()">
                                                    <option value="">--- SELECT---</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select disabled class="form-control remarks">
                                                    <option value="">--- SELECT---</option>
                                                </select>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="input-group-label"> Perform Upload: </span>
                                        <div class="input-group mb-3">
                                            <img class="form-Image" id="ftpImage" src="/img/upload.png">
                                            @if(Model)
                                            {
                                                <input accept=".zip" type="file" class="form-control remarks" name="postedFile" id="postedFile" />
                                                <button id="UploadFileButton" disabled type="submit" class="btn btn-info" asp-controller="Uploads" asp-action="FileUpload"><i class="nav-icon fa fa-upload"></i> Upload</button>
                                            }
                                            else
                                            {
                                                <input disabled type="file" class="form-control remarks" name="postedFile" id="postedFile" />
                                                <button disabled class="btn btn-info"><i class="nav-icon fa fa-upload"></i> Upload</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </article>

        <form id="checkboxes" asp-action="Assign" asp-controller="ClaimsInvestigationPost" method="post" enctype="multipart/form-data">

            <div class="card-body ">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>

                <div class="table-responsive mailbox-messages">

                    <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="select_all" id="checkall" value="0" /></th>

                                <th><img class="action-image" src="~/headers/policy-doc.gif" title="Policy Document" alt="Policy Document" /></th>
                                <th><img class="action-image" src="~/headers/policy-num.gif" title="Policy Number" alt="Policy Number" /></th>
                                <th><img class="action-image" src="~/headers/amount.gif" title="Insured Amount" alt="Insured Amount" /></th>
                                <th><img class="action-image" src="~/headers/portrait.gif" title="Customer Photo" alt="Customer Photo" /></th>
                                <th><img class="action-image" src="~/headers/customer.gif" title="Customer Name" alt="Customer Name" /></th>
                                <th><img class="action-image" src="~/headers/portrait.gif" title="Beneficiary Photo" alt="Beneficiary Photo" /></th>
                                <th><img class="action-image" src="~/headers/customer.gif" title="Beneficiary Name" alt="Beneficiary Name" /></th>
                                <th><img class="action-image" src="~/headers/claim-type.gif" title="Claim Type" alt="Claim Type" /></th>
                                <th><img class="action-image" src="~/headers/service.gif" title="Service" alt="Service" /></th>

                                <th><img class="action-image" src="~/headers/pincode.gif" title="Pincode" alt="Pincode" /></th>
                                <th><img class="action-image" src="~/headers/status.gif" title="Status" alt="Status" /></th>
                                <th><img class="action-image" src="~/headers/created.gif" title="Created date" alt="Created Date" /></th>
                                <th>
                                    <img class="action-image" src="~/headers/timer.gif" title="Days since Drafted" />
                                </th>
                                <th><img class="action-image" src="~/headers/action.gif" title="Action" /></th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>

                <div id="maps" class="col-md-12">
                    <div id="map"></div>

                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>

                        <button disabled id="allocatedcase" type="submit" class="btn btn-warning">
                            <span class="badge badge-warning"> <i class="fas fa-random"></i> </span> ASSIGN<span class="badge badge-warning">auto</span>
                        </button>
                    </div>
                </div>
            </div>

        </form>


    </div>
</section>
@section Scripts {
    @* <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="~/js/all.js"></script> *@
    <script src="~/js/draft.js"></script>
    @* <script src="~/js/map-list.js"></script> *@
}