
@{
    ViewData["Title"] = "Index";
}
<section class="content pt-2">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-external-link-alt"></i> Assign </h3>
                            <h3 id="view-type" class="card-title">
                                <a href="#" id="map-type" class="input-group-label"> <i class="far fa-map"></i> Map</a>
                                <a href="#" id="list-type" class="input-group-label"> <i class="fas fa-server"></i> List</a>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="download-file badge badge-light">
                                        <a href="~/document/single.zip">
                                            <i class="nav-icon fa fa-download"></i> sample file (1 claim)
                                        </a>
                                    </span>
                                    <span class="download-file badge badge-light">
                                        <a href="~/document/multi-pincode.zip">
                                            <i class="nav-icon fa fa-download"></i> sample file (6 claims)
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <form id="upload-claims" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="input-group-label"> Upload Type:</span>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-file-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                            </div>
                                            <select name="uploadtype" id="uploadtype" required class="form-control" asp-items="Html.GetEnumSelectList<UploadType>()">
                                                <option value="">--- SELECT---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="input-group-label"> Perform Upload: </span>
                                        <div class="input-group mb-3">
                                            <img class="form-Image" id="ftpImage" src="/img/upload.png">
                                            <input accept=".zip" type="file" class="form-control" name="postedFile" id="postedFile" />
                                            <button id="UploadFileButton" disabled type="submit" class="btn btn-info" asp-controller="Uploads" asp-action="FileUpload"><i class="nav-icon fa fa-upload"></i> Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                            <form id="checkboxes" asp-action="Assign" asp-controller="ClaimsInvestigationPost" method="post" enctype="multipart/form-data">

                                <div class="col-md-12">

                                    <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" name="select_all" id="checkall" value="0" /></th>

                                            <th><img class="action-image" src="~/document/policy-doc.gif" title="Policy Document" alt="Policy Document" /></th>
                                            <th><img class="action-image" src="~/document/policy-num.gif" title="Policy Number" alt="Policy Number" /></th>
                                            <th><img class="action-image" src="~/document/amount.gif" title="Insured Amount" alt="Insured Amount" /></th>
                                            <th><img class="action-image" src="~/document/portrait.gif" title="Customer Photo" alt="Customer Photo" /></th>
                                            <th><img class="action-image" src="~/document/customer.gif" title="Customer Name" alt="Customer Name" /></th>
                                            <th><img class="action-image" src="~/document/portrait.gif" title="Beneficiary Photo" alt="Beneficiary Photo" /></th>
                                            <th><img class="action-image" src="~/document/customer.gif" title="Beneficiary Name" alt="Beneficiary Name" /></th>
                                            <th><img class="action-image" src="~/document/claim-type.gif" title="Claim Type" alt="Claim Type" /></th>
                                            <th><img class="action-image" src="~/document/service.gif" title="Service" alt="Service" /></th>

                                            <th><img class="action-image" src="~/document/pincode.gif" title="Pincode" alt="Pincode" /></th>
                                            <th><img class="action-image" src="~/document/status.gif" title="Status" alt="Status" /></th>
                                            <th><img class="action-image" src="~/document/created.gif" title="Created date" alt="Created Date" /></th>
                                                <th>
                                                <img class="action-image" src="~/document/timer.gif" title="Days since Drafted" />
                                                </th>
                                            <th><img class="action-image" src="~/document/action.gif" title="Action" /></th>

                                            </tr>
                                        </thead>

                                    </table>
                                    <div class="row">
                                        <div class="col-md-12">

                                        <button id="managevendors" type="submit" class="btn btn-warning">
                                            <i class="fas fa-external-link-alt" aria-hidden="true"></i> Assign 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="maps" class="col-md-12">
                                <div id="map"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
@section Scripts    {
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="~/js/map-list.js"></script>
    <script src="~/js/draft.js"></script>
}