@model bool
@{
    ViewData["Title"] = "Assign & Re";
}

<section class="content">
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-external-link-alt"></i> ReAssign
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        
                        <li>
                            <i class='far fa-hand-point-right'></i>
                            <button class="btn btn-warning  btn-xs">
                                <i class="fas fa-pencil-alt"></i> Edit
                            </button>
                        </li>
                        <li>
                            <i class='far fa-hand-point-right'></i>
                            <button class="btn btn-danger  btn-xs">
                                <span class="badge badge-danger"> <i class="fa fa-trash"></i></span><b> Delete </b>
                            </button>
                        </li>
                        <li>
                            <i class='far fa-hand-point-right'></i> Select <b><input type='radio' /> </b> claim
                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i>
                            <button class='btn btn-danger btn-xs'>
                                <span class="badge badge-danger btn-xs">
                                        <i class='fas fa-external-link-alt'></i>
                                    </span> ReAssign
                                </button>
                        </li>
                    </span>
                </span>
            </h3>
            
        </div>
 

        <form id="radioButtons" asp-action="ReAssign2EmpanelledVendors" method="get" enctype="multipart/form-data">

        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
                <div class="table-responsive mailbox-messages">
                    <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th></th>
                                <th><img class="action-image" src="~/headers/policy-doc.gif" title="Policy Document" alt="Policy Document" /></th>
                                <th><img class="action-image" src="~/headers/policy-num.gif" title="Policy Number" alt="Policy Number" /></th>
                                <th><img class="action-image" src="~/headers/amount.gif" title="Insured Amount" alt="Insured Amount" /></th>
                                <th><img class="action-image" src="~/headers/portrait.gif" title="Customer Photo" alt="Customer Photo" /></th>
                                <th><img class="action-image" src="~/headers/customer.gif" title="Customer Name" alt="Customer Name" /></th>
                                <th><img class="action-image" src="~/headers/portrait.gif" title="Beneficiary Photo" alt="Beneficiary Photo" /></th>
                                <th><img class="action-image" src="~/headers/customer.gif" title="Beneficiary Name" alt="Beneficiary Name" /></th>
                                <th><img class="action-image" src="~/headers/claim-type.gif" title="Claim Type" alt="Claim Type" /></th>
                                <th><img class="action-image" src="~/headers/service.gif" title="Service" alt="Service" /></th>

                                <th><img class="action-image" src="~/headers/pincode.gif" title="Pincode" alt="Pincode" /></th>
                                <th><img class="action-image" src="~/headers/status.gif" title="Status" alt="Status" /></th>
                                <th><img class="action-image" src="~/headers/created.gif" title="Created date" alt="Created Date" /></th>
                                <th>
                                    <img class="action-image" src="~/headers/timer.gif" title="Days since Assigned" />
                                </th>
                                <th><img class="action-image" src="~/headers/action.gif" title="Action" /></th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div id="maps" class="col-md-12">
                    <div id="map"></div>
                </div>
        </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">

                        <button disabled id="allocatedcase" type="submit" class="btn btn-danger">
                            <span class="badge badge-danger"> <i class="fas fa-external-link-alt" aria-hidden="true"></i> </span>
                            ReAssign
                        </button>


                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
@section Scripts {
    <script src="~/js/company-reassigner-auto.js"></script>
}