@using Microsoft.AspNetCore.Authorization
@using risk.control.system.Helpers
@inject IAuthorizationService AuthorizationService

@{
    var canCreate = (await AuthorizationService.AuthorizeAsync(User, Permissions.Claim.Create)).Succeeded;
    var canView = (await AuthorizationService.AuthorizeAsync(User, Permissions.Claim.View)).Succeeded;
    var canEdit = (await AuthorizationService.AuthorizeAsync(User, Permissions.Claim.Edit)).Succeeded;
    var canDelete = (await AuthorizationService.AuthorizeAsync(User, Permissions.Claim.Delete)).Succeeded;
}

<div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <h4>Claim Permissions</h4>
        <br />

        @if (canCreate)
        {
            <button class="btn btn-success">Create</button>
        }

        @if (canView)
        {
            <button class="btn btn-info">View</button>
        }

        @if (canEdit)
        {
            <button class="btn btn-warning">Modify</button>
        }

        @if (canDelete)
        {
            <button class="btn btn-danger">Delete</button>
        }
    </div>
</div>
