@{
    ViewData["Title"] = "Submitted Forms";
}

<h2 class="my-4">Submitted Responses</h2>

<div class="card shadow border-0 p-4">
    <table id="submissionsTable" class="table table-striped table-bordered w-100">
        <thead>
            <tr id="tableHeaders">
                <th>Submission ID</th>
                <th>Date Submitted</th>
            </tr>
        </thead>
    </table>
    <a asp-action="FillForm" class="btn btn-primary px-4 py-2 btn-lg me-md-2">
        Submit Another Response
    </a>
</div>

@section Scripts {
    <script src="/js/portal-admin/submitted-forms.js">

    </script>
}