@{
    ViewData["Title"] = "District List";
}

<section class="content">
    <div class="card card-secondary border-secondary">
        <div class="submit-progress hidden">
            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
        </div>
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-city"></i> District</h3>
        </div>
        <div class="card-body">
            <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- The table body will be populated dynamically by DataTables -->
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-secondary">
                            <i class="fas fa-arrow-left"></i> @Applicationsettings.BACK
                        </a>
                        <a class="btn btn-success" asp-controller="District" asp-action="Create">
                            <i class="fas fa-city"></i> @Applicationsettings.CREATE New
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/district.js"></script>
}
