@{
    ViewData["Title"] = "Active Users";
}

<section class="content">
    <div id="fullpage" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-user-circle"></i> Active Users</h3>
            @* <h3 id="view-type" class="card-title">
            <a href="#" id="map-type" class="input-group-label"> <i class="far fa-map"></i> Map</a>
            <a href="#" id="list-type" class="input-group-label"> <i class="fas fa-server"></i> List</a>
            </h3> *@
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th><i class="fas fa-clock" title="Online status" data-toggle="tooltip"></i></th>
                        <th>Photo</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>District</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Pincode</th>
                        <th>Active</th>
                        <th>Role</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</section>
@section Scripts {
    <script src="~/js/company-admin/active-users.js"></script>

}