.form-group input::placeholder {
    opacity: .5;
}

.form-group input:focus.custom_label, .form-group input:not(:placeholder-shown).custom_label {
    left: -8rem;
    transform: translate(10rem);
}
