* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}

html{
    min-width:420px;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.upload {
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: .95rem;
    position: relative;
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.brand-link .brand-image {
    width: 3rem;
}

.brand-image {
    opacity: .8
}

.brand-text {
    font-size: small;
}

.green-progress-bar {
    width: 33%;
    background-color: green;
}

.orange-progress-bar {
    width: 33%;
    background-color: orange;
}

.cust-progress-bar {
    width: 33%;
    background-color: lightgrey;
}

.edit-progress-bar {
    width: 33%;
    background-color: #ffc107;
    color: black;
}

.grey-progress-bar {
    width: 34%;
    background-color: lightgray;
}

.darkgrey-progress-bar {
    width: 34%;
    background-color: darkgray;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

.login-box {
    background-color: #e5e5e5;
    padding: 1rem;
    border-radius: 1em;
    width: 400px;
}

.contained-width {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

    table td {
        max-height: 50px;
    }

.sidebar-profile {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.content-wrapper-main {
    padding: 10px;
    min-height: 530.031px;
    background: white !important;
}

.form-Image {
    height: 2.4rem;
    width: 2.4rem;
    border: 1px solid #ccc;
}

.rating {
    height: .7rem;
    width: .7rem;
    border: none;
}

.main-rating {
    height: 2rem;
    width: 2rem;
    border: none;
}

a.table-link {
    width: 100px;
}

.face-Image {
    height: 250px;
    width: 200px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.no-Image {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#customerGoogleMap {
    cursor: pointer;
}

#beneficiaryGoogleMap {
    cursor: pointer;
}

#agentLocationPicture {
    cursor: pointer;
}
.agentLocationPicture {
    cursor: pointer;
}
#maps {
    height: 600px;
    margin: 0;
    padding: 0;
    display: none;
}

/*
         * Always set the map height explicitly to define the size of the div element
         * that contains the map.
         */
#pop-map {
    width: auto;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#company-map {
    width: auto;
    height: 350px;
    min-height: 350px;
    position: relative;
    overflow: hidden;
}

#agentOcrPicture {
    cursor: pointer;
}

#agentPassportPicture {
    cursor: pointer;
}

#audioPlayer {
    cursor: pointer;
}

#videoPlayer {
    cursor: pointer;
}

.ocr-Image {
    height: 250px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.audio-Image {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.video-Image {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.passport-Image {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#documentImage {
    width: 350px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.locationImage {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.text-muted {
    color: #1f2d3d !important;
}

.olocationImage {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.passportlocationImage {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.audiolocationImage {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.videolocationImage {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#face-map {
    height: 300px;
    width: auto;
}
#agent-map {
    height: 300px;
    width: auto;
}

#face-map-url {
    height: 100%;
    width: 100%;
}
#agent-map-url {
    height: 100%;
    width: 100%;
}

#audio-map {
    height: 300px;
    width: auto;
}

#video-map {
    height: 300px;
    width: auto;
}

#notesDetail {
    cursor: pointer;
}

#ocr-map {
    height: 300px;
    width: auto;
}

#ocr-map-url {
    height: 100%;
    width: 100%;
}

#passport-map {
    height: 300px;
    width: auto;
}

.ocr-data {
    width: 200px;
    border: 1px solid #ccc;
    height: 100px;
    overflow-y: auto;
    padding: 5px;
    font-weight: 400 !important;
    font-size: small;
    background: white;
    border-radius: 5px;
}

.block-data {
    width: 8rem;
    border: 1px solid #ccc;
    height: 6rem;
    overflow-y: auto;
    padding: 1px;
    font-weight: 400 !important;
    border-radius: 5px;
}

.investigation-actual-image {
    height: auto;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.timer-image {
    height: 1rem;
}

.action-image {
    height: 1.5rem;
}

.profile-image {
    height: 110px;
    border: .1px ridge #ccc;
}

.report-image {
    width: 16rem;
    height: 5rem;
    border: .1px ridge #ccc;
    object-fit: cover;
}

.report-disclaimer {
    overflow-y: scroll;
    height: 10rem;
    border: .1rem inset #ddd;
    background-color: whitesmoke;
    font-size:.8em;
    font-weight:lighter;
}

/*.disclaimer-body {
    margin: 1rem;
    border: 1px solid darkgrey;
    box-shadow: 5px 5px #ccc;
    background: linear-gradient(45deg, #e3e3e3, transparent);
    border-radius: .3rem;
}*/
    .disclaimer-body p{
        font-weight:lighter;
        font-size:.8em;
        margin-bottom:0;
    }
    .attachment-list {
        height: 50px;
        object-fit: cover
    }

.btn-right-bottom {
    right: -75rem;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.12) 4px 4px 32x 1px;
    border: 1px solid #ccc;
}

    .card tbody a {
        display: inline-block;
    }

.btn-success, .btn-warning, .btn-info, .btn-danger, .btn-secondary {
    box-shadow: 4px 4px #ccc;
    background: linear-gradient(white #ccc);
}

.hide-id {
    display: none;
}

.table-row-image {
    height: 50px;
    border: .1px ridge #ccc;
    object-fit: cover;
}

.sidebar-menu-header-label {
    font-size: 14px;
    color: rgb(51,51,51);
    font-weight: bold;
}

.navlink-border {
    border: 1px solid #6c757d;
}

.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #6c757d !important;
}

    .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active > p {
        color: white;
    }

.sidebar-light-primary .nav-sidebar > .nav-item > .actual-link.nav-link {
    font-size: 1rem;
}

    .sidebar-light-primary .nav-sidebar > .nav-item > .actual-link.nav-link.active {
        background-color: #ccc !important;
        font-size: 1rem;
        font-weight: bold;
    }

        .sidebar-light-primary .nav-sidebar > .nav-item > .actual-link.nav-link.active > p {
            color: black;
            font-size: 1rem;
            font-weight: bold;
        }

    .sidebar-light-primary .nav-sidebar > .nav-item > .actual-link.nav-link > p > span {
        font-size: .8rem;
    }

    .sidebar-light-primary .nav-sidebar > .nav-item > .actual-link.nav-link.active > p > span {
        font-size: 1rem !important;
        font-weight: bold !important;
    }

.content {
    font-size: 1rem;
}

.content-wrapper > .content {
    padding: 0 .2rem !important;
}

.d-block {
    margin-top: .5em;
    margin-left: 1em;
}

.message-unread {
    font-weight: bold;
}

.message-read {
    background-color: #f9f9f9;
}

textarea {
    display: block;
    width: 100%;
    overflow-y: auto;
    resize: both;
    min-height: 100px;
    line-height: 20px;
    border: 1px solid #ddd;
}

.file-image {
    width: 100%;
    height: 40px;
    object-fit: cover;
    border: .1px ridge #ccc;
}

.mailbox-read-message {
    min-height: 300px;
    overflow-y: auto;
    padding:0px !important;
}

#table-header {
    background-color: white !important;
}

.empty-table-message {
    text-align: center;
}

.card-body.p-0 {
    min-height: 500px;
    overflow-y: auto;
}

.row-links {
    text-decoration: none;
    color: black;
}

    .row-links:hover {
        cursor: pointer;
        text-decoration: none;
    }

.toolbar {
    float: left;
    border-radius: 4px;
    background-color: #6c757d;
}

.form-control[readonly] {
    background-color: whitesmoke;
    font-weight: bold;
}

#CountryId.form-control[readonly], #StateId.form-control[readonly], #DistrictId.form-control[readonly] {
    cursor: not-allowed; /* Pointer cursor for better UX */
    background: none;
    background-color: whitesmoke;
    border: 1px solid #D0D9E1;
    border-radius: 1px;
    color: #989BA0;
}

.input-group-prepend {
    display: block;
    width: 5rem;
}

.input-validation-error {
    border-color: red !important;
}

.field-validation-error {
    display: none;
}

.nav-item {
    border-bottom: 1px dotted #ccc;
}

:not(.layout-fixed) .main-sidebar {
    height: inherit;
    min-height: 100%;
    position: absolute;
    top: 0;
}

.form-control.date-width {
    width: 50px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.input-fa {
    margin-right: -1.8rem;
    margin-top: 1rem;
    position: relative;
    z-index: 2;
    color: whitesmoke;
}

.input-fa-pinned {
    margin-right: -1.8rem;
    position: relative;
    z-index: 2;
    color: whitesmoke;
}

.email-address {
    text-align: right;
}

.breadcrumb {
    font-weight: bold;
    font-family: Verdana;
    border: .5px solid #ccc;
    background: linear-gradient(#fff, #ccc);
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.breadcrumb-item.active {
    color: black;
}

#email, #emailAddress {
    text-transform: lowercase;
}

#Email {
    color: blue;
}

/*#check-email {
    background-color: grey;
    border-radius: 5px;
    color: white;
    cursor: no-drop;
}*/

input[type="checkbox"]:checked {
    accent-color: blue;
}

input[type="radio"]:checked {
    accent-color: blue;
}

.asterikx {
    text-transform: uppercase;
}

input.title-name {
    text-transform: capitalize;
}

::-webkit-input-placeholder {
    text-transform: none;
}

:-moz-placeholder {
    text-transform: none;
}

::-moz-placeholder {
    text-transform: none;
}

:-ms-input-placeholder {
    text-transform: none;
}

dl.row {
    box-shadow: 0 0 10px white, 0 1px 3px #ebebef;
    background: linear-gradient(180deg, #ebebef, transparent);
    border-radius: .5rem;
    padding: 1.5rem;
}

    dl.row dt, dl.row dd {
        box-shadow: 0 0 10px white, 0 1px 3px #ebebef;
        background: linear-gradient(0deg, #ebebef, transparent);
        border-radius: .5rem;
    }

.asterik-style {
    font-size: .5rem !important;
    color: red;
    padding-bottom: 1rem;
}

.asterik-style-red {
    font-size: .4rem;
    color: red;
}

.asterik-style-info {
    font-size: .5rem !important;
    color: #2A78C6;
    padding-bottom: 1rem;
}

.asterik-style-disabled {
    font-size: .5rem !important;
    color: dimgrey;
    padding-bottom: 1rem;
}

.asterik-style-none {
    font-size: .5rem !important;
    color: #e9ecef;
    padding-bottom: 1rem;
}

div.fg-toolbar.ui-toolbar.ui-corner-tl {
    position: inherit;
}

div.fg-toolbar.ui-toolbar.ui-corner-bl {
    position: absolute;
    bottom: 0;
    width: 100%
}

div.dataTables_paginate {
    position: relative;
    float: right;
}

footer {
    position: relative;
}

:root {
    --building-color: #FF9800;
    --house-color: #0288D1;
    --shop-color: #7B1FA2;
    --warehouse-color: #558B2F;
}

/*
     * Always set the map height explicitly to define the size of the div element
     * that contains the map.
     */
#map {
    height: 100%;
    width: 100%;
}

/*
     * Property styles in unhighlighted state.
     */
.property {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 30px;
    justify-content: center;
    padding: 4px;
    position: relative;
    transition: all 0.3s ease-out;
    width: 30px;
}

    .property::after {
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid #FFFFFF;
        content: "";
        height: 0;
        left: 50%;
        position: absolute;
        top: 95%;
        transform: translate(-50%, 0);
        transition: all 0.3s ease-out;
        width: 0;
        z-index: 1;
    }

    .property .icon {
        align-items: center;
        display: flex;
        justify-content: center;
        color: #FFFFFF;
    }

        .property .icon svg {
            height: 20px;
            width: auto;
        }

    .property .details {
        display: none;
        flex-direction: column;
        flex: 1;
    }

    .property .address {
        color: #9E9E9E;
        font-size: 10px;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .property .features {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

        .property .features > div {
            align-items: center;
            background: #F5F5F5;
            border-radius: 5px;
            border: 1px solid #ccc;
            display: flex;
            font-size: 10px;
            gap: 5px;
            padding: 5px;
        }

    /*
     * Property styles in highlighted state.
     */
    .property.highlight {
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
        height: 100px;
        padding: 8px 15px;
        width: auto;
    }

        .property.highlight::after {
            border-top: 9px solid #FFFFFF;
        }

        .property.highlight .details {
            display: flex;
        }

        .property.highlight .icon svg {
            width: 50px;
            height: 50px;
        }

    .property .bed {
        color: #FFA000;
    }

    .property .bath {
        color: #03A9F4;
    }

    .property .size {
        color: #388E3C;
    }

    /*
     * House icon colors.
     */
    .property.highlight:has(.fa-house) .icon {
        color: var(--house-color);
    }

    .property:not(.highlight):has(.fa-house) {
        background-color: var(--house-color);
    }

        .property:not(.highlight):has(.fa-house)::after {
            border-top: 9px solid var(--house-color);
        }

    /*
     * Building icon colors.
     */
    .property.highlight:has(.fa-building) .icon {
        color: var(--building-color);
    }

    .property:not(.highlight):has(.fa-building) {
        background-color: var(--building-color);
    }

        .property:not(.highlight):has(.fa-building)::after {
            border-top: 9px solid var(--building-color);
        }

    /*
     * Warehouse icon colors.
     */
    .property.highlight:has(.fa-warehouse) .icon {
        color: var(--warehouse-color);
    }

    .property:not(.highlight):has(.fa-warehouse) {
        background-color: var(--warehouse-color);
    }

        .property:not(.highlight):has(.fa-warehouse)::after {
            border-top: 9px solid var(--warehouse-color);
        }

    /*
     * Shop icon colors.
     */
    .property.highlight:has(.fa-shop) .icon {
        color: var(--shop-color);
    }

    .property:not(.highlight):has(.fa-shop) {
        background-color: var(--shop-color);
    }

        .property:not(.highlight):has(.fa-shop)::after {
            border-top: 9px solid var(--shop-color);
        }

.noty_theme__mint.noty_type__success {
    background-color: green !important;
    position: absolute;
    top: 0;
}

main {
    margin: 0 auto;
}

.full-width {
    grid-column: span 2;
}

.progresses {
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 1rem;
}

.line {
    width: 100%;
    height: 6px;
    background: lightgrey;
}

.line0 {
    width: 100%;
    height: 6px;
    background: grey;
}

.line1 {
    width: 100%;
    height: 6px;
    background: green;
}

.steps {
    display: flex;
    background-color: green;
    color: #fff;
    font-size: 14px;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.steps-edit {
    display: flex;
    background-color: #ffc107;
    color: #000;
    font-size: 14px;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.steps2 {
    display: flex;
    background-color: grey;
    color: #fff;
    font-size: 14px;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.steps3 {
    display: flex;
    background-color: lightgray;
    color: #fff;
    font-size: 14px;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#view-type.card-title {
    float: right;
}

#list-type.input-group-label {
    display: none;
}

a.footer-link {
    color: black;
    text-decoration: none;
}

#total-expense {
    background-color: green;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: bold;
}

.container-claim {
    height: auto;
    margin: 0 auto;
    min-height: 20rem;
}

.container-claim-monthly {
    height: auto;
    margin: 0 auto;
    min-height: 25rem;
}

.sup-percent {
    font-size: 20px
}

a.CaseReadyToAssign {
    pointer-events: none;
    color: lightgrey;
}
.lightgrey{
    color: lightgrey;

}
#map-type {
    float: right;
}

.profile-country {
    height: 1px;
}

#list-type {
    display: none;
}

.supervisor-doc {
    height: 2.4rem;
    border: 1px solid #ccc;
}

#dataTbl tbody {
    overflow-y: auto;
}

.bookmark-green {
    font-size: 1.1rem;
}

.invoice {
    padding: 2rem;
}

.sidebar-mini .nav-sidebar, .sidebar-mini .nav-sidebar .nav-link, .sidebar-mini .nav-sidebar > .nav-header {
    overflow: unset;
}

.sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar::before {
    width: 5rem;
}

textarea.rating-comment {
    height: 100px !important;
    min-height: 50px !important;
}

label.account {
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 1.5em;
    font-size: 13px;
}

    label.account a {
        color: #ff4040;
        font-size: 11px;
        text-decoration: underline;
    }

        label.account a.error {
            color: #ff4040;
            font-size: 11px;
            text-decoration: none;
            font-weight: bold;
        }

        label.account a:hover {
            text-decoration: none;
        }

table.dataTable thead tr {
    background-color: whitesmoke;
}

table#customerTable {
}

    table#customerTable thead tr {
        background-color: whitesmoke;
    }

img.table-agency-image {
    height: 2.5rem;
    width: 2.5rem;
    border: 2px solid green;
}

img.table-profile-image {
    border-radius: 10%;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid green;
}

img.table-profile-image-agent-onboard {
    border-radius: 10%;
    height: 2.5rem;
    width: 2.5rem;
    border: 2px solid orange;
}

img.table-profile-image-user-inactive {
    border-radius: 10%;
    height: 2.5rem;
    width: 2.5rem;
    border: 2px solid orange;
}

img.table-profile-image-no-user {
    border-radius: 10%;
    height: 2.5rem;
    width: 2.5rem;
    border: 2px solid red;
}

img.doc-profile-image {
    height: 2.5rem;
    width: 2.5rem;
}

.submit-progress {
    position: fixed;
    left: 50%;
    height: 10em;
    padding-top: 2.5em;
    /* The following rules are the
    ones most likely to change */
    width: 15em;
    /* Set 'margin-left' to a negative number
    that is 1/2 of 'width' */
    padding-left: 5em;
    background-color: white;
    color: black;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    border: 1px solid rgba(0,0,0,0.6);
    box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    z-index: 999;
}

    .submit-progress.hidden {
        display: none;
    }

.submit-progress-bg {
    background-color: lightgray;
    opacity: .5;
    cursor: none;
}

.submit-progress-password {
    position: fixed;
    height: 10em;
    padding-top: 2.5em;
    /* The following rules are the
    ones most likely to change */
    width: 15em;
    /* Set 'margin-left' to a negative number
    that is 1/2 of 'width' */
    padding-left: 5em;
    background-color: white;
    color: black;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    border: 1px solid rgba(0,0,0,0.6);
    box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    z-index: 999;
}

.submit-progress-password.hidden {
    display: none;
}

.submit-progress-password-bg {
    background-color: lightgray;
    opacity: .5;
    cursor: none;
}

.col-5 {
    margin-top: .6rem;
}

@media only screen and (max-width: 768px) {
    .submit-progress {
        left: 25%;
    }
}

.toggle.btn {
    min-width: 100px !important;
}

input[type="text"] #emailAddress {
    text-transform: lowercase;
}

a.btn {
    min-width: 5rem;
}

    a.btn.btn-xs {
        min-width: 5rem;
    }

button.btn {
    min-width: 5rem;
}

    button.btn.btn-sm {
        min-width: 3rem;
    }

a.btn.btn-sm {
    min-width: 3rem;
}

button.btn.btn-info.upload {
    margin-top: 0;
}

button.btn.btn-tool {
    min-width: 1rem;
}

a#back {
    min-width: 5rem;
}

a#back-button {
    min-width: 5rem;
}

.remarks {
    background-color: lightgoldenrodyellow;
}

.ipaddress {
    padding: 0 1rem;
    font-weight: bolder;
}

.user-role-disabled {
}

#time {
    font-size: .8rem;
    font-family: Tahoma;
    width: 4rem;
    text-align: center;
    color: black;
    padding-left:.4em;
}

.disabled-now {
    pointer-events: none;
}

.footer-item {
    margin: .1rem 0;
    padding: 0 .4rem;
}

.trial-banner {
    font: 1rem;
    color: brown;
    text-decoration: underline;
}

.small-suffix {
    font-size: x-small;
    font-weight: bold;
    color: black;
}

.detail-wizard {
    padding: 0 0 10px 0;
    border-radius: 4px;
}

.detail-wizard-complete {
    margin: 0 0 10px 0;
}

.process-case {
    color: #ff0000;
    margin: 1rem;
    padding: 1rem;
    text-shadow: 4px 4px white;
}

.review-case {
    color: orange;
    margin: 1rem;
    padding: 1rem;
    text-shadow: 4px 4px white;
}

.approve-case {
    color: green;
    padding: 1rem;
    margin: 1rem;
}

.trial-case {
    color: darkgoldenrod;
    margin: 1rem;
    padding: 1rem;
    text-shadow: 4px 4px white;
}

.navlink-border.nav-link {
    pointer-events: none;
    cursor: none;
    text-decoration: none;
}

#dashboard.navlink-border.nav-link {
    pointer-events: auto;
    cursor: pointer;
}

.fas.fa-info-circle:hover, .fas.fa-info:hover {
    cursor: pointer;
}

.question-tooltip {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    transform: translateY(-50%);
    min-width: 200px;
    z-index: 100;
    background: #f8f9fa;
    color: #212529;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

.question-tooltip-visible {
    display: block !important;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 200;
    top: 2rem;
    left: -6rem;
    width: 15rem;
    color: black;
    font-family: Verdana;
    font-size: .8rem;
    background-color: white;
    border: 2px outset #ddd;
    padding: 1rem;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

.hover-text {
    position: relative;
    text-align: left;
}

@media (max-width: 768px) {
    .tooltip-text {
        min-width: 10rem;
        width: 12rem;
        max-width: 200px;
        border: 1px outset #ddd;
        padding: 5px;
    }

        .tooltip-text li {
            margin: 5px 0px;
            list-style-type: none;
        }
}

.tooltip-text li {
    margin: 5px 0px;
}

.far.fa-hand-point-right, .far.fa-thumbs-up, .far.fa-thumbs-down, .fa.fa-hand-peace-o {
    font-size: 1.1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
}

ul#messagesList {
    list-style-type: none;
    max-height: 300px;
    overflow-y: auto;
}

.open-button {
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 80px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    padding: 20px 0;
    bottom: 0;
    right: 15px;
    z-index: 99999;
}

/* Add styles to the form container */
.form-container {
    max-width: 600px;
    background-color: white;
}

    /* Full-width textarea */
    .form-container textarea {
        width: 100%;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 200px;
        padding: 5px;
    }

        /* When the textarea gets focus, do something */
        .form-container textarea:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/send button */
    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

.notyf__toast {
    max-width: 500px !important; /* Set your desired width */
    max-height: 500px !important; /* Set your desired width */
}

.max-width-column {
    max-width: 200px;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures overflow is hidden */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}

.max-width-column-email {
    max-width: 150px;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures overflow is hidden */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}

.max-width-column-name {
    max-width: 100px;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures overflow is hidden */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}

.max-width-column-number {
    max-width: 100px;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures overflow is hidden */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}

.max-width-column-claim {
    max-width: 60px;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures overflow is hidden */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}

.max-width-column-picodes {
    max-width: 300px;
    white-space: break-spaces; /* Prevents text wrapping */
    overflow: auto; /* Ensures overflow is hidden */
    text-overflow: clip; /* Adds ellipsis if text overflows */
}

.trash-icon {
    position: relative;
    padding-left: 2rem; /* Adjust spacing for the icon */
}

    .trash-icon::before {
        content: "\f1f8"; /* Font Awesome trash icon unicode */
        font-family: "Font Awesome 5 Free"; /* Use Font Awesome font */
        font-weight: 900; /* Adjust for solid icon */
        position: absolute;
        left: 0.5rem; /* Adjust icon position */
        top: 50%;
        transform: translateY(-50%);
        color: white; /* Icon color */
    }

.map-thumbnail {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
}

.map-thumbnail-customer {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    border-radius: 50%;
}

/* CSS class for the thumbnail image size */
.map-thumbnail img.thumbnail {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
}
/* CSS class for the thumbnail image size */
.map-thumbnail-customer img.thumbnail {
    cursor: pointer;
    width: 2.5rem;
    border-radius: 25%;
}

/* CSS class for the full map (hidden by default) */
.full-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    display: none; /* Initially hidden */
    border: 1px solid #C38787;
    z-index: 999;
}

.full-map-customer {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    display: none; /* Initially hidden */
    border-radius: 5%;
    border: 1px solid green;
    z-index: 999;
}

.full-map-title {
    top: 0;
    position: absolute;
    display: none; /* Initially hidden */
    background: none;
    z-index: 999;
}

/* CSS class for the full map (hidden by default) */
.full-driving-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    display: none; /* Initially hidden */
    border: 1px solid #C38787;
    z-index: 999;
}

#CountryId, #StateId, #DistrictId {
    cursor: pointer; /* Pointer cursor for better UX */
    width: 100%; /* Full width of the container */
    position: relative;
    /*background: #fafad2 url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'><circle cx='11' cy='11' r='8'></circle><line x1='21' y1='21' x2='16.65' y2='16.65'></line></svg>") no-repeat right 10px center;*/
    /*background: #fafad2 url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'><path d='M4 6l4 4 4-4'></path></svg>") no-repeat right 10px center;*/
    border: 1px solid #ccc; /* Default border */
    padding: 8px 35px 8px 10px; /* Adjust padding for the dropdown arrow and text */
    border-radius: 4px; /* Rounded corners */
    line-height: 1.5; /* Line height for better alignment */
    color: #333; /* Dark text color for better contrast */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for focus */
    background-size: 18px 18px; /* Adjust icon size */
    padding-right: 35px; /* Add space for the icon */
}

.auto-dropdown {
    cursor: pointer; /* Pointer cursor for better UX */
    width: 100%; /* Full width of the container */
    position: relative;
    background: #fafad2 url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'><circle cx='11' cy='11' r='8'></circle><line x1='21' y1='21' x2='16.65' y2='16.65'></line></svg>") no-repeat right 10px center;
    /*background: #fafad2 url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'><path d='M4 6l4 4 4-4'></path></svg>") no-repeat right 10px center;*/
    border: 1px solid #ccc; /* Default border */
    padding: 8px 35px 8px 10px; /* Adjust padding for the dropdown arrow and text */
    border-radius: 4px; /* Rounded corners */
    line-height: 1.5; /* Line height for better alignment */
    color: #333; /* Dark text color for better contrast */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for focus */
    background-size: 18px 18px; /* Adjust icon size */
    padding-right: 35px; /* Add space for the icon */
}

    .auto-dropdown:focus {
        border-color: #007bff; /* Border color change on focus */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); /* Subtle focus shadow */
        outline: none; /* Remove default focus outline */
    }

    .remarks:hover, .auto-dropdown:hover {
        border-color: #007bff; /* Border color change on focus */
    }

    /* When the loading spinner is active */
    .auto-dropdown .loading-spinner {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 16px;
        display: none;
    }

/* Styling for the dropdown list that appears below the input */
.ui-autocomplete {
    border: 1px solid #ccc;
    max-height: 200px; /* Limit the height of the dropdown */
    overflow-y: auto; /* Enable scrolling if dropdown is long */
    font-size: 14px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    z-index: 9999; /* Ensure the dropdown is on top */
}

/* Hover effect for dropdown items */
.ui-menu .ui-menu-item:hover {
    color: darkblue;
}

/* Selected item style */
.ui-state-active {
    color: white !important;
}

/* Adjust the font of the dropdown items */
.ui-menu .ui-menu-item {
    padding: 8px 12px;
    cursor: pointer;
}

.input-invalid {
    border: 1px solid red;
}

.disabled-anchor {
    pointer-events: none;
    cursor: none;
}

.input-group {
    position: relative;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    right: 2em;
    transform: translateY(-50%);
    display: none; /* Hide spinner initially */
    color: #007bff; /* Adjust color if needed */
    font-size: 1.2em; /* Adjust size if needed */
}

    .loading-spinner.active {
        display: inline-block; /* Show spinner when active */
    }

input.auto-dropdown {
    transition: opacity 0.5s ease; /* Smooth opacity change */
    opacity: 1;
}

.is-invalid {
    border: 1px solid red;
    background-color: #ffe6e6; /* Light red background */
}

.text-danger {
    display: none;
    color: red;
    font-size: 0.875rem;
}

#PinCodeId option:checked {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
}

select#PinCodeId {
    min-height: 380px;
    height: 100%;
}

.highlight-new-user {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    animation: highlight 3s ease-in-out;
}

.highlighted-row {
    background-color: #fffbcc; /* Light yellow background */
    font-weight: bold;
}

.invalid {
    border: 1px solid red !important;
}
/* Ensure the column content does not expand the table */
.scrollable-column {
    max-width: 200px; /* Adjust as needed */
    overflow-x: auto;
    white-space: nowrap; /* Prevent text wrapping */
    text-overflow: ellipsis;
    border: 1px solid #ddd; /* Optional: Add a border for clarity */
    padding: 5px; /* Optional: Add some padding */
}

    /* Style the scrollbar for better UX */
    .scrollable-column::-webkit-scrollbar {
        height: 8px; /* Horizontal scrollbar height */
    }

    .scrollable-column::-webkit-scrollbar-thumb {
        background-color: #888; /* Scrollbar color */
        border-radius: 4px; /* Rounded scrollbar */
    }

        .scrollable-column::-webkit-scrollbar-thumb:hover {
            background-color: #555; /* Hover effect */
        }

#country-code-display {
    font-size: small;
}
/* Style the info icon */
.info-toggle i {
    font-size: 1.2rem;
    color: #1E548D; /* Bootstrap primary blue */
}

/* Dropdown Styling */
.info-dropdown {
    width: 240px; /* Reduced width */
    background: #f9fcff; /* Light blue background */
    border: 1px solid #d1e3f8; /* Light blue border */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
}

/* Dropdown items */
.info-item-top {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 12px;
    color: #495057; /* Dark gray text */
}

/* Label Styling */
.info-label-top {
    flex-grow: 1;
    font-weight: 500;
    color: #6c757d; /* Muted text */
}

/* Value Styling */
.info-value {
    font-weight: bold;
    color: #1E548D; /* Bootstrap primary blue */
}

/* Icons */
.icon {
    margin-right: 8px;
    color: #28a745; /* Green */
}

.flag-icon {
    margin-right: 5px;
}
.country-code-text{
    font-family:fantasy;
}
#all-pincodes {
    font-weight: bold;
}
#service-exists{
    color:darkred;
}
/* Text color for 'All Districts' */
.text-light-green {
    color: green !important;
    font-weight: bold;
}

/* Text color for 'All Pincodes' */
.text-light-blue {
    color: blue !important;
    font-weight: bold;
}

/* Default styling for progress-bar */
.progress-bar {
    width: 100%; /* Keep the width here since it's not dynamic */
    text-align: center;
}

.progress-bar-green {
    background-color: green !important;
    color: white;
}

.progress-bar-grey {
    background-color: grey;
}
.progress-bar-red {
    background-color: #dc3545 !important;
}

.progress-bar-lightgrey {
    background-color: lightgrey;
}



.text-black {
    color: black;
}

.text-lightgray {
    color: lightgray;
}

.btn-btn-grey {
    pointer-events: none;
    color: grey;
}
.i-grey {
    color: grey;
}
.i-orangered {
    color: orangered;
}
.i-green {
    color: green;
}
.i-upload {
    color: #17A2B8;
}
.i-assign {
    color: #dc3545;
}
.i-blue {
    color: darkblue;
}
.i-red {
    color: crimson;
}
.terms-condition {
    margin-top: 0.2em !important;
}
.last-update-term {
    color: #8351f9;
}
.loader{
    display:none;
}
.online-icon-default {
    color: #DED5D5; /* Default color for the icon */
}

.online-status-green {
    color: green;
}

.online-status-orange {
    color: orange;
}
.subtotal {
    width: 50%
}
.callout-info {
    margin-bottom: 0 !important;

}
/* Padding and alignment for result */
.result-padding {
    padding: 0.5rem;
}

/* Styles for available email */
.available {
    color: green;
    display: inline;
}

    .available i {
        color: #298807;
    }

/* Styles for unavailable email */
.unavailable {
    color: red;
    display: inline !important;
}

    .unavailable i {
        color: red;
    }

/* Border for invalid email */
.error-border {
    border-color: #e97878;
}

/* Reset default border for valid email */
#emailAddress {
    border-color: #ccc;
    background-color: transparent;
}
/* Styles for the enabled state of the button */
.enabled-btn {
    color: white;
    background-color: #004788;
    cursor: default;
}

/* Styles for the disabled state of the button */
.disabled-btn {
    color: #ccc;
    background-color: grey;
    cursor: not-allowed;
}
.blur-background {
    filter: blur(2px);
    transition: filter 0.3s ease; /* Smooth transition */
    pointer-events: none; /* Prevent interactions with blurred elements */
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Background blur effect */
    z-index: -1; /* Keep it behind the form */
}

.hostedscan {
    height:30px;
    width:auto
}

#editProfileImage {
    width: 160px; /* Set the desired width */
    height: 160px; /* Set the desired height */
    border-radius: 50%; /* Makes the image circular */
    border: 3px solid #ccc; /* Add a border around the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow around the image */
    object-fit: cover; /* Ensures the image maintains aspect ratio while filling the area */
    transition: transform 0.3s ease; /* Smooth transition effect on hover */
}

    #editProfileImage:hover {
        transform: scale(1.1); /* Slightly enlarges the image on hover */
        border-color: #007bff; /* Changes border color on hover */
    }

/* Optional: You can add some styling to the file input for better appearance */
.document-image-input {
    background-color: #f8f9fa;
    border-radius: 5px;
}
/* Blurred Background Overlay */
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Dark overlay */
    z-index: -1;
}
.icheckify-logo {
    height: 50px;
}
.toggle-password-visibility {
    cursor: pointer;
}


.welcome-message ul {
    list-style-type: none;
    padding-left: 1em;
}

.welcome-message li {
    font-size: .9em; /* Adjust text size */
    color:black;
}
    .welcome-message li strong {
        color: darkgreen;
    }
    
    .check-icon {
        color: green; /* Set the color of the checkmark */
        font-weight: bold;
        margin-right: 8px; /* Add spacing between the checkmark and text */
    }
.cross-icon {
    color: red; /* Set the color of the checkmark */
    font-weight: bold;
    margin-right: 8px; /* Add spacing between the checkmark and text */
}
#valid-characters {
    color: darkgreen;
    font-weight: bold;
    font-style: italic;
    padding:2px;
    border:1px solid #ddd;
    border-radius:2px;
    display:inline;
}
#invalid-characters {
    color: brown;
    font-weight: bold;
    font-style: italic;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 2px;
    display: inline;
}
/* Hide the default checkbox */
.custom-checkbox {
    display: none;
}

/* Style the custom checkbox */
.custom-checkbox-label {
    position: relative;
    display: inline-block;
    width: 60px; /* Increased width */
    height: 35px; /* Increased height */
    background-color: #ccc;
    border-radius: 60px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 1em; /* Space between the checkbox and the icon */
    margin-right: 2em; /* Space between the checkbox and the icon */
}

    /* Create the inner circle (the knob inside the checkbox) */
    .custom-checkbox-label::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 6px;
        width: 26px; /* Increased size of the knob */
        height: 26px; /* Increased size of the knob */
        background-color: white;
        border-radius: 50%;
        transition: transform 0.3s ease;
    }

/* When the checkbox is checked, change the background color and move the knob */
.custom-checkbox:checked + .custom-checkbox-label {
    background-color: #4CAF50; /* Green when checked */
}

    /* When checked, move the inner circle */
    .custom-checkbox:checked + .custom-checkbox-label::before {
        transform: translateX(20px); /* Move knob further to the right */
    }

/* Add hover effect */
.custom-checkbox-label:hover {
    background-color: #aaa; /* Slightly darker when hovered */
}

img.claims-logo {
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    clear: both;
    display: inline-block !important;
    border: none;
    height: auto;
    float: none;
    width: 35%;
    max-width: 203px;
    width: 80px;
}
.image-container {
    position: relative;
    display: inline-block;
}

.user-verified {
    position: absolute;
    top: -5px; /* Adjust this value to position the checkbox vertically (top) */
    right: -10px; /* Adjust this value to position the checkbox horizontally (right) */
    z-index: 10; /* Ensure the checkbox appears on top of the image */
}

.table-profile-image,
.table-profile-image-user-inactive {
    width: 50px; /* Adjust the size of the image */
    height: 50px; /* Adjust the size of the image */
    border-radius: 50%; /* Optional: to make the image circular */
}

.text-light-green {
    color: lightgreen;
}

.text-lightgray {
    color: lightgray;
}

.toggle-row {
    background-color: #f9f9f9; /* Light background color */
    border-radius: 4px; /* Rounded corners for the entire row */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    display: flex;
    padding:0px;
    margin:0px;
    flex-wrap: wrap; /* Allow items to wrap in smaller screens */
}
.fileAttachment{
    display:none;
}
.inbox-header, .table-header {
    background-color: #fff !important;
}
input#checkall {
        margin-right: 10px
    }
.master-data {
    pointer-events:none;
}

.disable-elements {
    pointer-events: none;
    cursor:not-allowed;
}
.invoice-subtotal {
    width: 50%;
}
.hidden-section {
    display: none;
    opacity: 0;
    transition: opacity 2s ease-in-out; /* Smooth fade-in/fade-out transition */
}
.password-info-icon {
    color: darkblue;
    font-size: .7em;
    cursor:default;
}
    .password-info-icon:hover {
        cursor: default;
    }
#password-advise {
    font-size: .7em;
    z-index: 9999;
}
.password-content{
    padding:0px;
}
.top-nav-header-border {
    padding: 0px;
    margin: 0px;
    cursor: default;
    background-color:#f1f1f1;
    border:1px solid #ddd;
    border-radius:.2em;
}

.top-nav-logout-border {
    padding: 0px;
    margin: 0px;
    cursor: default;
    background-color: white;
    border: 1px solid #ddd;
}
.reply-content {
    background-color: whitesmoke;
    padding: 0px 3em;
    max-height: 200px;
    overflow-y: auto;
    font-family: monospace;
    font-style: italic;
    white-space: pre-wrap;
}
.profile-img{
    width:10em;
    max-width:15em;
    height:auto;
}
/* Highlight active tab */
.nav-tabs .nav-link.active {
    background-color: lightgrey !important; /* Light grey background */
    color: black !important; /* Change text color for better contrast */
    font-weight: bold; /* Make text bold */
    border-radius: 5px 5px 0 0; /* Rounded top corners */
    border:1px solid grey;
}

/* Change inactive tabs */
.nav-tabs .nav-link {
    color: #007bff; /* Default text color */
    border: 1px solid transparent; /* Avoid border flicker */
    transition: all 0.3s ease;
}

    /* Hover effect on tabs */
    .nav-tabs .nav-link:hover {
        background-color: #e9ecef;
        border-radius: 5px;
    }

/* Optional: Add a bottom border to the active tab */
.nav-tabs {
    border-bottom: 2px solid lightgrey;
}

.isNewAssigned {
    background-color: #FCFCC4;
}
#notificationList{
    padding:5px;
}
/* Notification dropdown styling */
#notificationDropdown {
    min-width: 350px;
    max-height: 400px;
    overflow-y: auto;
}

/* Notification header */
.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    background: #f8f9fa;
}

/* Container for refresh & clear icons */
.notification-actions {
    display: flex;
    gap: 12px;
}

/* Notification refresh and clear icons */
#notification-refresh,
#clearNotifications {
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

    #notification-refresh:hover {
        color: #007bff;
        transform: rotate(15deg);
    }

    #clearNotifications:hover {
        color: #dc3545;
        transform: scale(1.1);
    }

/* Notification items */
.notification-item {
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    position: relative;
}

    .notification-content:hover {
        background: #f1f1f1;
    }

/* Notification content */
.notification-content {
    display: block;
    align-items: center;
    flex-grow: 1;
    padding: 0 1em;
    border-top: 1px solid #ddd;
}
.notification-action-content {
    display: block;
    flex-grow: 1;
    padding: 0 1em;
}

/* Notification timestamp */
.notification-time {
    font-size: 12px;
    color: #777;
}

/* Delete icon */
.delete-notification {
    cursor: pointer;
    font-size: 14px;
    color: #dc3545;
    margin-left: 10px;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

    .delete-notification:hover {
        color: #b22222;
        transform: scale(1.2);
    }
/* Disabled state for clear all icon */
.clear-disabled {
    color: #ccc !important;
    pointer-events: none;
    cursor: default;
}
.notification-message{
    margin-left:5px;
}
/* Dropdown styling */
.settings-dropdown {
    min-width: 230px;
    padding: 10px;
}

/* Profile section */
.profile-section {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Profile image */
.sidebar-profile {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid #fff;
}

/* Username and email */
.username {
    font-size: 16px;
}

.user-email {
    font-size: 12px;
}

/* Logout button */
.logout-btn {
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    border:1px solid red;
}

    .logout-btn:hover {
        background-color: #f8d7da !important;
    }
/* Dropdown menu styling */
.info-dropdown {
    min-width: 260px;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Dropdown items */
.info-item {
    font-size: 12px;
    padding: 8px 12px;
}

/* Labels */
.info-label {
    color: #555;
}

/* Flag icon */
.flag-icon {
    width: 22px;
    height: 16px;
    object-fit: cover;
    border-radius: 3px;
}

/* Hover effects */
.dropdown-item:hover {
    background-color: #f1f1f1;
    transition: 0.2s ease-in-out;
}

/* Colors */
.text-primary {
    color: darkblue !important;
}

.text-success {
    color: #28a745 !important;
}

.text-dangez {
    color: #dc3545 !important;
}
#agency-rating img.rating {
    height: 1rem;
    width: 1rem;
    border: none;
}

.timeline-date {
    margin-left: 1em;
}
/* Opacity for the entire row */
.row-opacity-50 {
    opacity: 0.5; /* Set the row opacity when pending */
}

.row-opacity-100 {
    opacity: 1; /* Full opacity for non-pending rows */
}

/* Watermark class for pending status */
.watermarked {
    position: relative;
}

    /* Watermark text (opacity, font-size, color) */
    .watermarked::before {
        content: "Pending";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        color: rgba(0, 0, 0, 0.1);
        font-weight: bold;
        pointer-events: none;
        user-select: none;
        z-index: 1000;
        opacity: 0.3; /* Watermark opacity */
    }

.watermark-row {
    position: relative;
    content: "Uploading...";
}
    .watermark-row::after {
        content: "Processing"; /* Watermark text */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: bold;
        color: rgba(200, 200, 200, 0.5); /* Light gray and semi-transparent */
        pointer-events: none;
        z-index: 10;
        white-space: nowrap;
    }
    .watermark-row * {
        opacity: 0.3; /* Fades the text in the background */
    }
.watermark-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2); /* Light watermark effect */
    pointer-events: none; /* Prevents interference with clicking */
    text-transform: uppercase;
}


.hidden {
    display: none;
}

#progressContainer {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
}

#progressBar {
    width: 0%;
    height: 5px;
    background-color: green;
    text-align: center;
    color: white;
    line-height: 5px;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}
.custom-checkbox-lg {
    width: 2rem;
    height: 1rem;
    cursor: pointer;
}

.highlighted-text {
    padding-left:1em;
    font-weight: bold;
    color: #17a2b8; /* Bootstrap Info Blue */
}

.highlighted-text-assign {
    font-weight: bold;
    color: #dc3545; /* Bootstrap Danger Red */
}

.form-check-label i {
    font-size: 1.2rem;
    margin: 0 5px;
}

.filter-refresh-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem 0px .5rem .5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    margin-bottom: 1rem;
    width: 100%; /* Occupies full width */
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex: 1; /* Allows both elements to occupy equal space */
}

.filter-group-refresh {
    display: flex;
    gap: 0.75rem;
    flex: 1; /* Allows both elements to occupy equal space */
}

.filter-label {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap; /* Prevents text from wrapping */
}

.custom-select {
    flex: 1;
    max-width: 150px;
}

.refresh-button {
    flex: 0.1;
    white-space: nowrap;
    margin: 0.1rem 1rem 0.1rem 0.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    border: 1px solid #ccc; /* Keep a subtle border */
    transition: all 0.3s ease;
}

    .refresh-button:hover,
    .refresh-button:active,
    .refresh-button:focus {
        box-shadow: none; /* Removes any unwanted shadow */
        outline: none; /* Removes focus outline */
    }
/* Edit Profile Button */
.edit-profile-btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
    background: white;
    color: orange;
}

    /* Hover Effect */
    .edit-profile-btn:hover {
        color: white;
    }
.edit-profile-btn:active {
    color: white;
    transform: scale(0.96); /* Slight shrink effect */
}
.max-width-column-status {
    max-width: 22em;
    white-space: break-spaces; /* Prevents text wrapping */
    overflow: auto; /* Ensures overflow is hidden */
    text-overflow: clip; /* Adds ellipsis if text overflows */
}
.custom-message-badge {
    max-width: 22em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.doc-preview {
    width: auto;
    height: 100px;
    max-width: 100%;
    object-fit: contain;
    border-radius: 0.25rem;
}

.processing-row {
    background-color: #fff3cd !important; /* light yellow */
    color: #6c757d !important;
}

/* General enhancements */
.questionnaire-form {
    background-color: #fefefe;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-left: 4px solid #0d6efd;
}

/* Question block */
.question-block {
    background-color: #f8f9fa;
    padding: 1rem 1.2rem;
    border-radius: 8px;
    position: relative;
    border-left: 5px solid #0d6efd;
    transition: box-shadow 0.3s ease;
}

    .question-block:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
    }

    .question-block label {
        font-size: 1rem;
        color: #333;
    }
.required-asterisk {
    color: red;
}
.position-relative {
    position: relative;
}

.btn-clear-date {
    position: absolute;
    right: 1em;
    top: 60%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: #dc3545;
    cursor: pointer;
    z-index: 2;
}

    .btn-clear-date:hover {
        color: #a71d2a;
    }
