@model List<Country>

<section class="content">
    <div class="card card-secondary border-secondary">
        <div class="submit-progress hidden">
            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
        </div>
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-map-marked-alt"></i> Country</h3>

        </div>
        <div class="card-body">

            <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th>Country code</th>
                        <th>Country name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- The body will be populated dynamically via DataTables -->
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
                        <a class="btn btn-success" asp-controller="Country" asp-action="Create"><i class="fas fa-map-marked-alt"></i> @Applicationsettings.CREATE New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/company-admin/country.js">

    </script>
}