@model risk.control.system.Models.CaseLocation

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
}
<link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />

<section class="content pt-2">
    <div class="container-fluid ">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-map-marker-alt"></i> Add Location</h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ProfileImage" class="control-label"></label>
                                            <div class="input-group mb-3">
                                                <img class="form-Image" id="profileImage" src="/img/no-image.png">
                                                <input asp-for="ProfileImage" type="file" class="form-control" onchange="document.getElementById('profileImage').src = window.URL.createObjectURL(this.files[0])" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BeneficiaryName" class="control-label"></label>
                                            <input required asp-for="BeneficiaryName" class="form-control" type="text" placeholder="Enter Beneficiary Name" />
                                            <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BeneficiaryRelationId" class="control-label"></label>
                                            <select required asp-for="BeneficiaryRelationId" class="form-control" asp-items="ViewBag.BeneficiaryRelationId">
                                                <option>--- SELECT BENEFICIARY RELATION ---</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BeneficiaryContactNumber" class="control-label"></label>
                                            <input required asp-for="BeneficiaryContactNumber" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                                   placeholder="Enter Contact Name" />
                                            <span asp-validation-for="BeneficiaryContactNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BeneficiaryIncome" class="control-label"></label>
                                            <select required asp-for="BeneficiaryIncome" class="form-control" asp-items="Html.GetEnumSelectList<Income>()">
                                                <option>--- SELECT BENEFICIARY INCOME ---</option>
                                            </select>
                                            <span asp-validation-for="BeneficiaryIncome" class="text-danger"></span>
                                        </div>
                                        <div style="display:none" class="form-group">
                                            <label asp-for="ClaimsInvestigationId" class="control-label"></label>
                                            <input required asp-for="ClaimsInvestigationId" class="form-control" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BeneficiaryDateOfBirth" class="control-label"></label>
                                            <input required asp-for="BeneficiaryDateOfBirth" class="form-control" />
                                            <span asp-validation-for="BeneficiaryDateOfBirth" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Addressline" class="control-label"></label>
                                            <input required asp-for="Addressline" class="form-control" placeholder="Enter Address line" />
                                            <span asp-validation-for="Addressline" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Addressline2" class="control-label"></label>
                                            <input asp-for="Addressline2" class="form-control" placeholder="Enter Address line 2 (optional)" />
                                            <span asp-validation-for="Addressline2" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CountryId" class="control-label"></label>
                                            <select required asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId" onchange="loadState(this, false)">
                                                <option>--SELECT COUNTRY--</option>
                                            </select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="StateId" class="control-label"></label>
                                            <select required id="StateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this, false)">
                                                <option>--SELECT STATE--</option>

                                            </select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="DistrictId" class="control-label"></label>
                                            <select required id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)">
                                                <option>--SELECT DISTRICT--</option>

                                            </select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PinCodeId" class="control-label"></label>
                                            <select required id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId">
                                                <option>--SELECT PINCODE--</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group text-right">
                                            <a asp-controller="ClaimsInvestigation" asp-action="Details" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId" class="btn btn-secondary">
                                                <i class="fa fa-window-close"></i>
                                                @Applicationsettings.CANCEL
                                            </a>
                                            <button disabled id="create-pincode" type="submit" class="btn btn-success">
                                                <i class="fas fa-plus"></i> Add Location
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/css/bootstrap-multiselect.js"></script>
    <script>
        $("#profileImage").focus();
    </script>
}
