@model risk.control.system.Models.CaseLocation

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
}
<link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />

<section class="content pt-2">
    <div class="container-fluid ">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-map-marker-alt"></i> Add Location</h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div style="display:none" class="form-group">
                                            <span asp-for="ClaimsInvestigationId" class="control-label"></span>
                                            <input required asp-for="ClaimsInvestigationId" class="form-control" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ProfileImage">Beneficiary Photo</span>
                                                </div>
                                                <img id="documentImage" class="form-Image" src="/img/no-photo.png">

                                                <input asp-for="ProfileImage" class="form-control" type="file" onchange="document.getElementById('documentImage').src = window.URL.createObjectURL(this.files[0])" />

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="BeneficiaryName">Beneficiary Name</span>
                                                </div>
                                                <input required asp-for="BeneficiaryName" class="form-control" type="text" placeholder="Enter Beneficiary Name" />
                                                <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="BeneficiaryName">Relation</span>
                                                </div>
                                                <select required asp-for="BeneficiaryRelationId" class="form-control" asp-items="ViewBag.BeneficiaryRelationId">
                                                    <option>--- SELECT BENEFICIARY RELATION ---</option>
                                                </select>
                                                <span asp-validation-for="BeneficiaryRelationId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="PhoneNumber">Phone Number</span>
                                                </div>
                                                <input type="number" asp-for="BeneficiaryContactNumber" class="form-control" required type="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Enter Phone Number [Format: 123-456-7890]" />
                                                <span asp-validation-for="BeneficiaryContactNumber" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="BeneficiaryIncome">Annual Income</span>
                                                </div>
                                                <select required asp-for="BeneficiaryIncome" class="form-control" asp-items="Html.GetEnumSelectList<Income>()">
                                                    <option>--- SELECT BENEFICIARY INCOME ---</option>
                                                </select>
                                                <span asp-validation-for="BeneficiaryIncome" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="BeneficiaryDateOfBirth">Date Of Birth</span>
                                                </div>
                                                <input required asp-for="BeneficiaryDateOfBirth" class="form-control" type="date" />
                                                <span asp-validation-for="BeneficiaryDateOfBirth" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="CountryId">Country</span>
                                                </div>
                                                <select asp-for="CountryId" class="form-control" id="inputGroupSelect01" asp-items="ViewBag.CountryId" onchange="loadState(this)">
                                                    <option selected>--- SELECT COUNTRY ---</option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="StateId">State</span>
                                                </div>
                                                <select id="StateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this)">
                                                    <option>--- SELECT STATE ---</option>
                                                </select>

                                                <span asp-validation-for="StateId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="DistrictId">District</span>
                                                </div>
                                                <select id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)">
                                                    <option>--- SELECT DISTRICT ---</option>
                                                </select>

                                                <span asp-validation-for="DistrictId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="PinCodeId">Pincode</span>
                                                </div>
                                                <select id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId">
                                                    <option>--- SELECT PINCODE ---</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="Addressline">Address line</span>
                                                </div>
                                                <input type="text" asp-for="Addressline" class="form-control" type="text" placeholder="Enter Address line" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="Addressline">Address line2</span>
                                                </div>
                                                <input type="text" asp-for="Addressline2" class="form-control" type="text" placeholder="Enter Address line2 (optional)" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group text-right">
                                            <a asp-controller="ClaimsInvestigation" asp-action="Details" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId" class="btn btn-secondary">
                                                <i class="fa fa-window-close"></i>
                                                @Applicationsettings.CANCEL
                                            </a>
                                            <button disabled id="create-pincode" type="submit" class="btn btn-success">
                                                <i class="fas fa-plus"></i> Add Location
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/css/bootstrap-multiselect.js"></script>
    <script>
        $("#profileImage").focus();
    </script>
}
