@model risk.control.system.Models.CaseLocation

@{
    ViewData["Title"] = @Applicationsettings.EDIT;
    var caseId = Model.ClaimsInvestigation.ClaimsInvestigationId;
    Layout = "/Views/Shared/AdminLTE/_FormLayout.cshtml";
}

<section class="content pt-2">
    <div class="container-fluid ">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-map-marker-alt"></i>  Edit Location</h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="Edit">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="CaseLocationId" />
                                        <input type="hidden" asp-for="ClaimsInvestigationId" />
                                        
                                        
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text" id="documentImage">Beneficiary Photo</span>
                                            </div>
                                            @if (Model?.ProfilePicture is not null)
                                            {
                                                <img id="profileImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ProfilePicture))">
                                            }
                                            else
                                            {
                                                <img class="form-Image" id="profileImage" src="/img/no-photo.png">
                                            }
                                            <input asp-for="ProfileImage" type="file" class="form-control" onchange="document.getElementById('profileImage').src = window.URL.createObjectURL(this.files[0])" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="BeneficiaryName">Beneficiary Name <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input required asp-for="BeneficiaryName" class="form-control" type="text" placeholder="Enter Beneficiary Name" />
                                                <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="BeneficiaryName">Relation <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select required asp-for="BeneficiaryRelationId" class="form-control" asp-items="ViewBag.BeneficiaryRelationId">
                                                    <option value="">--- SELECT ---</option>
                                                </select>
                                                <span asp-validation-for="BeneficiaryRelationId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="BeneficiaryContactNumber">Contact # <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input type="number" asp-for="BeneficiaryContactNumber" class="form-control" required maxlength="10" min="1111111111" placeholder="Enter Phone # (10 digit)" />
                                                <span asp-validation-for="BeneficiaryContactNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="BeneficiaryIncome">Annual Income <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select required asp-for="BeneficiaryIncome" class="form-control" asp-items="Html.GetEnumSelectList<Income>()">
                                                    <option value="">--- SELECT ---</option>
                                                </select>
                                                <span asp-validation-for="BeneficiaryIncome" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="BeneficiaryDateOfBirth">Date Of Birth <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input required asp-for="BeneficiaryDateOfBirth" id="BeneficiaryDateOfBirthId" class="form-control" type="date" />
                                                <span asp-validation-for="BeneficiaryDateOfBirth" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="CountryId">Country <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select asp-for="CountryId" class="form-control" id="CountryId" asp-items="ViewBag.CountryId" onchange="loadState(this)">
                                                    <option value="">--- SELECT ---</option>
                                                </select>
                                                <span asp-validation-for="CountryId" class="text-danger"></span>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="StateId">State <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select id="StateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this)">
                                                    <option value="">--- SELECT ---</option>
                                                </select>

                                                <span asp-validation-for="StateId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="DistrictId">District <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)">
                                                    <option value="">--- SELECT ---</option>
                                                </select>

                                                <span asp-validation-for="DistrictId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="PinCodeId">Pincode <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId">
                                                    <option value="">--- SELECT ---</option>
                                                </select>
                                                <span asp-validation-for="PinCodeId" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="Addressline">Address line <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input required type="text" asp-for="Addressline" class="form-control"  placeholder="Enter Address line" />
                                                <span asp-validation-for="Addressline" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="Addressline">Address line2</span>
                                                </div>
                                                <input type="text" asp-for="Addressline2" class="form-control" placeholder="Enter Address line2 (optional)" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-right">
                                            <a asp-controller="ClaimsInvestigation" asp-action="Details" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId" class="btn btn-secondary">
                                                <i class="fa fa-window-close"></i>
                                                @Applicationsettings.CANCEL
                                            </a>
                                            <button type="submit" class="btn btn-warning">
                                                <i class="fas fa-map-marker-alt"></i> Edit Location
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#profileImage").focus();
        BeneficiaryDateOfBirthId.max = new Date().toISOString().split("T")[0];

    </script>
}
