@model risk.control.system.Models.VendorInvestigationServiceType

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
}

<section class="content">
    <form id="create-form" asp-action="CreateService" enctype="multipart/form-data">
        <input id="vendorId" type="hidden" asp-for="VendorId" value="@Model.Vendor.VendorId" />
        <div class="card bg-light card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-truck"></i> Add @Applicationsettings.SERVICE</h3>
            </div>
            <div class="card-body">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <partial name="Vendor/_CreateService" model="Model" />

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group text-right">
                            <a id="back" asp-controller="Agency" asp-action="Service" class="btn btn-secondary">
                                <i class="fa fa-window-close"></i>
                                @Applicationsettings.CANCEL
                            </a>
                            <button disabled id="create" type="submit" class="btn btn-success">
                                <i class="fas fa-truck"></i> Add Service
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/common/pincode-service.js"></script>
    <script src="~/js/agency-admin/manage-service.js"></script>
    <script src="~/js/common/form-validation.js"></script>
}
