@{
    ViewData["Title"] = @Applicationsettings.DETAILS;
}
<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title"><i class="fas fa-truck"></i> Manage Services</h3>

        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th></th>
                        <th>CaseType</th>
                        <th>Verification Type</th>
                        <th>Rate</th>
                        <th>District</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>UpdatedBy</th>
                        <th>Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
        
    </div>
</section>
@section Scripts    {
    <script src="~/js/agency-admin/agency-service.js"></script>
}