@model risk.control.system.Models.IpAddress
@{
    ViewData["Title"] = @Applicationsettings.CREATE;
}
<section class="content">
    <div class="card bg-light card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-sitemap"></i> Add New</h3>
        </div>
        <form id="create-form" asp-action="Create" enctype="multipart/form-data">
            <div class="card-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <span class="input-group-label"> IP Address:</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Address"><i class="fas fa-sitemap"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input type="text" asp-for="Address" class="form-control remarks title-name" required placeholder="IP Address" maxlength="15">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                
                

            </div>
            <div class="form-group float-right">
                <a id="back" asp-controller="IpAddress" asp-action="Index" class="btn btn-secondary"><i class="fa fa-window-close"></i> @Applicationsettings.CANCEL</a> &nbsp;
                <button type="submit" class="btn btn-success"> <i class="fas fa-sitemap"></i>  @Applicationsettings.CREATE New </button>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/whitelist.js">

    </script>
}
