@model ClaimsInvestigationVendorAgentModel

@{
    ViewData["Title"] = @Applicationsettings.SERVICE;
}

<section class="content">
    <partial name="_VendorClaimsPolicy" model="@Model" />
    
</section>

@section Scripts    {
    <script src="~/js/select-vendor-agent.js"></script>
    <script src="~/js/common/claim-details.js"></script>

}