@{
    ViewData["Title"] = @Applicationsettings.VENDOR;
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <div class="card border-secondary card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-building"></i>  Agencies</h3>
                        
                    </div>
                    <div class="card-body">
                        
                        <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Document
                                    </th>
                                    <th>
                                        Domain
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Code
                                    </th>
                                    <th>
                                        Phone
                                    </th>

                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        District
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <a id="back" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>

                                    <a class="create-agency-user btn btn-success" href='#'><i class="fas fa-building"></i> @Applicationsettings.CREATE Agency</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


    </div>
</section>
@section Scripts {
    <script src="~/js/all-vendors.js">

    </script>
}