@model risk.control.system.Models.Vendor

@{
	ViewData["Title"] = @Applicationsettings.CREATE;
}
<section class="content">
	<div class="card shadow-lg border-1 rounded-lg">
		<div class="card-header bg-secondary text-white text-center">
			<h3 class="card-title"><i class="fas fa-building"></i>  Add @Applicationsettings.VENDOR</h3>
		</div>
		<div class="card-body">
			<div class="submit-progress hidden">
				<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="form-group mb-0">
						<label class="input-group-label" for="emailAddress"> <strong>Step 1:</strong> Verify Domain: <small>(minimum 5 character)</small></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text" id="emailid"><i class="fa fa-globe"></i> <i class="fa fa-asterisk asterik-style"></i></span>
							</div>
							<input asp-for="Email" id="emailAddress" class="form-control email-address remarks" type="text" required
								   placeholder="domain name" maxlength="15" autocomplete="name" title="Enter unique domain name with minimum 5 character" data-bs-toggle="tooltip" />
							<div class="input-group-append">
								<select id="domain" name="domain" asp-for="DomainName" class="form-control remarks" asp-items="Html.GetEnumSelectList<Domain>()" title="domain" data-bs-toggle="tooltip">
								</select>
								<div class="input-group-append">
									<button disabled id="check-domain" class="btn btn-info disabled-btn validate-user" data-bs-toggle="tooltip" title="Click to validate domain">
										<i class="far fa-question-circle"></i>
									</button>
									<span id="result"></span>
								</div>
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<form id="create-form" asp-action="Create" enctype="multipart/form-data" method="post" autocomplete="off">
			<input type="hidden" asp-for="Email" id="mailAddress" />
			<input type="hidden" asp-for="DomainName" id="domainAddress" name="domainAddress" />
			<div class="card shadow-lg border-1 rounded-lg mb-4">
			<div class="card-header justify-content-center">
				<h3 class="card-title"><i class="fas fa-edit mr-2"></i><strong> Step 2: Agency Information </strong></h3>
			</div>
			<partial name="Vendor/_Create" model="Model" />
			</div>
		</form>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/manager/create-agency.js"></script>
	<script src="~/js/common/address-with-pincode.js"></script>
	<script src="~/js/company-admin/add-phone-bank-validate.js"></script>
	<script src="~/js/common/logo-upload.js"></script>
	<script src="~/js/common/form-validation.js"></script>
}