@model risk.control.system.Models.Vendor

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
    Layout = "/Views/Shared/AdminLTE/_FormLayout.cshtml";
}
<section class="content pt-2">
    <div class="container-fluid ">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-building"></i>  Add @Applicationsettings.VENDOR</h3>
                        </div>
                        <div class="card-body">
                            </div>
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="emailid">Email Address <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input asp-for="Email" id="email" class="form-control" type="email" required placeholder="Enter Agency Email" maxlength="50" value="">
                                            <span asp-validation-for="Name" class="text-danger" id="result"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="FirstName">Agency Name <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Name" class="form-control" required placeholder="Enter Agency Name" maxlength="50" value="">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Code">Agency Code<i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Code" class="form-control" required placeholder="Enter Agency Code" maxlength="5" value="">
                                            <span asp-validation-for="Code" class="text-danger"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="PhoneNumber">Phone # <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="number" asp-for="PhoneNumber" class="form-control" required maxlength="10" value="" placeholder="Enter Phone # (10 digit)" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Branch">Branch Name <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Branch" class="form-control" required placeholder="Enter Branch Name" value="">
                                            <span asp-validation-for="Branch" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="BankName">Bank Name <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="BankName" class="form-control" required placeholder="Enter Bank Name" value="">
                                            <span asp-validation-for="BankName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="BankAccountNumber">Bank Account # <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="BankAccountNumber" class="form-control" required placeholder="Bank Account #" value="">
                                            <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="IFSCCode">IFSC Code <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="IFSCCode" class="form-control" required placeholder="Bank IFSC Code" value="">
                                            <span asp-validation-for="IFSCCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="AgreementDate">Agreement Date <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="date" asp-for="AgreementDate" class="form-control" required placeholder="Agreement Date">
                                            <span asp-validation-for="AgreementDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                  
                                    @*<div class="form-group">
                                        <label asp-for="ActivatedDate" class="control-label"></label>
                                        <input asp-for="ActivatedDate" class="form-control" />
                                        <span asp-validation-for="ActivatedDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DeListedDate" class="control-label"></label>
                                        <input asp-for="DeListedDate" class="form-control" />
                                        <span asp-validation-for="DeListedDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Status" class="control-label"></label>
                                        <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<VendorStatus>()">
                                            <option>--- SELECT STATUS ---</option>
                                        </select>
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DelistReason" class="control-label"></label>
                                        <textarea asp-for="DelistReason" class="form-control"></textarea>
                                        <span asp-validation-for="DelistReason" class="text-danger"></span>
                                    </div>*@
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="CountryId">Country <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select asp-for="CountryId" class="form-control" id="inputGroupSelect01" asp-items="ViewBag.CountryId" onchange="loadState(this)" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="CountryId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="StateId">State <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select id="StateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this)" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="DistrictId">District <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="DistrictId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="PinCodeId">Pincode <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="PinCodeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Addressline">Address line <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Addressline" class="form-control" value="" placeholder="Enter Address line" required/>
                                            <span asp-validation-for="Addressline" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="documentImageLabel">Document Image</span>
                                            </div>
                                            <img id="documentImage" class="form-Image" src="/img/no-photo.png">

                                            <input asp-for="DocumentImage" class="form-control" type="file" onchange="document.getElementById('documentImage').src = window.URL.createObjectURL(this.files[0])" />

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Comments">Remarks <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Description" class="form-control" placeholder="Enter Remarks" required value="" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group text-right">
                                        <a asp-action="Index" class="btn btn-secondary">
                                            <i class="fa fa-window-close"></i>
                                            @Applicationsettings.CANCEL
                                        </a>
                                        <button disabled id="create-pincode" type="submit" class="btn btn-success">
                                            <i class="fas fa-building"></i> Add Agency
                                        </button>
                                    </div>
                                    </>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/jscript">
        $('#email').blur(function () {
            var url = "/Account/CheckUserName";
            var name = $('#email').val();
            $.get(url, { input: name }, function (data) {
                if (data == "Available") {
                    $("#result").html("<span style='color:green;padding-top:.5rem;'> <i class='fas fa-check' style='color:#298807'></i> Available</span>");
                    $('#result').css('padding','.5rem')
                    $('#result').fadeOut(2000); // 1.5 seconds
                    $('#result').fadeOut('slow'); // 1.5 seconds
                    $("#email").css('background-color', '');
                    $("#email").css('border-color', '');
                }
                else {
                    $("#result").html("<span style='color:red;padding-top:.5rem;display:inline !important'><i class='fa fa-times-circle' style='color:red;'></i> Email exists </span>");
                    $('#result').css('padding','.5rem')
                    $("#email").css('border-color', '#e97878');
                }
            });
        })
    </script>
}
