@model risk.control.system.Models.ReportTemplate

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/AdminLTE/_FormLayout.cshtml";
}
<link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
<section class="content pt-2">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-truck"></i> Add Template</h3>
                    </div>
                    <form id="create-form" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DigitalIdReportId" class="control-label"></label>
                                        <select asp-for="DigitalIdReportId" class ="form-control" asp-items="ViewBag.DigitalIdReportId">
                                            <option value="">--- SELECT ---</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DocumentIdReportId" class="control-label"></label>
                                        <select asp-for="DocumentIdReportId" class ="form-control" asp-items="ViewBag.DocumentIdReportId">
                                            <option value="">--- SELECT ---</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                <div class="form-group">
                                    <label asp-for="ReportQuestionaireId" class="control-label"></label>
                                    <select asp-for="ReportQuestionaireId" class="form-control" asp-items="ViewBag.ReportQuestionaireId">
                                        <option value="">--- SELECT ---</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/css/bootstrap-multiselect.js"></script>
    }
}
