@using risk.control.system.Helpers
@* @model List<ReportTemplate> *@

<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title">
                <i class="far fa-file-powerpoint"></i> Report <sub>template</sub>
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                      
                        <li>
                            <i class='fas fa-copy'></i> Clone
                        </li>
                        <li>
                            <i class='fas fa-edit'></i> Edit 
                        </li>
                        <li>
                            <i class='fa fa-flash'></i>  Activate
                        </li>
                        <li>
                            <i class='fas fa-trash'></i> Delete
                        </li>
                    </span>
                </span>
            </h3>
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <form id="antiForgeryForm">
                        @Html.AntiForgeryToken()
                    </form>
                    <table id="reportTemplatesTable" class="table table-bordered table-striped w-100">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Insurance Type</th>
                                <th>Status</th>
                                <th>Created On</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company/report-template-list.js"></script>
}
