@model TopNavigation
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-light bg-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars">&nbsp;&nbsp; </i></a>
        </li>
        @* <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
        </li> *@
    </ul>

    <!-- SEARCH FORM -->
    @* <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
    <div class="input-group-append">
    <button class="btn btn-navbar" type="submit">
    <i class="fas fa-search"></i>
    </button>
    </div>
    </div>
    </form> *@

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

        <li class="top-nav-header-border">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" role="button" title="Idle time remaining" data-toggle="tooltip">
                <div><i id="hour-glass" class="fas fa-hourglass-end fa-spin"></i>  <span id="time"> </span></div>
            </a>
        </li>
        <li class="top-nav-header-border">
            @{
                var img = "/flags/" + @Model.CountryCode.ToLower() + ".png";
            }
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" role="button" title="@Model?.Country" data-toggle="tooltip">
                <div id="country"> <i class="fas fa-map-marker-alt"></i> <img src="@img" class="flag-icon" /> </div>
            </a>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="dropdown top-nav-header-border">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fas fa-cog fa-spin"></i>
            </a>
            <div class="dropdown-menu dropdown-menu dropdown-menu-right">
                @if (Model.CanChangePassword)
                {
                    @*  <div class="accent-secondary">
                <a id="password" class="dropdown-item" href="/agencyuserprofile/ChangePassword">
                <i class="fas fa-lock-open"></i>   Change Password
                </a>
                </div> *@

                    <div class="accent-warning">
                        <a class="dropdown-item" href="/agencyuserprofile">
                            <img src="data:image/*;base64,@(Convert.ToBase64String(Model?.ProfilePicture))" class="elevation-2 sidebar-profile img-circle" data-toggle="tooltip" />  User Profile
                        </a>
                    </div>
                }

                <div class="accent-danger">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt"></i>  Logout
                    </a>
                </div>
            </div>
        </li>
        @*        <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        <i class="fas fa-th-large"></i>
        </a>
        </li>*@
    </ul>
</nav>