@model TopNavigation
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-light bg-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars">&nbsp;&nbsp; </i></a>
        </li>
        @* <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
        </li> *@
    </ul>

    <!-- SEARCH FORM -->
    @* <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
    <div class="input-group-append">
    <button class="btn btn-navbar" type="submit">
    <i class="fas fa-search"></i>
    </button>
    </div>
    </div>
    </form> *@

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown top-nav-logout-border">
            @* <a class="nav-link dropdown-toggle info-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Info">
                <i class="fa fa-info-circle"></i>
            </a> *@

            <a class="nav-link dropdown-toggle info-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Info"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right info-dropdown">
                @{
                    var img = "/flags/" + @Model.CountryCode.ToLower() + ".png";
                }

                <!-- Country -->
                <div class="dropdown-item info-item-top">
                    <img src="@img" class="flag-icon" />
                    <span class="info-label-top">Country:</span>
                    <span class="info-value">@Model?.Country</span>
                </div>

                <div class="dropdown-divider"></div>

                <!-- Currency -->
                <div class="dropdown-item info-item-top">
                    <i class="fa fa-money icon"></i>
                    <span class="info-label-top">Currency:</span>
                    <span class="info-value">@Model?.CurrencyName</span>
                </div>

                <div class="dropdown-divider"></div>

                <!-- ISD Code -->
                <div class="dropdown-item info-item-top">
                    <i class="fa fa-phone icon"></i>
                    <span class="info-label-top">ISD Code:</span>
                    <span class="info-value">@Model?.IsdCode</span>
                </div>
            </div>
        </li>


        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown top-nav-logout-border">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="notificationToggle">
                <i class="far fa-bell" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications"></i>
                <span class="badge badge-warning" id="notificationCount">0</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" id="notificationDropdown">
                <span class="dropdown-header">
                    Notifications
                    <span class="notification-actions">
                        <i id="notification-refresh" class="fas fa-sync" title="Refresh" data-bs-toggle="tooltip"></i>
                        <i id="clearNotifications" class="fa fa-trash" title="Clear All" data-bs-toggle="tooltip"></i>
                    </span>
                </span>
                <div id="notificationList"></div>
            </div>
        </li>

        <li class="nav-item dropdown top-nav-logout-border">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog fa-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Settings"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right shadow-lg rounded-lg border-0 settings-dropdown">
                <!-- Profile Section -->
                <div class="text-center profile-section">
                    <img src="/Document/GetUserProfileImage/@Model.UserId"
                         class="rounded-circle shadow-sm border sidebar-profile"
                         alt="User Profile" title="@Model.Email" data-bs-toggle="tooltip" />
                    <p class="text-muted user-email">@Model.Email</p>
                    @if (Model.CanChangePassword)
                    {
                        <div class="text-center profile-inner-section">

                            <a  href="/AgencyUserProfile/Edit?userid=@Model.UserId" class="btn btn-sm btn-outline-warning">
                                <i class="fas fa-user-edit"></i> Edit Profile
                            </a>
                        </div>
                        <div class="text-center profile-inner-section">
                            <a href="/AgencyUserProfile/ChangePassword" class="btn btn-sm btn-outline-secondary">
                                <i class="fa fa-key"></i> Change Password
                            </a>
                        </div>
                    }
                    <!-- Logout Link -->
                        <div class="text-center profile-inner-section">
                        <a class="font-weight-bold btn btn-sm btn-outline-danger"
                           href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt mr-2"></i> Logout
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>