@using risk.control.system.Models;
@model ClientCompany

<aside class="main-sidebar elevation-2 sidebar-light-primary">
    <partial name="AdminLTE/_CompanySidebarBrand" model="@Model" />
    <div class="sidebar">
        <partial name="AdminLTE/_CompanySidebarTopLogo" />
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <partial name="AdminLTE/_CompanySidebarDashboard" />
                @if (Model.EnableMailbox)
                {
                    <partial name="AdminLTE/_CompanySidebarMailbox" model="@Model" />
                }
                <partial name="AdminLTE/_CompanySidebarClaims" model="@Model" />
                <partial name="AdminLTE/_CompanySidebarAdmin" />
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>