<footer class="main-footer text-sm no-print">

	<div class="float-right d-none d-sm-block">
		<a href="https://hostedscan.com"><img src="~/img/hostedscan.png" alt="HostedScan | An automated vulnerability scanner" /></a>
	</div>
	<span class="info-item footer-item"><i class="fas fa-globe"></i> <span class="info-title">copyright&copy;</span><b> <span class="info-data  badge badge-light"><strong> @Applicationsettings.WEBSITE_NAME</strong></span></b></span>
	<span id="city" class="info-item footer-item"><i class="fas fa-city"></i> <span class="info-title"></span><b> <span class="info-data badge badge-light">Loading...</span></b></span>
	<span id="browser" class="info-item footer-item"><i class="fas fa-tv"></i> <span class="info-title"></span> <b> <span class="info-data  badge badge-light">Loading...</span></b></span>
	<span id="device" class="info-item footer-item"><i class="fa fa-laptop"></i> <span class="info-title"></span> <b> <span class="info-data  badge badge-light">Loading...</span></b></span>
	<span id="os" class="info-item footer-item"><i class="fas fa-hdd"></i> <span class="info-title"></span> <b> <span class="info-data  badge badge-light">Loading...</span></b></span>
</footer>