@using Microsoft.EntityFrameworkCore;
@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject ApplicationDbContext context
@model ClientCompany
@{

    if (User.IsInRole(AppRoles.Creator.ToString()))
    {
        <partial name="AdminLTE/_CompanySidebarClaimsCreator" />
    }
    if (User.IsInRole(AppRoles.Assessor.ToString()))
    {
        <partial name="AdminLTE/_CompanySidebarClaimsAssessor" />
    }


    if (User.IsInRole(AppRoles.PortalAdmin.ToString()))
    {
        <li class="nav-item">
            <a is-active-page asp-controller="Claim" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Claim","")">
                <i class="fas fa-rupee-sign nav-icon"></i>
                <p>
                    @Applicationsettings.INVESTIGATION_CLAIM ^
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="Underwriting" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Underwriting","")">
                <i class="fas fa-handshake nav-icon"></i>
                <p>
                    @Applicationsettings.INVESTIGATION_UNDERWRITINGS ^
                </p>
            </a>
        </li>
    }

}