<footer class="main-footer text-sm no-print">
    <div class="float-right d-none d-sm-block">
        <a href="https://hostedscan.com"><img src="https://hostedscan.com/hostedscan-badge-dark.svg" alt="HostedScan | An automated vulnerability scanner" height="30px" width="auto" /></a>
    </div>
    <strong>Copyright &copy;  @DateTime.Now.Year </strong> 
    <span class="badge badge-default"><i class="fas fa-bug"></i> <a class="footer-link"href="https://icheckify.co.in"><i><b>i</b></i> Checkify</a></span>
    <b>Version 1.0.0</b>
    <div id="ipAddress" class="info-item"><i class="fas fa-sitemap"></i> <span class="info-title"> IP Address:</span><b> <span class="info-data">Loading...</span></b></div>
    <div id="city" class="info-item"><i class="fas fa-city"></i> <span class="info-title"> City:</span><b> <span class="info-data">Loading...</span></b></div>
    <div class="info-item"><i class="fas fa-clock"></i> <span id="clock"> Loading</span></div>
</footer>