@* @using risk.control.system.Models;
@model ChatMessage *@
<footer class="main-footer text-sm no-print">
    @* <partial name="AdminLTE/_Chat" model="@Model" /> *@

    <div class="float-right d-none d-sm-block">
        <a href="https://hostedscan.com"><img src="https://hostedscan.com/hostedscan-badge-dark.svg" alt="HostedScan | An automated vulnerability scanner" height="30px" width="auto" /></a>
    </div>
    <span class="info-item footer-item"><i class="fas fa-globe"></i> <span class="info-title">copyright&copy;</span> <span class="info-title">iCheckify</span></span>
    <span id="city" class="info-item footer-item"><i class="fas fa-city"></i> <span class="info-title"></span><b> <span class="info-data badge badge-light">Loading...</span></b></span>
    <span id="ipAddress" class="info-item footer-item"><i class="fas fa-wifi"></i> <span class="info-title"></span><b> <span class="info-data  badge badge-light">Loading...</span></b></span>
    <span id="browser" class="info-item footer-item"><i class="fas fa-tv"></i> <span class="info-title"></span> <b> <span class="info-data  badge badge-light">Loading...</span></b></span>
    <span id="device" class="info-item footer-item"><i class="fa fa-laptop"></i> <span class="info-title"></span> <b> <span class="info-data  badge badge-light">Loading...</span></b></span>
    <span id="os" class="info-item footer-item"><i class="fas fa-hdd"></i> <span class="info-title"></span> <b> <span class="info-data  badge badge-light">Loading...</span></b></span>
    <span class="info-item footer-item"><i class="fas fa-clock"></i> <span class="info-title"></span> <span id="clock" class="badge badge-light"> Loading</span></span>

</footer>