<footer class="main-footer text-sm">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy;  @DateTime.Now.Year </strong> risk control unit. designer:<a href="http://itsaby.com.au">its aby</a>.
</footer>