@model TopNavigation
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-light bg-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"> &nbsp;</i></a>
        </li>
        @* <li class="nav-item d-none d-sm-inline-block">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact</a>
        </li> *@
    </ul>

    <!-- SEARCH FORM -->
    @* <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form> *@

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="top-nav-header-border">

            <a class="nav-link" data-widget="control-sidebar" data-slide="true" role="button" title="Currency : @Model?.CurrencyCode" data-toggle="tooltip">
                <div id="currency"><i class="fa fa-money"></i> @Model?.CurrencyCode </div>
            </a>
        </li>
        <li class="top-nav-header-border">
            @{
                var img = "/flags/" + @Model.CountryCode.ToLower() + ".png";
            }
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" role="button" title="@Model?.Country" data-toggle="tooltip">
                <div id="country"> <i class="fas fa-map-marker-alt"></i> <img src="@img" class="flag-icon" /> </div>
            </a>
        </li>
        <li class="top-nav-header-border">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" role="button" title="Idle time remaining" data-toggle="tooltip">
                <div><i id="hour-glass" class="fas fa-hourglass-end fa-spin"></i>  <span id="time"> </span></div>
            </a>
        </li>
        
        <!-- Notifications Dropdown Menu -->
        
        <li class="nav-item dropdown top-nav-logout-border">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog fa-spin"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right shadow-lg rounded-lg border-0">
                <div class="dropdown-header text-center bg-light py-2 rounded-top">
                    <img src="data:image/*;base64,@(Convert.ToBase64String(Model?.ProfilePicture))"
                         class="rounded-circle shadow-lg border sidebar-profile" alt="User Profile" title="@Model.Email" data-toggle="tooltip" />
                </div>
                <div class="dropdown-divider"></div>

                <!-- Logout Link -->
                <a class="dropdown-item d-flex align-items-center py-2 text-danger font-weight-bold hover-bg-danger"
                   href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt mr-2"></i> Logout
                </a>
            </div>
        </li>
    </ul>
</nav>