@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Vendor
<aside class="main-sidebar elevation-2 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <div>
            @if (Model?.DocumentUrl is not null)
            {
                <img src="@Model.DocumentUrl" alt="logo" class="brand-image elevation-2">
            }
            else
            {
                <img src="@Applicationsettings.NO_IMAGE" alt="logo" class="brand-image elevation-2">
            }
        </div>
        <div>
            @if (Model?.Name is not null)
            {
                <span class="brand-text font-weight-bold">@Model.Name </span>
            }
            else
            {
                <span class="brand-text font-weight-bold">add name.. </span>
            }
        </div>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->

        <partial name="AdminLTE/_VendorSidebarTopLogo" />

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->

                <partial name="AdminLTE/_VendorSidebarDashboard" />

                @if (User.IsInRole(AppRoles.AGENCY_ADMIN.ToString()) || User.IsInRole(AppRoles.SUPERVISOR.ToString()))
                {
                    @if (System.Diagnostics.Debugger.IsAttached)
                    {
                        <partial name="AdminLTE/_VendorSidebarInvestigation" />
                    }
                    else
                    {
                        <partial name="AdminLTE/_VendorSidebarSupervisor" />
                    }
                }
                @if (User.IsInRole(AppRoles.AGENCY_ADMIN.ToString()))
                {
                    <partial name="AdminLTE/_VendorSidebarAdmin" />
                }

                @if (User.IsInRole(AppRoles.AGENT.ToString()))
                    {
                    <partial name="AdminLTE/_VendorSidebarAgent" />

                }


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>