@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> userManager
@model Vendor

@if (SignInManager.IsSignedIn(User))
{
    var user = await userManager.GetUserAsync(User);
    var firstName = user?.FirstName ?? "User";

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img class="elevation-2 sidebar-profile img-circle" src="/Document/GetUserProfileImage/@user.Id" alt="Profile">
        </div>
        <a class="d-block">
            <div data-bs-toggle="tooltip" title="User Firstname" id="user-firstname">@firstName</div>
            <div id="user-role">
                @if (User.IsInRole(AGENCY_ADMIN.DISPLAY_NAME))
                {
                    <span data-bs-toggle="tooltip" title="Role" class="badge badge-info">@AGENCY_ADMIN.CODE</span>
                }
                else if (User.IsInRole(SUPERVISOR.DISPLAY_NAME))
                {
                    <span data-bs-toggle="tooltip" title="Role" class="badge badge-dark">@SUPERVISOR.CODE</span>
                }
                else if (User.IsInRole(AGENT.DISPLAY_NAME))
                {
                    <span data-bs-toggle="tooltip" title="Role" class="badge badge-dark">@AGENT.CODE</span>
                }
            </div>
        </a>
    </div>
}