@model risk.control.system.Models.ClaimsInvestigation

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
}

<section class="content">
    <form id="create-form" asp-controller="CreatorAutoPost" asp-action="CreatePolicy" method="post" enctype="multipart/form-data">
        <partial name="Creator/_CreatePolicy" model="Model" />
    </form>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/policy.js"></script>
    <script src="~/js/common/profile-image-upload.js"></script>
    <script src="~/js/common/form-validation.js"></script>
}
