@model risk.control.system.Models.CustomerDetail

@{
    ViewData["Title"] = @Applicationsettings.EDIT;
}
<section class="content">
    <form id="edit-form" asp-controller="CreatorAutoPost" asp-action="EditCustomer" method="post" enctype="multipart/form-data">
            <input type="hidden" id="claimtype" name="claimtype" value="auto" />
        <partial name="Creator/_EditCustomer" model="Model" />
    </form>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/customer.js"></script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/common/profile-image-upload.js"></script>

}
