@model CreateClaims
@{
    ViewData["Title"] = "Assign(auto)";
}
<section class="content">
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-random"></i> Assign<span class="badge badge-secondary">auto</span>
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i>
                            @if (Model.BulkUpload)
                            {
                                <button class='btn btn-info  btn-xs'><i class='fa fa-upload'></i> Upload  </button>
                            }

                            else
                            {
                                <button disabled class='btn btn-info  btn-xs'><i class='fa fa-upload'></i> Upload  </button>
                            }
                        </li>
                        @if (Model.HasClaims)
                        {
                            <li>
                                <i class='far fa-hand-point-right'></i>
                                <button class="btn btn-warning  btn-xs">
                                    <i class="fas fa-pencil-alt"></i> Edit
                                </button>
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i>
                                <button class="btn btn-danger  btn-xs">
                                    <span class="badge badge-danger"> <i class="fa fa-trash"></i></span><b> Delete </b>
                                </button>
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i> Select <span class="badge badge-light btn"> <input type='checkbox' /></span>  claim(s)
                            </li>
                        }
                        @if (@Model.UserCanCreate)
                        {
                            <li>
                                <i class='far fa-hand-point-right'></i>
                                <button class="btn btn-success  btn-xs">
                                    <span class="badge badge-success btn-xs"> <i class="far fa-edit"></i> </span>  <b> ADD NEW </b>
                                </button>
                            </li>
                        }
                        else
                        {
                            <li>
                                <i class='far fa-hand-point-right'></i>
                                <button class="btn btn-success disabled btn-xs">
                                    <span class="disabled badge badge-success btn-xs"> <i class="far fa-edit"></i> </span>  <b> ADD NEW </b>
                                </button>
                            </li>
                        }
                         @if (Model.HasClaims)
                        {
                            <li>
                                <i class='far fa-thumbs-up'></i>
                                <button class="btn btn-warning btn-xs">
                                    <span class="badge badge-warning btn-xs"> <i class="fas fa-random"></i> </span> Assign<span class="badge badge-warning">auto</span>
                                </button>
                            </li>
                        }
                        else
                        {
                            <li>
                                <i class='far fa-thumbs-up'></i>
                                <button disabled class="btn btn-warning btn-xs">
                                    <span class="badge badge-warning btn-xs"> <i class="fas fa-random"></i> </span> Assign<span class="badge badge-warning">auto</span>
                                </button>
                            </li>
                        }
                    </span>
                </span>

            </h3>
            @* <h3 id="view-type" class="card-title">
            <a href="#" id="map-type" class="input-group-label"> <i class="far fa-map"></i> Map</a>
            <a href="#" id="list-type" class="input-group-label"> <i class="fas fa-server"></i> List</a>
            </h3> *@
        </div>
        <article>
            <div class="bb-blog-inner">
                <div class="card card-light collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">
                            
                            
                            <span class="download-file badge badge-light">
                                <a class="ziplink" href="~/headers/single.zip">
                                    <i class="nav-icon fa fa-download"></i>  1 claim
                                </a>
                            </span>
                            <span class="download-file badge badge-light">
                                <a class="ziplink" href="~/headers/double.zip">
                                    <i class="nav-icon fa fa-download"></i> 2 claims
                                </a>
                            </span>
                            <span class="hover-text">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip-text">
                                    
                                    <li>
                                        <i class='far fa-hand-point-left'></i> <b> Download </b>  Sample File(s)
                                    </li>
                                    <li>
                                    <i class='far fa-hand-point-right'></i> <b> Upload</b> Max file size 1 MB
                                    </li>
                                </span>
                            </span>
                        </h3>
                        <div class="card-tools">
                            <span data-toggle="tooltip" title="Click on + to Upload File"><span class="badge badge-light"><i class="fa fa-upload"></i> Upload File:</span>  <i class='far fa-hand-point-right'></i> </span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="upload-claims" asp-controller="CreatorAutoPost" asp-action="New" method="post" enctype="multipart/form-data">
                            <input type="hidden" id="uploadingway" name="uploadingway" value="auto" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="input-group-label"> Upload Type:</span>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-file-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                            </div>
                                            @if (Model.BulkUpload)
                                            {
                                                <select data-toggle="tooltip" title="Select upload type" name="uploadtype" id="uploadtype" required class="form-control remarks" asp-items="Html.GetEnumSelectList<UploadType>()">
                                                    <option value="" title="SELECT">--- SELECT---</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select disabled data-toggle="tooltip" title=" --- DISABLED --- " name="uploadtype" id="uploadtype" required class="form-control remarks">
                                                    <option value="">--- DISABLED---</option>
                                                </select>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="input-group-label"> Perform Upload: </span>
                                        <div class="input-group mb-3">
                                            <img class="form-Image" id="ftpImage" src="/img/upload.png">
                                            @if (Model.BulkUpload)
                                            {
                                                <input accept=".zip" type="file" class="form-control remarks" name="postedFile" id="postedFile" data-toggle="tooltip" title="Select file to upload" />
                                                <button id="UploadFileButton" disabled type="submit" class="btn btn-info upload"><i class="nav-icon fa fa-upload"></i> Upload</button>
                                            }
                                            else
                                            {
                                                <input disabled type="file" class="form-control remarks" name="postedFile" id="postedFile" data-toggle="tooltip" title="--- DISABLED --- " />
                                                <button disabled class="btn btn-info"><i class="nav-icon fa fa-upload"></i> Upload</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </article>

        <form id="checkboxes" asp-action="Assign" asp-controller="ClaimsInvestigationPost" method="post">

            <div class="card-body ">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>

                <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="select_all" id="checkall" value="0" data-toggle="tooltip" title="Select Claim(s) to Assign(auto)" /></th>
                            <th><img class="action-image" src="~/headers/pincode.gif" data-toggle="tooltip" title="Address of Interest" alt="Address of Interest" /></th>

                            <th><img class="action-image" src="~/headers/policy-doc.gif" data-toggle="tooltip" title="Policy Document" alt="Policy Document" /></th>
                            <th><img class="action-image" src="~/headers/policy-num.gif" data-toggle="tooltip" title="Policy Number" alt="Policy Number" /></th>
                            <th><img class="action-image" src="~/headers/amount.gif" data-toggle="tooltip" title="Insured Amount" alt="Insured Amount" /></th>
                            <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Customer Photo" alt="Customer Photo" /></th>
                            <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Customer Name" alt="Customer Name" /></th>
                            <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Beneficiary Photo" alt="Beneficiary Photo" /></th>
                            <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Beneficiary Name" alt="Beneficiary Name" /></th>
                            <th><img class="action-image" src="~/headers/claim-type.gif" data-toggle="tooltip" title="Claim Type" alt="Claim Type" /></th>
                            <th><img class="action-image" src="~/headers/service.gif" data-toggle="tooltip" title="Service" alt="Service" /></th>

                            <th><img class="action-image" src="~/headers/status.gif" data-toggle="tooltip" title="Status" alt="Status" /></th>
                            <th><img class="action-image" src="~/headers/created.gif" data-toggle="tooltip" title="Created date" alt="Created Date" /></th>
                            <th>
                                <img class="action-image" src="~/headers/timer.gif" data-toggle="tooltip" title="Days since Drafted" />
                            </th>
                            <th><img class="action-image" src="~/headers/action.gif" data-toggle="tooltip" title="Action" /></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div id="maps" class="col-md-12">
                    <div id="map"></div>

                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        @if(@Model.UserCanCreate)
                        {
                            <a class="create-policy btn btn-success" asp-action="Create"><i class="far fa-edit"></i> @Applicationsettings.CREATE New</a>
                        }
                        else
                        {
                            <button disabled class="create-policy btn btn-success"><i class="far fa-edit"></i> @Applicationsettings.CREATE New</button>
                        }


                        <button disabled id="allocatedcase" type="submit" class="btn btn-warning">
                            <span class="badge badge-warning"> <i class="fas fa-random"></i> </span> Assign<span class="badge badge-warning">auto</span>
                        </button>

                    </div>
                </div>
            </div>

        </form>


    </div>
</section>
@section Scripts {
    @* <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="~/js/all.js"></script> *@
    <script src="~/js/creator/new.js"></script>
    @* <script src="~/js/map-list.js"></script> *@
}