@model CreateClaims
@{
    ViewData["Title"] = "Assign";
}
<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <partial name="Creator/_ClaimTitle" model="Model" />
        
        <div class="filter-refresh-container shadow-lg border-1 rounded-lg">
            <div class="filter-group">
                <label for="caseTypeFilter" class="filter-label">
                    <i class="bi bi-funnel"></i> Case Type:
                </label>
                <select id="caseTypeFilter" class="form-select custom-select">
                    <option value="">All</option>
                    <option value="claims">Claim</option>
                    <option value="underwriting">Underwriting</option>
                </select>
            </div>

            <button id="refreshTable" class="btn btn-light refresh-button">
                <i id="refreshIcon" class="fas fa-sync"></i> Refresh
            </button>
        </div>

        <form id="checkboxes" asp-action="AssignAuto" asp-controller="ClaimsInvestigationPost" method="post">
            <div class="card-body">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>

                <table id="customerTableAuto" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="select_all" id="checkall" value="0" data-toggle="tooltip" title="Select Case(s) to Assign/delete" /></th>
                            <th><img class="action-image" src="~/headers/policy-num.gif" data-toggle="tooltip" title="Case Number" alt="Case Number" /></th>
                            <th><img class="action-image" src="~/headers/amount.gif" data-toggle="tooltip" title="Assured Amount" alt="Assured Amount" /></th>
                            <th><img class="action-image" src="~/headers/pincode.gif" data-toggle="tooltip" title="Address of Interest" alt="Address of Interest" /></th>
                            <th><img class="action-image" src="~/headers/policy-doc.gif" data-toggle="tooltip" title="Policy Document" alt="Policy Document" /></th>
                            <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Customer Photo" alt="Customer Photo" /></th>
                            <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Customer Name" alt="Customer Name" /></th>
                            <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Beneficiary Photo" alt="Beneficiary Photo" /></th>
                            <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Beneficiary Name" alt="Beneficiary Name" /></th>
                            <th><img class="action-image" src="~/headers/claim-type.gif" data-toggle="tooltip" title="Case Type" alt="Case Type" /></th>
                            <th><img class="action-image" src="~/headers/status.gif" data-toggle="tooltip" title="Source" alt="Source" /></th>
                            <th><img class="action-image" src="~/headers/created.gif" data-toggle="tooltip" title="Created date" alt="Created Date" /></th>
                            <th>
                                <img class="action-image" src="~/headers/timer.gif" data-toggle="tooltip" title="Days since Drafted" />
                            </th>
                            <th><img class="action-image" src="~/headers/action.gif" data-toggle="tooltip" title="Action" /></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        @if (@Model.UserCanCreate)
                        {
                            <a class="create-policy btn btn-success" asp-action="Create"><i class="far fa-edit"></i> @Applicationsettings.CREATE</a>
                        }
                        else
                        {
                            <button disabled class="create-policy btn btn-success"><i class="far fa-edit"></i> @Applicationsettings.CREATE</button>
                        }
                        @if(Model.AutoAllocation)
                        {
                            <button disabled id="allocatedcase" type="submit" class="btn btn-warning">
                                <i class="fas fa-random"></i> Assign<sub>auto</sub>
                            </button>
                        }
                        
                        <button id="deletecase" type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
@section Scripts {
    <script src="~/js/creator/new.js"></script>
}