@model risk.control.system.Models.State
@{
    ViewData["Title"] = @Applicationsettings.EDIT;
    
}
<section class="content">
                <div id="article" class="card shadow-lg border-1 rounded-lg">
                    <div class="card-header bg-secondary text-white text-center">
                        <h3 class="card-title"><i class="fas fa-map-marker-alt"></i>  Edit State</h3>
                    </div>
                    <div class="card-body">
                        <form id="edit-form" asp-action="Edit">
                            <div class="submit-progress hidden">
                                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="StateId" />
                            <div class="form-group">
                                <span class="input-group-label" for="CountryId"> Country:</span>
                                <div class="input-group mb-3 autocomplete-wrapper">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" for="CountryId"><i class="fas fa-map-marked-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <input readonly type="text" id="CountryId" class="form-control remarks auto-dropdown" data-placeholder="country" placeholder="Type country..." asp-for="CountryId" required value="@Model.Country.Name" />
                                    <span asp-validation-for="CountryId" class="text-danger"></span>
                                    <input asp-for="SelectedCountryId" type="hidden" id="SelectedCountryId" name="SelectedCountryId" value="@Model?.CountryId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="input-group-label"> State:</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="Name"><i class="fas fa-map-marker-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <input type="text" asp-for="Name" class="form-control remarks title-name" required placeholder="State Name" maxlength="20">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="input-group-label"> State Code:</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="Code"><i class="fas fa-code"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <input type="text" asp-for="Code" class="form-control remarks title-name" required placeholder="State Code" maxlength="5">
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <a id="back" asp-action="Index" class="btn btn-secondary">
                                    <i class="fa fa-window-close"></i>
                                    @Applicationsettings.CANCEL
                                </a>
                                <button id="edit" type="submit" class="btn btn-warning">
                                    <i class="fas fa-map-marker-alt"></i>  Edit State
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company-admin/state.js">
    </script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/common/form-validation.js"></script>
}
