@model risk.control.system.Models.State
@{
    ViewData["Title"] = @Applicationsettings.EDIT;
    
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-map-marker-alt"></i>  @Applicationsettings.STATE</h3>
                    </div>
                    <div class="card-body">
                        <form id="edit-form" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="StateId" />
                            <div class="form-group">
                                <span class="input-group-label"> Country:</span>
                                <div class="input-group mb-3 autocomplete-wrapper">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" for="CountryId">
                                            <i class="fas fa-map-marked-alt"></i>
                                            <i class="fa fa-asterisk asterik-style"></i>
                                        </span>
                                    </div>
                                    <input type="text" id="CountryName" class="form-control remarks auto-dropdown" placeholder="Type country..." required />
                                    <input type="hidden" id="CountryId" name="CountryId" asp-for="CountryId" />
                                    <span asp-validation-for="CountryId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="input-group-label"> State:</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="Name"><i class="fas fa-map-marker-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <input type="text" asp-for="Name" class="form-control remarks title-name" required placeholder="State Name" maxlength="20">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="input-group-label"> State Code:</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="Code"><i class="fas fa-code"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <input type="text" asp-for="Code" class="form-control remarks title-name" required placeholder="State Code" maxlength="5">
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <a id="back" asp-action="Index" class="btn btn-secondary">
                                    <i class="fa fa-window-close"></i>
                                    @Applicationsettings.CANCEL
                                </a>
                                <button type="submit" class="btn btn-warning">
                                    <i class="fas fa-map-marker-alt"></i>  @Applicationsettings.EDIT
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company-admin/state.js">
        
    </script>
}
