@model ClaimsInvestigationVendorsModel
<div class="row coming-soon-watermark">
    <div class="col-md-1 coming-soon-view">
        <div class="form-group">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <i class="fas fa-file-audio"></i> <span class="input-group-label"> Audio: </span>
            <div class="input-group mb-3">
                <button disabled id="audio-play" class="btn btn-secondary btn-sm"> <i class="fas fa-play"></i> Play </button>
                <audio asp-for="AgencyReport.ReportQuestionaire.Audio" class="form-control remarks" placeholder="Record audio." />
                <div id="audio-output"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <i class="fas fa-file-video"></i> <span class="input-group-label"> Video: </span>
            <div class="input-group mb-3">
                <button disabled id="video-play" class="btn btn-secondary btn-sm"> <i class="fas fa-play-circle"></i> Play </button>
                <audio asp-for="AgencyReport.ReportQuestionaire.Video" class="form-control remarks" placeholder="Record video." />
                <div id="video-output"> </div>
            </div>
        </div>
    </div>
</div>