@model ClaimsInvestigationVendorsModel
                                
    <article>
        <div class="bb-blog-inner">
            <header class="bb-blog-header">
                <h5 class="bb-blog-title" itemprop="name"><i class="fas fa-user-shield"></i> Agent Investigation</h5>
            </header>
            <div class="card card-solid">
                <div class="progress">
                    <i class="far fa-bookmark" style="font-size:1.1rem;"></i>
                    <div class="progress-bar" role="progressbar" style="width:49%;background-color:green;">
                        investigation report
                    </div>
                    <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>
                    <div class="progress-bar" role="progressbar" style="width:50%;background-color:red">
                        agent remarks
                    </div>
                    <i class="far fa-bookmark" style="font-size:1.1rem;"></i>
                </div>
                <div class="card-body pb-0">
                    <div class="row">
                    <partial name="_DigitalIdReport" model="@Model" />
                    <partial name="_DocumentIdReport" model="@Model" />
                    <partial name="_Questionaire" model="@Model" />

                    </div>
                </div>
            </div>
        </div>
    </article>
