@using risk.control.system.AppConstant;
@using risk.control.system.Models.ViewModel;
@model List<VendorUserClaim>

@{
    ViewData["Title"] = @Applicationsettings.USER;
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-user-friends"></i> Agent Workload</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Agent Photo</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Phone #</th>
                                    <th>Address</th>
                                    <th>District</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Pincode</th>
                                    <th>Active</th>
                                    <th>Current Load</th>
                                    <th><img class="action-image" src="~/document/action.gif" title="Action" /></th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts    {
    <script src="~/js/agency-load.js"></script>

}