@model ClaimsInvestigationVendorsModel

@{
    ViewData["Title"] = "Claim: Report ";
    
}

<section class="content">
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fa fa-binoculars"></i> Submit
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i> <b> <button class='badge badge-info btn-lg'><i class='fa fa-upload'></i> <b>Upload</b> </button></b> Photo ID Image

                        </li>
                        <li>
                            <i class='far fa-hand-point-right'></i> <b> <button class='badge badge-info btn-lg'><i class='fa fa-upload'></i> <b>Upload</b> </button></b> PAN card Image

                        </li>
                        <li>
                            <i class='far fa-hand-point-right'></i>  Complete the <i class='fa fa-comments'></i> <b>Questionnaire</b>

                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i>  <b> <button class='badge badge-danger btn-lg'><i class='fa fa-binoculars'></i> <b>SUBMIT</b> </button></b>  the report

                        </li>
                    </span>
                </span>
            </h3>
        </div>
        <partial name="_PolicyDetails" model="@Model" />
        <partial name="_PolicyReport" model="@Model" />
    </div>

</section>
@section Scripts    {
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH8T9FvJ8n2LNwxkppRAeOq3Mx7I3qi1E&callback=initReportMap">
    </script>
    <script src="~/js/map.js"></script>
    <script src="~/js/get-investigate.js"></script>

}