@model ClaimsInvestigationVendorsModel

@{
    ViewData["Title"] = "Claim: Report ";
    
}

<section class="content">
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fa fa-binoculars"></i> Submit
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <span>
                            <i class='far fa-hand-point-right'></i> ADD & UPDATE THE CLAIM REPORT
                        </span>

                    </span>
                </span>
            </h3>
        </div>
        <partial name="_PolicyDetails" model="@Model" />
        <partial name="_PolicyReport" model="@Model" />
    </div>

</section>
@section Scripts    {
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH8T9FvJ8n2LNwxkppRAeOq3Mx7I3qi1E&callback=initReportMap">
    </script>
    <script src="~/js/map.js"></script>
    <script src="~/js/get-investigate.js"></script>

}