@model ClaimsInvestigationVendorsModel

@{
    ViewData["Title"] = "Claim: Report ";
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
                <div id="article" class="card border-secondary card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-binoculars"></i> Submit</h3>
                        </div>
                    <div class="submit-progress hidden">
                        <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                    </div>
                        <div id="fullpage" class="card-body">
                            <partial name="_PolicyDetails" model="@Model" />
                        
                            <partial name="_PolicyReport" model="@Model" />
                        </div>
                    </div>
                </div>
            </div>

    </div>

</section>
@section Scripts    {
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH8T9FvJ8n2LNwxkppRAeOq3Mx7I3qi1E&callback=initReportMap">
    </script>
    <script src="~/js/map.js"></script>
    <script src="~/js/get-investigate.js"></script>

}