@model ClaimsInvestigationVendorAgentModel

@{
    ViewData["Title"] = @Applicationsettings.SERVICE;
}

<section class="content pt-2">
    <div class="container-fluid">
        <partial name="_ReviewClaimsPolicy" model="@Model" />
        <partial name="_AgentList" model="@Model" />
    </div>
</section>
