@{
	ViewData["Title"] = @Applicationsettings.USER;
}
<section class="content">
	<div id="article" class="card shadow-lg border-1 rounded-lg">
		<div class="card-header bg-secondary text-white text-center">
			<h3 class="card-title"><i class="fas fa-user-friends"></i> Manage Users</h3>
		</div>
		<div class="card-body">
			<div class="submit-progress hidden">
				<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
			</div>
			<form>
				@Html.AntiForgeryToken()
				<table id="dataTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
					<thead>
						<tr>
							<th></th>
							<th data-toggle ="tooltip" title="Photo"><i class="fas fa-clock" title="Online status" data-bs-toggle="tooltip"></i> Photo</th>
							<th data-toggle="tooltip" title="Email">Email</th>
							<th data-toggle="tooltip" title="Mobile #">Mobile #</th>
							<th data-toggle="tooltip" title="Street Address">Street Address</th>
							<th data-toggle="tooltip" title="State">State</th>
							<th data-toggle="tooltip" title="Pincode">Pincode</th>
							<th data-toggle="tooltip" title="Status">Status</th>
							<th data-toggle="tooltip" title="Role">Role</th>
							<th data-toggle="tooltip" title="Updated By">Updated By</th>
							<th data-toggle="tooltip" title="Updated Time">Updated Time</th>
							<th data-toggle="tooltip" title="Actions">Actions</th>
						</tr>
					</thead>
				</table>
			</form>
		</div>
	</div>
</section>
@section Scripts {
	<script src="~/js/company-admin/company-users.js"></script>
}