@model risk.control.system.Models.CaseVerification

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
}

<section class="content">
    <form id="edit-form" asp-controller="CreatorPre" asp-action="Edit" method="post" enctype="multipart/form-data">
        <partial name="Creator/_Edit" model="Model" />
    </form>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/case.js"></script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/common/profile-image-upload.js"></script>
    <script src="~/js/common/form-validation.js"></script>
}
