@model risk.control.system.Models.CustomerDetail

@{
    ViewData["Title"] = @Applicationsettings.EDIT;
}
<section class="content">
    <form id="edit-form" asp-action="EditCustomer" method="post" enctype="multipart/form-data">
        <partial name="Investigation/_EditCustomer" model="@Model" />
    </form>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/customer.js"></script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/company-admin/phone-bank-validate.js"></script>
    <script src="~/js/common/image-upload.js"></script>
    <script src="~/js/common/form-validation.js"></script>
}
