@model risk.control.system.Models.ViewModel.EditPolicyDto

@{
    ViewData["Title"] = "Edit";
}
<section class="content">
    <form id="edit-form" method="post" asp-action="EditPolicy" enctype="multipart/form-data">
        <partial name="Investigation/_EditPolicy" model="Model" />
        
    </form>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/case.js"></script>
    <script src="~/js/common/image-upload.js"></script>
    <script src="~/js/common/form-validation.js"></script>
}
