@{
    ViewData["Title"] = "Active ";
}

<section class="content">
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-toggle-on"></i> Active
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i> Active claims
                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i> <b> <button class='badge badge-info btn-lg'><i class='fas fa-search'></i> DETAIL</button></b> for more
                        </li>

                    </span>
                </span>
            </h3>
            @* <h3 id="view-type" class="card-title">
            <a href="#" id="map-type" class="input-group-label"> <i class="far fa-map"></i> Map</a>
            <a href="#" id="list-type" class="input-group-label"> <i class="fas fa-server"></i> List</a>
            </h3> *@
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <form id="checkboxes" asp-action="Assign" method="post" enctype="multipart/form-data">
                <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th><img class="action-image" src="~/headers/owner.gif" data-toggle="tooltip" title="Case Owner" /></th>
                            <th><img class="action-image" src="~/headers/pincode.gif" data-toggle="tooltip" title="Pincode" alt="Pincode" /></th>
                            <th><img class="action-image" src="~/headers/policy-doc.gif" data-toggle="tooltip" title="Policy Document" alt="Policy Document" /></th>
                            <th><img class="action-image" src="~/headers/policy-num.gif" data-toggle="tooltip" title="Policy Number" alt="Policy Number" /></th>
                            <th><img class="action-image" src="~/headers/amount.gif" data-toggle="tooltip" title="Insured Amount" alt="Insured Amount" /></th>
                            <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Customer Photo" alt="Customer Photo" /></th>
                            <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Customer Name" alt="Customer Name" /></th>
                            <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Beneficiary Photo" alt="Beneficiary Photo" /></th>
                            <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Beneficiary Name" alt="Beneficiary Name" /></th>
                            <th><img class="action-image" src="~/headers/claim-type.gif" data-toggle="tooltip" title="Claim Type" alt="Claim Type" /></th>
                            <th><img class="action-image" src="~/headers/status.gif" data-toggle="tooltip" title="Status" alt="Status" /></th>
                            <th><img class="action-image" src="~/headers/created.gif" data-toggle="tooltip" title="Created date" alt="Created Date" /></th>
                            <th><img class="action-image" src="~/headers/auto.gif" data-toggle="tooltip" title="Allocated(Auto)" /></th>
                            <th>
                                <img class="action-image" src="~/headers/timer.gif" data-toggle="tooltip" title="Days since Active" alt="Days since Active" />
                            </th>
                            <th><img class="action-image" src="~/headers/action.gif" data-toggle="tooltip" title="Action" /></th>
                        </tr>
                    </thead>
                </table>
            </form>
            <div id="maps" class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @* <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="~/js/all.js"></script>
    <script src="~/js/map-list.js"></script> *@
    <script src="~/js/manager/active.js"></script>

}