@{
    ViewData["Title"] = "Submitted";
}
<section class="content">
    <div id="article" class="card shadow-lg border-0 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title">
                <i class="fas fa-glasses"></i> Assess <sub>new</sub>
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i> Assess <sub>new</sub>
                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i> Click on<b> <button class='badge badge-info btn-lg'><i class='fas fa-search'></i> DETAIL</button></b> for more
                        </li>
                    </span>
                </span>
            </h3>
            @* <h3 id="view-type" class="card-title">
            <a href="#" id="map-type" class="input-group-label"> <i class="far fa-map"></i> Map</a>
            <a href="#" id="list-type" class="input-group-label"> <i class="fas fa-server"></i> List</a>
            </h3> *@
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <form id="checkboxes" asp-action="GetInvestigateReport" method="get" enctype="multipart/form-data">
                <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                        <tr>
                            <th><img class="action-image" src="~/headers/policy-num.gif" data-toggle="tooltip" title="Policy Number" alt="Policy Number" /></th>
                            <th><img class="action-image" src="~/headers/amount.gif" data-toggle="tooltip" title="Insured Amount" alt="Insured Amount" /></th>
                            <th><img class="action-image" src="~/headers/agency.gif" data-toggle="tooltip" title="Agency Name" /></th>
                            <th><img class="action-image" src="~/headers/pincode.gif" data-toggle="tooltip" title="Address of Interest" alt="Address of Interest" /></th>
                            <th><img class="action-image" src="~/headers/driving.gif" data-toggle="tooltip" title="Driving Distance" alt="Driving Distance" /></th>
                            <th><img class="action-image" src="~/headers/driving-time.gif" data-toggle="tooltip" title="Driving  Duration" alt="Driving  Duration" /></th>
                            <th><img class="action-image" src="~/headers/policy-doc.gif" data-toggle="tooltip" title="Policy Document" alt="Policy Document" /></th>
                            
                            <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Customer Photo" alt="Customer Photo" /></th>
                            <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Customer Name" alt="Customer Name" /></th>
                            <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Beneficiary Photo" alt="Beneficiary Photo" /></th>
                            <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Beneficiary Name" alt="Beneficiary Name" /></th>
                            <th><img class="action-image" src="~/headers/claim-type.gif" data-toggle="tooltip" title="Claim Type" alt="Claim Type" /></th>
                            <th><img class="action-image" src="~/headers/service.gif" data-toggle="tooltip" title="Service" alt="Service" /></th>

                            <th><img class="action-image" src="~/headers/created.gif" data-toggle="tooltip" title="Created date" alt="Created Date" /></th>
                            <th><img class="action-image" src="~/headers/auto.gif" data-toggle="tooltip" title="Allocated(Auto)" /></th>
                            <th>
                                <img class="action-image" src="~/headers/timer.gif" data-toggle="tooltip" title="Days since Submitted" />
                            </th>
                            <th><img class="action-image" src="~/headers/action.gif" data-toggle="tooltip" title="Action" /></th>
                        </tr>
                    </thead>
                </table>

            </form>
            <div id="maps" class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/manager/manager-claims.js"></script>
}
