@{
	ViewData["Title"] = "Agency Services";
}
<section class="content">
	<div id="article" class="card shadow-lg border-1 rounded-lg">
		<div class="card-header bg-secondary text-white text-center">
			<h3 class="card-title"><i class="fas fa-cogs"></i> Manage Services</h3>
		</div>
		<div class="card-body">
			<div class="submit-progress hidden">
				<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
			</div>
			<table id="dataTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
				<thead>
					<tr>
						<th></th>
						<th title="CaseType">CaseType</th>
						<th title="Verification Type">Verification Type</th>
						<th title="Rate">Rate</th>
						<th title="District">District</th>
						<th title="State">State</th>
						<th title="Country">Country</th>
						<th title="Updated By">Updated By</th>
						<th title="Updated Time">Updated Time</th>
						<th title="Actions">Actions</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</section>
@section Scripts {
	<script src="~/js/agency-admin/agency-service.js"></script>
}