@model risk.control.system.Models.OutboxMessage

@{
    ViewData["Title"] = "Create";

}

<section class="content">
    <form asp-controller="ContactMessage" id="email-form" method="post" enctype="multipart/form-data">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-edit"></i> Compose </h3>
            </div>

            <div class="card-body">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <div class="form-group">
                    <input id="receipient-email" asp-for="ReceipientEmail" class="form-control remarks" placeholder="PLEASE ENTER MIN 3 CHARACTERS TO SELECT EMAIL">
                </div>
                <div class="form-group">
                    <input class="form-control remarks" asp-for="Subject" placeholder="SUBJET LINE">
                </div>
                <div style="display:none" class="form-group">
                    <select asp-for="Priority" asp-items="Html.GetEnumSelectList<ContactMessagePriority>()">
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        @Html.TextAreaFor(model => model.RawMessage, new { @class = "form-control remarks", @row = 3 })
                    </div>
                </div>
                
            </div>

            <div class="card-footer">
                <div class="btn btn-default btn-file">
                    <i class="fas fa-paperclip"></i> Attachment
                    <img class="file-image doc-profile-image" id="documentImage0" src=@Applicationsettings.NO_IMAGE>
                    <input id="document" name="document" asp-for="Attachment" type="file" accept="*.png, *.jpeg" class="form-control remarks" />
                </div>
                <span class="help-block">Max. 2MB</span>
                <div class="float-right">
                    @*<button type="submit" asp-action="Draft" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> Draft</button>*@
                    <button id="send-email" type="submit" asp-action="Create" class="btn btn-success"><i class="far fa-envelope"></i> Send</button>
                </div>
            </div>

        </div>
    </form>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/compose-mail.js">
    </script>
}
