@model risk.control.system.Models.OutboxMessage

@{
    ViewData["Title"] = "Create";
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
}

<section class="content">
    <form asp-controller="ContactMessage" id="email-form" method="post" enctype="multipart/form-data" autocomplete="off">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-edit"></i> Compose </h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <!-- Recipient Email -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="receipient-email" class="input-group-label">Recipient Email:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                                </div>
                                <input required id="receipient-email" name="ReceipientEmail" class="form-control" placeholder="Enter recipient email" aria-required="true" />
                                <span asp-validation-for="ReceipientEmail" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Subject -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subject" class="input-group-label">Email Subject:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-comment-alt"></i></span>
                                </div>
                                <input id="subject" name="Subject" class="form-control" asp-for="Subject" placeholder="Enter subject" maxlength="50" />
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Message Content -->
                <div class="form-group">
                    <div class="col-lg-12">
                        @Html.TextAreaFor(model => model.RawMessage, new { @class = "form-control", @rows = 3 })
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="card-footer">
                <div class="btn btn-default btn-file">
                    <i class="fas fa-paperclip"></i> Attachment
                    <img class="file-image doc-profile-image" id="documentImage0" src="@Applicationsettings.NO_IMAGE" alt="Document preview">
                    <input id="document" name="Attachment" type="file" accept="image/png, image/jpeg" class="form-control" />
                </div>
                <span class="help-block">Max. 2MB</span>
                <div class="float-right">
                    <button id="send-email" type="submit" asp-action="Create" class="btn btn-success"><i class="far fa-envelope"></i> Send</button>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/plugins/summernote/summernote.js"></script>
    <script src="~/js/compose-mail.js">
    </script>
}
