@{
	ViewData["Title"] = "Active Agencies";
}

<section class="content">
	<div id="article" class="card shadow-lg border-1 rounded-lg">
		<div class="card-header bg-secondary text-white text-center">
			<h3 class="card-title"><i class="fas fa-handshake"></i> Active Agencies</h3>
		</div>
		<form id="checkboxes" method="post" asp-action="Agencies">
			<div class="card-body">
				<div class="submit-progress hidden">
					<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
				</div>

				<table id="dataTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
					<thead>
						<tr>
							<th data-orderable="false"><input type="checkbox" name="select_all" id="checkall" value="0" title="select all to depanel" data-bs-toggle="tooltip" /></th>
							<th data-orderable="false" title="Agency Name / logo" data-bs-toggle="tooltip">
								<i class="far fa-file-word"></i>
							</th>
							<th title="Domain" data-bs-toggle="tooltip">
								Domain
							</th>
							<th title="Street Address" data-bs-toggle="tooltip">
								Street Address
							</th>
							<th title="District" data-bs-toggle="tooltip">
								District
							</th>
							<th title="State" data-bs-toggle="tooltip">
								State
							</th>
							<th title="Country" data-bs-toggle="tooltip">
								Country
							</th>
							<th title="Pincode" data-bs-toggle="tooltip">
								Pincode
							</th>
							<th title="Current Case(s)" data-bs-toggle="tooltip">Case(s)</th>
							<th title="Updated By" data-bs-toggle="tooltip">
								Updated By
							</th>
							<th title="Updated Time" data-bs-toggle="tooltip">
								Updated Time
							</th>
							
							<th></th>
							<th></th>
							<th title="Action" data-bs-toggle="tooltip">Action</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="card-footer">
				<div class="row float-right">
					<div class="col-md-12">
						<a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-sm btn-outline-secondary">
							<i class="fas fa-arrow-left"></i>
							<span class="badge badge-light"> <i class="fa fa-home"></i> </span>	Back
						</a>

						<button id="empanel-vendors" disabled type="submit" class="btn btn-sm btn-warning">
							<i class="fas fa-hand-pointer" aria-hidden="true"></i> Depanel
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
@section Scripts {
	<script src="~/js/manager/empanelled-agencies.js"></script>
}