@{
    ViewData["Title"] = "Case: Completed";
}

<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title"><i class="fas fa-print"></i> Completed
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i> Completed claims <span class='badge badge-light btn-xs'> <i class="fas fa-print"></i></span>
                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i> See  <b> <button class='badge badge-info btn-lg'><i class='fas fa-search'></i> DETAIL</button></b> for more
                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i>  Download report <b> <button class='badge badge-danger btn-lg'><i class='far fa-file-pdf'></i> PDF</button></b>
                        </li>
                    </span>
                </span>
            </h3>
        </div>
        <div class="card shadow-lg border-1 rounded-lg">
            <button id="refreshTable" class="btn btn-default"> <i id="refreshIcon" class="fas fa-sync"></i> Refresh</button>
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <form id="checkboxes" asp-action="Assign" method="post" enctype="multipart/form-data">

                <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th data-toggle="tooltip" title="Case Number" alt="Case Number"><img class="action-image" src="~/headers/policy-num.gif" /></th>
                            <th data-toggle="tooltip" title="Assured Amount" alt="Assured Amount"><img class="action-image" src="~/headers/amount.gif" /></th>
                            <th data-toggle="tooltip" title="Insurance Company"><img class="action-image" src="~/headers/company.gif" /></th>
                            <th data-toggle="tooltip" title="Address of Interest" alt="Address of Interest"><img class="action-image" src="~/headers/pincode.gif" /></th>
                            <th data-toggle="tooltip" title="Policy Document" alt="Policy Document"><img class="action-image" src="~/headers/policy-doc.gif" /></th>
                            
                            <th data-toggle="tooltip" title="Customer Photo" alt="Customer Photo"><img class="action-image" src="~/headers/portrait.gif" /></th>
                            <th data-toggle="tooltip" title="Customer Name" alt="Customer Name"><img class="action-image" src="~/headers/customer.gif" /></th>
                            <th data-toggle="tooltip" title="Case Type" alt="Case Type"><img class="action-image" src="~/headers/claim-type.gif" /></th>
                            <th data-toggle="tooltip" title="Service" alt="Service"><img class="action-image" src="~/headers/service.gif" /></th>
                            <th data-toggle="tooltip" title="Status" alt="Status"><img class="action-image" src="~/headers/status.gif" /></th>
                            <th data-toggle="tooltip" title="Completed Date" alt="Completed Date"><img class="action-image" src="~/headers/created.gif" /></th>
                            <th data-toggle="tooltip" title="Duration since Completed">
                                <img class="action-image" src="~/headers/timer.gif" />
                            </th>
                            <th data-toggle="tooltip" title="Action"><img class="action-image" src="~/headers/action.gif" /></th>
                        </tr>
                    </thead>
                </table>
            </form>
        </div>

    </div>
</section>
@section Scripts {
    <script src="~/js/supervisor/agency-completed.js"></script>
}