@{
    ViewData["Title"] = "Index";
}

<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title">
                <i class="fa fa-toggle-on"></i> Active
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i>
                            <button class='badge badge-default xs top-info'>
                                <b>
                                    <i class="fa fa-sync"></i> Refresh
                                </b>
                            </button>
                        </li>
                        <li>
                            <i class='far fa-hand-point-right'></i> Active cases.
                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i> <button class='badge badge-info xs'>
                                <span class="badge badge-info"><i class='fas fa-search'></i> </span> Detail
                            </button>
                        </li>
                    </span>
                </span>
            </h3>

        </div>
        <div class="card shadow-lg border-1 rounded-lg">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <button id="refreshTable" class="btn btn-default"> <i id="refreshIcon" class="fas fa-sync"></i> Refresh</button>
        </div>
        <div class="card-body">
            
            <form id="checkboxes" asp-action="Assign" method="post" enctype="multipart/form-data">
                <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th data-toggle="tooltip" title="Case Number" alt="Case Number"><img class="action-image" src="~/headers/policy-num.gif" /></th>
                            <th data-toggle="tooltip" title="Assured Amount" alt="Assured Amount"><img class="action-image" src="~/headers/amount.gif" /></th>
                            <th data-toggle="tooltip" title="Case Owner"><img class="action-image" src="~/headers/owner.gif" /></th>
                            <th data-toggle="tooltip" title="Address of Interest" alt="Address of Interest"><img class="action-image" src="~/headers/pincode.gif" /></th>
                            <th data-toggle="tooltip" title="Driving Distance" alt="Driving Distance"><img class="action-image" src="~/headers/driving.gif" /></th>
                            <th data-toggle="tooltip" title="Driving  Duration" alt="Driving  Duration"><img class="action-image" src="~/headers/driving-time.gif" /></th>
                            <th data-toggle="tooltip" title="Case Document" alt="Case Document"><img class="action-image" src="~/headers/policy-doc.gif" /></th>

                            <th data-toggle="tooltip" title="Customer Photo" alt="Customer Photo"><img class="action-image" src="~/headers/portrait.gif" /></th>
                            <th data-toggle="tooltip" title="Customer Name" alt="Customer Name"><img class="action-image" src="~/headers/customer.gif" /></th>
                            <th data-toggle="tooltip" title="Case Type" alt="Case Type"><img class="action-image" src="~/headers/claim-type.gif" /></th>
                            <th data-toggle="tooltip" title="Investigative  Service" alt="Investigative  Service"><img class="action-image" src="~/headers/service.gif" /></th>

                            <th data-toggle="tooltip" title="Submitted Date" alt="Submitted Date"><img class="action-image" src="~/headers/created.gif" /></th>
                            <th data-toggle="tooltip" title="Duration since Submitted">
                                <img class="action-image" src="~/headers/timer.gif" />
                            </th>
                            <th data-toggle="tooltip" title="Action"><img class="action-image" src="~/headers/action.gif" /></th>
                        </tr>
                    </thead>

                </table>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/supervisor/agency-open.js"></script>
}