@model ServiceModel
@{
	ViewData["Title"] = "Agency Service";
}
<section class="content">
	<div id="article" class="card shadow-lg border-1 rounded-lg">
		<div class="card-header bg-secondary text-white text-center">
			<h3 class="card-title"><i class="fas fa-cogs"></i> Manage Service</h3>
		</div>
		<div class="card-body">
			<div class="submit-progress hidden">
				<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
			</div>
			<input type="hidden" asp-for="Id" />
			<table id="dataTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
				<thead>
					<tr>
						<th></th>
						<th data-toggle="tooltip" title="CaseType">CaseType</th>
						<th data-toggle="tooltip" title="Verification Type">Verification Type</th>
						<th data-toggle="tooltip" title="Rate">Rate</th>
						<th data-toggle="tooltip" title="District">District</th>
						<th data-toggle="tooltip" title="State">State</th>
						<th data-toggle="tooltip" title="Country">Country</th>
						<th data-toggle="tooltip" title="Updated By">Updated By</th>
						<th data-toggle="tooltip" title="Updated Time">Updated Time</th>
						<th data-toggle="tooltip" title="Actions">Actions</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="card-footer">
			<div class="row float-right">
				<div class="col-md-12">
					<div class="form-group">
						<a id="back" asp-controller="ActiveAgency" asp-action="Profile" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" title="Back to Agency Profile">
							<i class="fas fa-arrow-left"></i>
							<span class="badge badge-light"> <i class="fas fa-building"></i> </span> Back
						</a>

						<a class="create-agency-service btn btn-sm btn-success" asp-controller="ActiveAgencyService" asp-action="Create" asp-route-id="@Model.Id"><i class="fas fa-cog"></i> @Applicationsettings.CREATE Service</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts {
	<script src="~/js/manager/active-agency-services.js"></script>
}