@model risk.control.system.Models.BeneficiaryDetail

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
}

<section class="content">
    <form id="create-form" asp-controller="CreatorManualPost" asp-action="CreateBeneficiary" enctype="multipart/form-data">
        <partial name="Creator/_CreateBeneficiary" model="Model" />
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/create-beneficiary.js">
    </script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/common/profile-image-upload.js"></script>

}
