@model risk.control.system.Models.CustomerDetail

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
}
<section class="content">
    <form id="create-form" asp-controller="CreatorManualPost" asp-action="CreateCustomer" method="post" enctype="multipart/form-data">
            <input type="hidden" id="claimtype" name="claimtype" value="manual" />
         <partial name="Creator/_CreateCustomer" model="Model" />
    </form>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/create-customer.js"></script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/common/profile-image-upload.js"></script>
}
