@model ClaimTransactionModel

@{
    ViewData["Title"] = "Delete";
}
<section class="content">
    <div id="article" class="card card-secondary">
        <partial name="Creator/_Delete" model="Model" />

        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <form id="create-form" asp-controller="CreatorPost" asp-action="Delete">
                        <input type="hidden" asp-for="ClaimsInvestigation.CREATEDBY" value="@CREATEDBY.MANUAL" />
                        <a id="back" asp-action="New" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
                        <input type="hidden" asp-for="ClaimsInvestigation.ClaimsInvestigationId" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/delete-claim.js">

    </script>
    <script src="~/js/common/claim-details.js"></script>
}
