@model risk.control.system.Models.ClaimsInvestigation

@{
    ViewData["Title"] = "Edit";

    var hasClientCompany = @Model.HasClientCompany ? "none" : "";
}
<section class="content">
    <form id="create-form" method="post" asp-controller="CreatorManualPost" asp-action="EditPolicy" enctype="multipart/form-data">
    <input type="hidden" id="claimtype" name="claimtype" value="manual" />
        <partial name="Creator/_EditPolicy" model="Model" />
        
    </form>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/edit-policy.js"></script>
    <script src="~/js/common/profile-image-upload.js"></script>
}
