@model CaseInvestigationVendorsModel


<div class="col-12 col-md-6">



    <div class="card bg-light border-success">

        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-user-edit"></i> Supervisor comments:
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <span>
                            <i class="fas fa-user-shield"></i><b> @Model?.ClaimsInvestigation.InvestigationReport?.SupervisorEmail</b> comments.
                        </span>

                    </span>
                </span>
            </h3>
            <div class="card-tools">
                <span data-bs-toggle="tooltip" title=" Supervisor :  @Model?.ClaimsInvestigation.InvestigationReport?.SupervisorEmail" class="badge badge-light">
                    <i class="nav-icon fas fa-clock"></i> @Model.ClaimsInvestigation.InvestigationReport?.SupervisorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                </span>
            </div>

        </div>
        <div class="progress">
            <i class="far fa-bookmark bookmark-green"></i>
            <div class="progress-bar progress-bar-green" role="progressbar">
                supervisor comments
            </div>
        </div>
        <div class="card-footer text-muted border-bottom-0">
            <i class="fas fa-user-shield"></i>  Supervisor :<span class="badge badge-light">  @Model?.ClaimsInvestigation.InvestigationReport.SupervisorEmail </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                   
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Supervisor Remarks</th>
                                    <th class="w-30">Document</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-start">
                                        <div class="bg-light rounded p-2 text-muted">
                                            @Model.ClaimsInvestigation.InvestigationReport?.SupervisorRemarks
                                        </div>
                                    </td>

                                    <td>
                                        @if (Model.ClaimsInvestigation.InvestigationReport?.SupervisorAttachment != null)
                                        {
                                            <img class="img-fluid doc-profile-image" src="data:image/*;base64,@(Convert.ToBase64String(Model.ClaimsInvestigation.InvestigationReport.SupervisorAttachment))" alt="Attachment">

                                                <a asp-controller="Download"
                                                   asp-action="SupervisorFileAttachment"
                                                   asp-route-id="@Model.ClaimsInvestigation.InvestigationReport.Id"
                                                   class="mailbox-attachment-name">
                                                    <i class="fas fa-paperclip"></i>
                                                </a>
                                        }
                                        else
                                        {
                                            <img src="@Applicationsettings.NO_IMAGE" alt="No Document" class="img-thumbnail doc-preview">
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>