@{
    ViewData["Title"] = "Claim: Approved ";
}

<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title">
                <i class="far fa-thumbs-up"></i> Approved
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i> APPROVED cases <i class="fas fa-print"></i>
                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i> See  <b> <button class='badge badge-info btn-lg'><i class='fas fa-search'></i> DETAIL</button></b> for more
                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i>  Download report <b> <button class='badge badge-danger btn-lg'><i class='far fa-file-pdf'></i> PDF</button></b>
                        </li>
                    </span>
                </span>
            </h3>
        </div>
        <div class="filter-refresh-container shadow-lg border-1 rounded-lg">
            <div class="filter-group">
                <label for="caseTypeFilter" class="filter-label">
                    <i class="bi bi-funnel"></i> Case Type:
                </label>
                <select id="caseTypeFilter" class="form-select custom-select">
                    <option value="">All</option>
                    <option value="@InsuranceType.CLAIM">@CONSTANTS.CLAIM</option>
                    <option value="@InsuranceType.UNDERWRITING">@CONSTANTS.UNDERWRITING</option>
                </select>
            </div>
            <div class="shadow-lg border-1 rounded-lg">

                <button id="refreshTable" class="btn btn-light refresh-button">
                    <i id="refreshIcon" class="fas fa-sync"></i> Refresh
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <form id="checkboxes" asp-action="Assign" method="post" enctype="multipart/form-data">
                <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th data-toggle="tooltip" title="Case Number" alt="Case Number"><img class="action-image" src="~/headers/policy-num.gif" /></th>
                            <th data-toggle="tooltip" title="Asssured Amount"><img class="action-image" src="~/headers/amount.gif" /></th>
                            <th data-toggle="tooltip" title="Agency Name"><img class="action-image" src="~/headers/agency.gif" /></th>
                            <th data-toggle="tooltip" title="Address of Interest" alt="Address of Interest"><img class="action-image" src="~/headers/pincode.gif" /></th>
                            <th data-toggle="tooltip" title="Driving Distance"><img class="action-image" src="~/headers/driving.gif" /></th>
                            <th data-toggle="tooltip" title="Driving  Duration"><img class="action-image" src="~/headers/driving-time.gif" /></th>
                            <th data-toggle="tooltip" title="Policy Document" alt="Policy Document"><img class="action-image" src="~/headers/policy-doc.gif" /></th>
                            
                            <th data-toggle="tooltip" title="Customer Photo" alt="Customer Photo"><img class="action-image" src="~/headers/portrait.gif" /></th>
                            <th data-toggle="tooltip" title="Customer Name" alt="Customer Name"><img class="action-image" src="~/headers/customer.gif" /></th>
                            <th data-toggle="tooltip" title="Beneficiary Photo" alt="Beneficiary Photo"><img class="action-image" src="~/headers/portrait.gif" /></th>
                            <th data-toggle="tooltip" title="Beneficiary Name" alt="Beneficiary Name"><img class="action-image" src="~/headers/customer.gif" /></th>
                            <th data-toggle="tooltip" title="Case Type" alt="Case Type"><img class="action-image" src="~/headers/claim-type.gif" /></th>
                            <th data-toggle="tooltip" title="Approved Date" alt="Approved Date"><img class="action-image" src="~/headers/created.gif" /></th>
                            <th data-toggle="tooltip" title="Allocated(Auto)"><img class="action-image" src="~/headers/auto.gif" /></th>
                            <th data-toggle="tooltip" title="Duration since Approved">
                                <img class="action-image" src="~/headers/timer.gif" />
                            </th>
                            <th data-toggle="tooltip" title="Action"><img class="action-image" src="~/headers/action.gif" /></th>
                        </tr>
                    </thead>
                </table>
            </form>
            <div id="maps" class="col-md-12">
                <div id="map"></div>

            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/assessor/company-report.js"></script>

}