@{
    ViewData["Title"] = "Assess";
}
<section class="content">
    <div class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title">
                <i class="fas fa-glasses"></i> Assess <sub>report</sub>
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i> Select  <input type='radio' /> Report
                        </li>
                        <li>
                            <i class='far fa-hand-point-right'></i>  <button class='btn btn-danger btn-xs'>
                                <span class='badge badge-danger btn-xs'>
                                    <i class='fas fa-glasses'></i>
                                </span> <b>Assess</b> <sub>report</sub>
                            </button>
                        </li>
                        <li>
                            <i class='fa fa-hand-peace-o'></i> Finalize case report
                        </li>
                    </span>
                </span>
            </h3>
        </div>
        <div class="card shadow-lg border-1 rounded-lg">
            <button id="refreshTable" class="btn btn-default"> <i class="fas fa-sync"></i> Refresh</button>
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <form id="checkboxes" asp-action="GetInvestigateReport" method="get" enctype="multipart/form-data">
                <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                        <tr>
                            <th><img class="action-image" src="~/headers/arrow-down.gif" data-toggle="tooltip" title="Select Case to Assess" /></th>
                            <th><img class="action-image" src="~/headers/policy-num.gif" data-toggle="tooltip" title="Case Number" alt="Case Number" /></th>
                            <th><img class="action-image" src="~/headers/amount.gif" data-toggle="tooltip" title="Insured Amount" alt="Insured Amount" /></th>
                            <th><img class="action-image" src="~/headers/agency.gif" data-toggle="tooltip" title="Agency Name" /></th>
                            <th><img class="action-image" src="~/headers/pincode.gif" data-toggle="tooltip" title="Address of Interest" alt="Address of Interest" /></th>
                            <th><img class="action-image" src="~/headers/driving.gif" data-toggle="tooltip" title="Driving Distance" alt="Driving Distance" /></th>
                            <th><img class="action-image" src="~/headers/driving-time.gif" data-toggle="tooltip" title="Driving  Duration" alt="Driving  Duration" /></th>
                            <th><img class="action-image" src="~/headers/policy-doc.gif" data-toggle="tooltip" title="Policy Document" alt="Policy Document" /></th>
                           
                            <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Customer Photo" alt="Customer Photo" /></th>
                            <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Customer Name" alt="Customer Name" /></th>
                            <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Beneficiary Photo" alt="Beneficiary Photo" /></th>
                            <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Beneficiary Name" alt="Beneficiary Name" /></th>
                            <th><img class="action-image" src="~/headers/claim-type.gif" data-toggle="tooltip" title="Case Type" alt="Case Type" /></th>

                            <th><img class="action-image" src="~/headers/status.gif" data-toggle="tooltip" title="Status" alt="Status" /></th>
                            <th><img class="action-image" src="~/headers/created.gif" data-toggle="tooltip" title="Created date" alt="Created Date" /></th>
                            <th><img class="action-image" src="~/headers/auto.gif" data-toggle="tooltip" title="Allocated(Auto)" /></th>
                            <th>
                                <img class="action-image" src="~/headers/timer.gif" data-toggle="tooltip" title="Days since Submitted" />
                            </th>

                        </tr>
                    </thead>
                </table>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>

                            <button disabled id="allocatedcase" type="submit" class="btn btn-danger">
                                <span class="badge badge-danger"> <i class="fas fa-glasses" aria-hidden="true"></i> </span>
                                Assess <sub>report</sub>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div id="maps" class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/assessor/assessor-claims.js"></script>
}
