@model ApplicationUser
@{
    ViewData["Title"] = @Applicationsettings.CREATE;

}
<section class="content">
    <form id="create-form" asp-action="Create" enctype="multipart/form-data">
        <div class="card shadow-lg border-1 rounded-lg">
            <div class="card-header bg-secondary text-white text-center">
                <h3 class="card-title"><i class="fas fa-plus"></i>  @Applicationsettings.USER</h3>
            </div>
            <div class="card-body">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control remarks" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control remarks" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control remarks" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" class="form-control remarks" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input id="PhoneNumber" type="text" asp-for="PhoneNumber" class="form-control remarks" required maxlength="14" value="" placeholder="Phone # with country code" title="Please enter a 10-digit phone # without country-code" data-toggle="tooltip" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProfileImage" class="control-label"></label>
                            <img id="ProfileImage" class="form-Image">
                            <input asp-for="ProfileImage" class="form-control remarks" type="file" onchange="document.getElementById('ProfileImage').src = window.URL.createObjectURL(this.files[0])" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="input-group-label" for="CountryId"> Country:</span>
                            <div class="input-group mb-3 autocomplete-wrapper">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="CountryId"><i class="fas fa-map-marked-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" id="CountryId" class="form-control remarks auto-dropdown" data-placeholder="country" placeholder="Type country..." asp-for="CountryId" required value="" />
                                <span asp-validation-for="CountryId" class="text-danger"></span>
                                <input asp-for="SelectedCountryId" type="hidden" id="SelectedCountryId" name="SelectedCountryId" value="@Model?.CountryId" />
                                <div id="country-loading" class="loading-spinner">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label" for="StateId"> State:</span>
                            <div class="input-group mb-3 autocomplete-wrapper">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="StateId"><i class="fas fa-map-marker-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" id="StateId" class="form-control remarks auto-dropdown" data-placeholder="state" placeholder="Type state..." asp-for="StateId" required value="" />
                                <span asp-validation-for="StateId" class="text-danger"></span>
                                <input asp-for="SelectedStateId" type="hidden" id="SelectedStateId" name="SelectedStateId" value="@Model?.StateId" />
                                <div id="state-loading" class="loading-spinner">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label" for="DistrictId">District:</span>
                            <div class="input-group mb-3 autocomplete-wrapper">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="DistrictId">
                                        <i class="fas fa-city"></i>
                                        <i class="fa fa-asterisk asterik-style"></i>
                                    </span>
                                </div>
                                <input type="text" id="DistrictId" class="form-control remarks auto-dropdown" data-placeholder="district" placeholder="Type district..." asp-for="DistrictId" required value="" />
                                <span asp-validation-for="DistrictId" class="text-danger"></span>
                                <input asp-for="SelectedDistrictId" type="hidden" id="SelectedDistrictId" name="SelectedDistrictId" value="@Model?.DistrictId" />
                                <div id="district-loading" class="loading-spinner">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label" for="PinCodeId">Pincode:</span>
                            <div class="input-group mb-3 autocomplete-wrapper">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="PinCodeId">
                                        <i class="fas fa-map-pin"></i>
                                        <i class="fa fa-asterisk asterik-style"></i>
                                    </span>
                                </div>
                                <input type="text" id="PinCodeId" class="form-control remarks auto-dropdown" data-placeholder="pincode" placeholder="Type pincode or name" asp-for="PinCodeId" required value="" />
                                <span asp-validation-for="PinCodeId" class="text-danger"></span>
                                <input asp-for="SelectedPincodeId" type="hidden" id="SelectedPincodeId" name="SelectedPincodeId" value="@Model?.PinCodeId" />
                                <div id="pincode-loading" class="loading-spinner">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group text-right">
                            <a id="cancel" asp-controller="User" asp-action="Index" class="btn btn-secondary">
                                <i class="fa fa-window-close"></i>
                                @Applicationsettings.CANCEL
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-plus"></i> @Applicationsettings.CREATE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company-admin/create-user.js">
    </script>
    <script src="~/js/company-admin/pincode.js">
    </script>
}
