@model risk.control.system.Models.ServiceReportTemplate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ServiceReportTemplate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientCompanyId" value="@Model.ClientCompanyId" class="form-control" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineOfBusinessId" class="control-label"></label>
                <select id="LineOfBusinessId" asp-for="LineOfBusinessId" class="form-control" asp-items="ViewBag.LineOfBusinessId" onchange="loadInvestigationServices(this)">
                    <option>--- SELECT BUSINESS ---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="InvestigationServiceTypeId" class="control-label"></label>
                <select id="InvestigationServiceTypeId" asp-for="InvestigationServiceTypeId" class="form-control" onchange="setInvestigationServices(this)" asp-items="ViewBag.InvestigationServiceTypeId">
                    <option>--- SELECT SERVICE ---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ReportTemplateId" class="control-label"></label>
                <select asp-for="ReportTemplateId" class ="form-control" asp-items="ViewBag.ReportTemplateId">
                    <option>--- SELECT TEMPLATE ---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
