@model risk.control.system.Models.LineOfBusiness

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
}
<section class="content">
    <div class="card bg-light card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-business-time"></i> Add New</h3>
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <form id="create-form" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="LineOfBusinessId" />
                <div class="form-group">
                    <span class="input-group-label"> Line of Business:</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Name"><i class="fas fa-business-time"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input type="text" asp-for="Name" class="form-control remarks title-name" required placeholder="Line of Business Name" value="" maxlength="20">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <span class="input-group-label"> Line of Business Code:</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Code"><i class="fas fa-code"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input type="text" asp-for="Code" class="form-control remarks title-name" required placeholder="Line of Business Code" value="" maxlength="5">
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group text-right">
                    <a id="back" asp-action="Index" class="btn btn-secondary">
                        <i class="fa fa-window-close"></i>
                        @Applicationsettings.CANCEL
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-business-time"></i> Add New
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/lob.js">

    </script>
}
