@using risk.control.system.Helpers;
@model CaseInvestigationVendorsModel

@{
    ViewData["Title"] = "Case: Report ";
}

<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title"><i class="fa fa-binoculars"></i> Submit
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                           <button class='badge badge-info btn-xs'><i class='fa fa-upload'></i> Upload</button> Photo ID Image

                        </li>
                        <li>
                            <button class='badge badge-info btn-xs'><i class='fa fa-upload'></i> <b>Upload</b> </button> PAN card Image

                        </li>
                        <li>
                            <i class='far fa-hand-point-right'></i>  Fill-up <i class='fa fa-comments'></i> Questionnaire (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())

                        </li>
                        <li>
                            <i class='far fa-hand-point-right'></i> Check T&C <input type="checkbox"> checkbox
                        </li>
                        <li>
                             <button class='badge badge-danger btn-xs'><i class='fa fa-binoculars'></i> <b>SUBMIT</b> </button>
                        </li>
                    </span>
                </span>
            </h3>
        </div>
        <partial name="_PolicyDetails" model="@Model" />
        <partial name="_PolicyReport" model="@Model" />
    </div>
    <partial name="_TermsConditions" />

</section>
@section Scripts    {
    <script src="~/js/common/case-details.js">
    </script>
    <script src="~/js/case-map.js"></script>
    <script src="~/js/agent/get-investigate.js"></script>
}