@{
    ViewData["Title"] = "Case: Submitted ";
}

<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title"><i class="fas fa-print"></i> Submitted
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i> Submitted cases <span class='badge badge-light btn-xs'> <i class="fas fa-print"></i></span>
                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i> See  <b> <button class='badge badge-info btn-lg'><i class='fas fa-search'></i> DETAIL</button></b> for more
                        </li>
                    </span>
                </span>
            </h3>
        </div>
        <div class="card shadow-lg border-1 rounded-lg">
            <button id="refreshTable" class="btn btn-default"> <i id="refreshIcon" class="fas fa-sync"></i> Refresh</button>
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <table id="dataTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th><img class="action-image" src="~/headers/policy-num.gif" data-toggle="tooltip" title="Case Number" alt="Policy Number" /></th>
                        <th><img class="action-image" src="~/headers/amount.gif" data-toggle="tooltip" title="Insured Amount" alt="Insured Amount" /></th>
                        <th><img class="action-image" src="~/headers/pincode.gif" data-toggle="tooltip" title="Address of Interest" alt="Address of Interest" /></th>
                        <th><img class="action-image" src="~/headers/driving.gif" data-toggle="tooltip" title="Driving Distance" alt="Driving Distance" /></th>
                        <th><img class="action-image" src="~/headers/driving-time.gif" data-toggle="tooltip" title="Driving  Duration" alt="Driving  Duration" /></th>
                        <th><img class="action-image" src="~/headers/policy-doc.gif" data-toggle="tooltip" title="Case Document" alt="Case Document" /></th>

                        <th><img class="action-image" src="~/headers/portrait.gif" data-toggle="tooltip" title="Customer Photo" alt="Customer Photo" /></th>
                        <th><img class="action-image" src="~/headers/customer.gif" data-toggle="tooltip" title="Customer Name" alt="Customer Name" /></th>
                        <th><img class="action-image" src="~/headers/claim-type.gif" data-toggle="tooltip" title="Case Type" /></th>
                        <th><img class="action-image" src="~/headers/service.gif" data-toggle="tooltip" title="Service" alt="Service" /></th>
                        <th><img class="action-image" src="~/headers/created.gif" data-toggle="tooltip" title="Created date" alt="Created Date" /></th>
                        <th>
                            <img class="action-image" src="~/headers/timer.gif" data-toggle="tooltip" title="Days since Assigned" />
                        </th>
                        <th><img class="action-image" src="~/headers/action.gif" data-toggle="tooltip" title="Action" /></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/agent/agent-submitted.js"></script>
}