@model risk.control.system.Models.ClientCompany

@{
    ViewData["Title"] = @Applicationsettings.EDIT;
    Layout = "/Views/Shared/AdminLTE/_FormLayout.cshtml";
}

<section class="content pt-2">
    <div class="container-fluid ">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-building"></i> Edit @Applicationsettings.CLIENT_COMPANY Profile</h3>
                        </div>
                        <div class="card-body">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="ClientCompanyId" />

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="email">Domain </span>
                                            </div>
                                            <input readonly asp-for="Email" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="FirstName">Name <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Name" class="form-control title-name" required placeholder="Enter Company Name" maxlength="20">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Code">Code <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Code" class="form-control asterikx" required placeholder="Enter Company Code" maxlength="5">
                                            <span asp-validation-for="Code" class="text-danger"></span>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="PhoneNumber">Phone # <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="number" asp-for="PhoneNumber" class="form-control" required maxlength="10" placeholder="Enter Phone # (10 digit)" 
                                            min="2222222222" max="9999999999"/>
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Branch">Branch Name <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Branch" class="form-control  title-name" required placeholder="Enter Branch Name" maxlength="20">
                                            <span asp-validation-for="Branch" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="BankName">Bank Name <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="BankName" class="form-control title-name" required placeholder="Enter Bank Name" maxlength="20">
                                            <span asp-validation-for="BankName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="BankAccountNumber">Bank Account # <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="number" asp-for="BankAccountNumber" class="form-control" required placeholder="Bank Account #">
                                            <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="IFSCCode">Bank IFSC Code <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="IFSCCode" class="form-control asterikx" required placeholder="Bank IFSC Code" maxlength="20">
                                            <span asp-validation-for="IFSCCode" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="documentImageId">Company Document</span>
                                            </div>
                                            @if (Model?.DocumentUrl is not null)
                                            {
                                                <img id="documentImage" class="form-Image" src="@Model?.DocumentUrl">
                                            }
                                            else
                                            {
                                                <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                            }
                                            <input asp-for="DocumentImage" type="file" class="form-control" onchange="document.getElementById('documentImage').src = window.URL.createObjectURL(this.files[0])" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="AgreementDate">Agreement Date</span>
                                            </div>
                                            <input readonly type="text" asp-for="AgreementDate" class="form-control" required placeholder="Agreement Date">
                                            <span asp-validation-for="AgreementDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="ActivatedDate">Activated Date</span>
                                            </div>
                                            <input readonly type="text" asp-for="ActivatedDate" class="form-control" required placeholder="Activated Date">
                                            <span asp-validation-for="ActivatedDate" class="text-danger"></span>
                                        </div>
                                    </div>


                                    @*<div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="ActivatedDate">Status</span>
                                            </div>
                                            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<CompanyStatus>()">
                                                <option>--- SELECT STATUS ---</option>
                                            </select>
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                        </div>
                                    </div>
*@
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="CountryId">Country <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select asp-for="CountryId" class="form-control" id="CountryId" asp-items="ViewBag.CountryId" onchange="loadState(this)" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="CountryId" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="StateId">State <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select id="StateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this)" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>

                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="DistrictId">District <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>

                                            <span asp-validation-for="DistrictId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="PinCodeId">Pincode <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="PinCodeId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Addressline">Address line <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Addressline" class="form-control" placeholder="Enter Address line" maxlength="20" />
                                            <span asp-validation-for="Addressline" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Comments">Remarks <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Description" class="form-control" placeholder="Enter Remarks"  maxlength="20"/>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group text-right">
                                        <a asp-action="Index" class="btn btn-secondary">
                                            <i class="fa fa-window-close"></i>
                                            @Applicationsettings.CANCEL
                                        </a>
                                        <button type="submit" class="btn btn-warning">
                                            <i class="fas fa-building"></i>  Edit Company Profile
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
