@{
    ViewData["Title"] = @Applicationsettings.SERVICE;
}

<section class="content pt-2">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-handshake"></i> Empanelled Agencies</h3>
                    </div>
                    <div class="card-body">
                        <div class="submit-progress hidden">
                            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                        </div>
                        <form id="checkboxes" method="post" asp-action="EmpanelledVendors">
                            <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all" id="checkall" value="0" /></th>
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            Document
                                        </th>
                                        <th>
                                            Domain
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Code
                                        </th>
                                        <th>
                                            Phone
                                        </th>

                                        <th>
                                            Address
                                        </th>
                                        <th>
                                            District
                                        </th>
                                        <th>
                                            State
                                        </th>
                                        <th>
                                            Country
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    <a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-default"><i class="fas fa-arrow-left"></i> Back</a>

                                    <button id="manage-vendors" type="submit" class="btn btn-danger">
                                        <i class="fas fa-hand-pointer" aria-hidden="true"></i> Depanel
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts    {
    <script src="~/js/empanelled-vendors.js">

    </script>
    }