@model risk.control.system.Models.BeneficiaryDetail

<input asp-for="SelectedCountryId" type="hidden" id="SelectedCountryId" name="SelectedCountryId" value="@Model?.CountryId" />
<input type="hidden" id="CountryId" value="@Model?.CountryId" />

<div class="form-group">
    <label class="input-group-label" for="PinCodeText">Pincode:</label>
    <div class="input-group mb-3 autocomplete-wrapper">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fas fa-map-pin"></i>
                <i class="fa fa-asterisk asterik-style"></i>
            </span>
        </div>
        <input type="text" id="PinCodeText" class="form-control remarks auto-dropdown" required data-placeholder="pincode" placeholder="Type pincode or name" autocomplete="off" />
        <span asp-validation-for="PinCodeId" class="text-danger"></span>
        <input asp-for="SelectedPincodeId" type="hidden" id="SelectedPincodeId" name="SelectedPincodeId" value="@Model?.PinCodeId" />
        <input type="hidden" asp-for="PinCodeId" id="PinCodeId" />
        <div id="pincode-loading" class="loading-spinner">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="input-group-label" for="DistrictText">District:</label>
    <div class="input-group mb-3 autocomplete-wrapper">
        <div class="input-group-prepend">
            <span class="input-group-text" for="DistrictId">
                <i class="fas fa-city"></i>
                <i class="fa fa-asterisk asterik-style-disabled"></i>
            </span>
        </div>
        <input readonly type="text" id="DistrictText" class="form-control remarks" data-placeholder="district" data-bs-toggle="tooltip" placeholder="..." tabindex="-1" title="Auto-selected based on Pincode" />
        <span asp-validation-for="DistrictId" class="text-danger"></span>
        <input asp-for="SelectedDistrictId" type="hidden" id="SelectedDistrictId" name="SelectedDistrictId" value="@Model?.DistrictId"  />
        <input type="hidden" asp-for="DistrictId" id="DistrictId" />
        <div id="district-loading" class="loading-spinner">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="input-group-label" for="StateText"> State:</label>
    <div class="input-group mb-3 autocomplete-wrapper">
        @{
            var img = "/flags/" + @Model.Country.Code.ToLower() + ".png";
        }
        <div class="input-group-prepend">

            <span class="input-group-text country-code-text" data-bs-toggle="tooltip" title="Registered Country: @Model?.Country.Name">
                <img src="@img" class="flag-icon" data-bs-toggle="tooltip" alt="title=" Auto-selected based on Pincode"" /> @Model?.Country.Code<i class="fa fa-asterisk asterik-style-info"></i>
            </span>
        </div>
        <input readonly type="text" id="StateText" class="form-control remarks" data-placeholder="state" data-bs-toggle="tooltip" placeholder="..." tabindex="-1" title="Auto-selected based on Pincode" />
        <span asp-validation-for="StateId" class="text-danger"></span>
        <input asp-for="SelectedStateId" type="hidden" id="SelectedStateId" name="SelectedStateId" value="@Model?.StateId" />
        <input type="hidden" asp-for="StateId" id="StateId" />
        <div id="state-loading" class="loading-spinner">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
    </div>
</div>
