@model ClaimTransactionModel

@{
    ViewData["Title"] = "Create";

}

<section class="content">
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <input type="hidden" id="total-count" value="@Model.AvailableCount" />
            <input type="hidden" id="max-count" value="@Model.TotalCount" />
            <h3 class="card-title">
                <i class="fas fa-pen-alt"></i> Add New
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <span>
                            <i class='far fa-hand-point-right'></i> Add Policy details.<i class='far fa-thumbs-up'></i> Complete detail through wizard. <b> <i class='fa fa-hand-peace-o'></i> ASSIGN</b> to Agency
                        </span>

                    </span>
                </span>
            </h3>


        </div>
        @{
            string address = string.Empty;
            string baddress = string.Empty;
            int currentAgeinYrs = 0;

            <div class="container d-flex justify-content-center align-items-center">

                <div class="progresses">
                    <div class="steps2">
                        <span> <i class="far fa-file-powerpoint"></i></span>
                    </div>

                    <span class="line"></span>

                    <div class="steps3">
                        <span class="font-weight-bold"><i class="fa fa-user-plus"></i></span>
                    </div>

                    <span class="line"></span>

                    <div class="steps3">
                        <span class="font-weight-bold"><i class="fas fa-user-tie"></i></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header bg-light border-bottom">
                                <i class="far fa-file-powerpoint"></i> Policy Details 
                                <span class="hover-text">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltip-text" id="policy-information">
                                        <i class='far fa-file-powerpoint'></i><b> Add Policy details.</b>
                                    </span>
                                </span>
                            </div>
                            <div class="progress">
                                <i class="far fa-bookmark bookmark-green"></i>
                                <div class="progress-bar" role="progressbar" style="width:100%;background-color:grey;">
                                    <i class="far fa-file-powerpoint"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>Policy #: ...</b></h2>
                                        <p class="text-muted text-sm">
                                            <b>Claim Type: </b>...
                                        </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-money-bill-wave"></i>
                                                </span>
                                                Sum Assured: <i class="fas fa-rupee-sign"></i>...
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="far fa-calendar-check"></i>
                                                </span>
                                                Issue Date: dd-MMM-yyyy
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-tools"></i>
                                                </span>
                                                Service Type: ...
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                                Incident Date: dd-MMM-yyyy
                                            </li>

                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas far fa-flag"></i>
                                                </span>
                                                Cause: ...
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fas fa-puzzle-piece"></i>
                                                </span>
                                                Reason: ...
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-money-check-alt"></i>
                                                </span>
                                                Budget center:...
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa fa-file-alt"></i>
                                                </span>
                                                ......:...
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img id="documentImage" alt="policy-image" class="img-fluid form-Image" src=@Applicationsettings.POLICY_BLANK_IMAGE />
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    @if (Model.AllowedToCreate)
                                    {
                                        <a id="create-policy" class="btn btn-success" asp-controller="InsurancePolicy" asp-action="CreatePolicy"><i class="far fa-file-powerpoint"></i> Add Policy</a>
                                    }
                                    else
                                    {
                                        <button disabled id="create-policy" class="btn btn-secondary"><i class="far fa-file-powerpoint"></i> Add Policy</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                <i class="fa fa-user-plus"></i> Customer Details
                                <span class="hover-text">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltip-text" id="customer-information">
                                        <i class='fa fa-user-plus'></i> <b>Add Customer Information.</b>
                                    </span>
                                </span>
                            </div>
                            <div class="progress">
                                <i class="far fa-bookmark bookmark-green"></i>
                                <div class="progress-bar" role="progressbar" style="width:100%;background-color:lightgrey;">
                                    <i class="fa fa-user-plus" style="color:black;"></i>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b></b></h2>
                                        <p class="text-muted text-sm">
                                            <b></b>
                                        </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small">
                                                <span class="fa-li">
                                                </span>
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                </span>
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                </span>
                                            </li>

                                            <li class="small">
                                                <span class="fa-li">
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img id="profileImage" class="form-Image" src="@Applicationsettings.NO_USER">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">

                                    <form>
                                        <a class="btn btn-outline-secondary"><i class="CaseReadyToAssign fa fa-user-plus"></i> Customer</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                <i class="fas fa-user-tie" style="color:black;"></i>  Beneficiary Details
                                <span class="hover-text">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltip-text" id="beneficiary-information">

                                        <b> <i class='fas fa-user-tie'></i> Add Beneficiary Details </b>
                                    </span>
                                </span>
                            </div>
                            <div class="progress">
                                <i class="far fa-bookmark bookmark-green"></i>
                                <div class="progress-bar" role="progressbar" style="width:100%;background-color:lightgrey;">
                                    <i class="fas fa-user-tie" style="color:black;"></i>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b></b></h2>
                                        <p class="text-muted text-sm">
                                            <b></b>
                                        </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small">
                                                <span class="fa-li">
                                                </span>
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                </span>
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">

                                        <img class="form-Image" id="profileImage" src="@Applicationsettings.NO_USER">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">

                                    <form>
                                        <a class="CaseReadyToAssign btn btn-outline-secondary"><i class="fas fa-user-tie"></i> Beneficiary</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="card-footer d-flex justify-content-center align-items-center">
                <div class="row">

                    <div class="col-md-12">
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="detail-wizard"> Complete details <i class="fas fa-hand-point-up"></i> to <b> ASSIGN </b> <i class="far fa-hand-point-down"></i></span>
                        </div>
                        <div>
                            <a id="back" asp-controller="ClaimsInvestigation" asp-action="Incomplete" class="btn btn-outline-secondary"><span class="badge badge-light"> <i class="fas fa-arrow-left"></i> </span> Draft </a>
                            @if (Model.AutoAllocation)
                            {
                                <button disabled id="assign-list" class="btn btn-warning disabled">
                                    <span class="badge badge-warning"> <i class="fas fa-random"></i></span><b> ASSIGN </b> <i class="small-suffix"> auto</i>
                                </button>

                            }
                            <button disabled id="assign-manual-list" class="btn btn-danger disabled">
                                <span class="badge badge-danger"> <i class="fas fa-external-link-alt"></i></span> <b> ASSIGN </b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/create-policy.js"></script>

}
